/* ::::: http://misc.360buyimg.com/lib/skin/2013/base.css ::::: */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0px; padding: 0px; }
ol, ul { list-style: outside none none; }
:focus { outline: 0px none; }
a img { border: 0px none; }
img { vertical-align: middle; }
em { font-style: normal; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0px none; padding: 0px; }
.fl { float: left; }
.fr { float: right; }
.clr { display: block; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 0px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb { overflow: hidden; }
.m, .sm { margin-bottom: 10px; }
.mt, .smt { cursor: default; }
.mt h2, .smt h3 { font-family: "microsoft yahei"; }
.form label, .form input, .form select, .form textarea, .form button, .form .label { float: left; font-size: 12px; }
.hide { display: none; }
.btn-img, .button { display: inline-block; margin: 0px; padding: 0px; border: 0px none; text-align: center; cursor: pointer; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
h2, h3 { font-size: 14px; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
.w { width: 990px; margin: 0px auto; }
.root61 .w { width: 1210px; }
.lh { overflow: hidden; }
.lh li, .lh dl, .lh .item { float: left; }
.ld { position: relative; }
.ld s, .ld b, .ld .block { position: absolute; overflow: hidden; }
.p-img, .p-name, .p-price, .p-market, .p-detail { overflow: hidden; }
.p-img { padding: 5px 0px; }
.p-img a:link, .p-img a:visited { text-decoration: none; }
.p-name, .p-detail { word-break: break-all; word-wrap: break-word; }
.p-price { color: rgb(153, 153, 153); }
.p-price strong, .p-market strong { color: rgb(228, 57, 60); }
img.err-product, img.err-poster { background: transparent url('../images/error-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 b, .loading-style2 { background: transparent url('../images/loading-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 { width: 126px; margin: 0px auto; text-align: center; color: rgb(153, 153, 153); }
.loading-style1 b { display: block; width: 43px; height: 24px; margin: 0px auto 5px; }
#shortcut-2013 .fl b, #shortcut-2013 .fr b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#shortcut-2013, #shortcut-2013 .w { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#shortcut-2013 { width: 100%; border-bottom: 1px solid rgb(238, 238, 238); line-height: 30px; }
#shortcut-2013 li { height: 30px; padding: 0px 11px 0px 12px; }
#shortcut-2013 li s { top: 9px; left: 0px; width: 0px; height: 12px; border-left: 1px solid rgb(221, 221, 221); overflow: hidden; }
#shortcut-2013 b { transition: transform 0.2s ease-in 0s; }
#shortcut-2013 .fl { overflow: visible; }
#shortcut-2013 .fl .fore1 { padding-left: 16px; z-index: 13; }
#shortcut-2013 .fl b { top: 8px; left: 0px; width: 13px; height: 13px; background: transparent url('../images/20130725.png') no-repeat scroll 0px 0px; cursor: pointer; }
#shortcut-2013 .fl li:hover b { transform: rotate(720deg); }
#shortcut-2013 .fr { height: 30px; overflow: visible; }
#shortcut-2013 .fr b { top: 13px; right: 8px; width: 7px; height: 4px; background-position: -95px -55px; }
#shortcut-2013 .menu { width: 60px; z-index: 12; }
#shortcut-2013 .dd { display: none; }
#site-nav .dd { left: -172px; width: 250px; }
#site-nav .dd dt { padding: 4px 0px 4px 9px; line-height: 20px; font-weight: 700; }
#site-nav .dd dl { float: none; width: auto; }
#site-nav .dd dl dd { margin: 0px 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid rgb(242, 242, 242); }
#site-nav .dd dl div { float: left; margin-right: 10px; display: inline; }
#site-nav .dd .fore3 dd { border-bottom: 0px none; }
#site-nav .dd .fore3 { padding-bottom: 4px; }
#site-nav .dd .fore1 div { width: 58px; margin-right: 0px; }
#header-2013 { height: 60px; padding: 15px 0px; }
#logo-2013 { float: left; width: 330px; }
#logo-2013 a:link b, #logo-2013 a:visited b { top: 12px; left: 168px; width: 100px; height: 38px; cursor: pointer; }
#logo-2013 a:hover b, #logo-2013 a:active b { display: none; background: rgb(255, 255, 255) url('../images/20130330a_2.png') no-repeat scroll 0px -312px; }
#search-2013 { float: left; width: 330px; padding: 4px 86px 0px 0px; }
#search-2013 input { margin: 0px; padding: 0px; height: 30px; border: 0px none; }
#search-2013 .i-search { z-index: 11; width: 304px; height: 30px; margin-bottom: 3px; border: 3px solid rgb(228, 57, 60); }
#search-2013 .form { height: 30px; overflow: hidden; }
#search-2013 .text { width: 216px; height: 20px; padding: 5px; background-position: 0px -360px; background-color: rgb(255, 255, 255); background-repeat: repeat-x; line-height: 20px; color: rgb(153, 153, 153); font-family: arial,"宋体"; font-size: 14px; }
#search-2013 .button { width: 78px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; font-size: 14px; font-weight: 700; color: rgb(255, 255, 255); }
#search-2013 .text, #search-2013 .button {  }
#search-2013 #shelper { overflow: hidden; position: absolute; top: 32px; left: -3px; width: 308px; border: 1px solid rgb(228, 57, 60); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgb(153, 153, 153); }
#search-2013 .text:focus { background-color: rgb(252, 252, 252); box-shadow: 2px 2px 3px rgb(210, 210, 210) inset; }
.root61 #search-2013 #shelper { width: 418px; }
#hotwords { height: 18px; color: rgb(153, 153, 153); overflow: hidden; }
.root61 #search-2013 { width: 510px; padding-right: 126px; }
.root61 #search-2013 .i-search { width: 494px; }
.root61 #search-2013 .text { width: 406px; }
#my360buy-2013 dt, #my360buy-2013 dl.hover dt { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#my360buy-2013 { float: left; position: relative; z-index: 9; width: 106px; height: 30px; margin-top: 12px; }
#my360buy-2013 dt { position: absolute; z-index: 1; width: 50px; height: 30px; padding: 0px 24px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -116px -24px; background-color: rgb(247, 247, 247); text-align: center; line-height: 27px; cursor: pointer; }
#my360buy-2013 dt b { top: 12px; right: 8px; width: 0px; height: 0px; border-style: solid dashed dashed; border-width: 5px; border-color: rgb(204, 204, 204) transparent transparent; overflow: hidden; }
#my360buy-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 310px; border: 1px solid rgb(227, 227, 227); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#my360buy-2013 .loading-style1 { margin: 10px auto; }
#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#settleup-2013 { float: right; position: relative; z-index: 9; width: 126px; height: 30px; margin-top: 12px; }
#settleup-2013 dt { position: absolute; z-index: 3; width: 74px; height: 30px; padding: 0px 20px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -115px -84px; background-color: rgb(247, 247, 247); cursor: pointer; text-align: center; }
#settleup-2013 dt .shopping { position: absolute; top: -13px; left: 20px; background-image: url('../images/20130330a_2.png'); background-position: -133px -279px; padding-left: 6px; color: rgb(255, 255, 255); }
#settleup-2013 dt .shopping span { float: left; display: block; height: 20px; padding-right: 6px; background-image: url('../images/20130330a_2.png'); background-position: 100% -250px; }
#settleup-2013 dt a { line-height: 27px; }
#settleup-2013 dt b { top: 9px; right: 4px; width: 0px; height: 0px; border-style: dashed dashed dashed solid; border-width: 5px; border-color: transparent transparent transparent rgb(204, 204, 204); overflow: hidden; }
#settleup-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 350px; }
#settleup-2013 .prompt { border: 1px solid rgb(221, 221, 221); padding: 10px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#nav-2013 { position: relative; z-index: 6; height: 40px; padding-left: 210px; margin-bottom: 10px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; }
#navitems-2013 { background: transparent -moz-linear-gradient(center top , rgb(230, 67, 70), rgb(225, 51, 53)) repeat scroll 0% 0%; }
#navitems-2013, #navitems-2013 li, #navitems-2013 li a { height: 40px; }
#navitems-2013 li { float: left; position: relative; width: 83px; }
#navitems-2013 li a { position: absolute; top: 0px; left: 0px; width: 85px; text-align: center; color: rgb(255, 255, 255); font: 700 15px/40px "microsoft yahei"; text-decoration: none; }
#treasure { position: absolute; right: 0px; top: 0px; }
#categorys-2013 .mt b, #categorys-2013 h3, #categorys-2013 s, #categorys-2013.hover .mt b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#categorys-2013 { position: absolute; top: 0px; left: 0px; width: 210px; height: 40px; }
#categorys-2013 .mt { background: rgb(205, 42, 44) none repeat scroll 0% 0%; }
#categorys-2013 .mt a { display: block; height: 40px; padding-left: 20px; line-height: 40px; color: rgb(255, 255, 255); }
#categorys-2013 .mt b { top: 10px; right: 10px; width: 20px; height: 20px; background-position: -65px 0px; }
#categorys-2013 .mc { display: none; position: absolute; top: 40px; left: 0px; width: 203px; height: 402px; padding: 3px 3px 3px 0px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-style: solid; border-color: rgb(228, 57, 60); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 2px 2px; overflow: visible; }
#categorys-2013 .item { width: 200px; height: 28px; border-top: 1px solid rgb(255, 255, 255); }
#categorys-2013 .fore1 { border-top: 0px none; }
#categorys-2013 span { display: block; width: 203px; position: absolute; z-index: 1; }
#categorys-2013 h3 { width: 186px; height: 26px; line-height: 26px; padding-left: 13px; border-width: 1px 0px; background-image: none; font-weight: 400; }
#categorys-2013 h3 a:link, #categorys-2013 h3 a:visited { color: rgb(51, 51, 51); }
#categorys-2013 h3 a:hover, #categorys-2013 h3 a:active { color: rgb(228, 57, 60); font-weight: 700; }
#categorys-2013 s { display: block; position: absolute; top: 10px; left: 189px; width: 6px; height: 9px; background-position: -110px -45px; }
#categorys-2013 .mc .extra { display: none; }
#service-2013 dl b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#service-2013 { padding: 10px 20px; margin-bottom: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(241, 241, 241); }
#service-2013 dl { float: left; width: 196px; }
#service-2013 dt { position: relative; padding: 6px 0px 6px 44px; font: 14px "microsoft yahei"; }
#service-2013 dd { min-height: 120px; padding-left: 24px; margin-left: 20px; line-height: 20px; }
#service-2013 dt b { position: absolute; top: 5px; left: 0px; width: 40px; height: 40px; }
#service-2013 dl.fore1 b { background-position: 0px -55px; }
#service-2013 dl.fore2 b { background-position: -50px -55px; }
#service-2013 dl.fore3 b { background-position: 0px -102px; }
#service-2013 dl.fore4 b { background-position: -50px -102px; }
#service-2013 dl.fore5 b { background-position: 0px -149px; }
#service-2013 dl.fore5 { width: 160px; }
.root61 #service-2013 dl { width: 252px; }
.root61 #service-2013 dl.fore5 { width: 160px; }
#footer-2013 { padding-bottom: 30px; text-align: center; }
#footer-2013 .links a, #footer-2013 .links span { margin: 0px 10px; }
#footer-2013 .copyright { margin: 10px 0px; }
#footer-2013 .authentication a { margin: 0px 5px; }
#shortcut-2013 #app-jd { padding-left: 37px; }
#app-jd i { position: absolute; z-index: 2; left: 14px; top: 5px; width: 13px; height: 22px; background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; background-position: -128px -360px; transition: all 0.2s ease 0s; }
#app-jd .dd { left: 5px; width: 210px; padding: 20px 0px 20px 20px; }
#app-jd .btn-app-apple, #app-jd .btn-app-android { width: 97px; height: 29px; display: inline-block; line-height: 29px; background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#app-jd .btn-app-apple { background-position: 0px -360px; margin-right: 5px; }
#app-jd .btn-app-android { background-position: 0px -399px; }
#app-jd .qr-item { position: relative; }
#app-jd .qr-item.qr-jd-app { margin-bottom: 30px; }
#app-jd .qr-item .qr-img { position: absolute; left: 0px; top: 10px; }
#app-jd .qr-item .qr-ext { padding-left: 92px; }
#app-jd .qr-item .qr-ext strong, #app-jd .qr-item .qr-ext a { display: block; margin: 0px; }
#app-jd .qr-item .qr-ext strong { line-height: 20px; margin-bottom: 7px; color: rgb(228, 57, 60); }
#app-jd .qr-item .qr-ext .btn-app-apple { margin-bottom: 7px; }
#app-jd .qr-info { display: none; }
#app-jd .dd { padding-top: 60px; padding-left: 30px; padding-right: 10px; }
#app-jd .qr-info { display: block; position: absolute; top: 24px; left: 8px; width: 237px; height: 65px; background: transparent url('../images/551cf5f5na7476cd5.png') repeat scroll 0% 0%; }
#shortcut-2013 #jd-vip { padding-left: 38px; }
#shortcut-2013 #jd-dakehu { padding-left: 38px; }
#shortcut-2013 #jd-dakehu i { left: 10px; top: 9px; position: absolute; width: 21px; height: 11px; display: block; background: transparent url('../images/546bfdd4n00e36964.jpg') no-repeat scroll 0px 0px; }
/* ::::: http://misc.360buyimg.com/purchase/skin/initcart20150123.css ::::: */

.left { float: left; width: 770px; }
.right-extra { float: right; width: 210px; }
.p-name a:link, .p-name a:visited { color: rgb(102, 102, 102); }
.p-name a:hover { color: rgb(228, 57, 60); }
#succeed { position: relative; overflow: visible; }
#succeed .corner { display: none; position: absolute; width: 4px; height: 4px; font-size: 0px; line-height: 0; overflow: hidden; }
#succeed .tl { top: -1px; left: -1px; background-position: -17px 0px; }
#succeed .tr { top: -1px; right: -1px; background-position: -21px 0px; }
#succeed .bl { bottom: -1px; left: -1px; background-position: -17px -4px; }
#succeed .br { bottom: -1px; right: -1px; background-position: -21px -4px; }
#succeed .success { overflow: hidden; height: 65px; padding: 31px 10px 16px 80px; }
#succeed .success b, #succeed .success-b { float: left; overflow: hidden; width: 304px; height: 40px; padding-left: 56px; background: transparent url('../images/20130425d.png') no-repeat scroll 0px -100px; font: 24px/40px 微软雅黑; color: rgb(122, 189, 84); }
#succeed .success-b { color: rgb(153, 153, 153); font: 12px/150% Arial,Verdana,"宋体"; height: auto; }
#succeed .success-b h3 { font: 24px/40px 微软雅黑; color: rgb(122, 189, 84); }
.m1 { border: 1px solid rgb(221, 221, 221); }
.m1 .mt { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.m1 .mt h2 { height: 30px; padding-left: 10px; font: 14px/31px 微软雅黑; color: rgb(51, 51, 51); }
.m1 .mt .tl { display: none; }
.m1 .mc { overflow: hidden; width: 758px; padding: 2px 5px; }
.m1 .mc dl { float: left; width: 33.3%; padding: 10px 0px; }
.m1 .mc dt { float: left; padding-left: 5px; }
.m1 .mc dd { float: left; width: 130px; padding: 5px; }
.m1 .mc dd div { margin-bottom: 5px; }
.m1 .p-name { height: 1.5em; }
.m1 .mc dd .p-price { margin-bottom: 5px; }
.m1 .p-price { height: 18px; overflow: hidden; }
.m1 .p-price span { padding-left: 4px; float: left; }
.m1 .btn-append { display: block; overflow: hidden; width: 89px; height: 21px; background: rgb(246, 246, 246) url('../images/20130425d.png') no-repeat scroll 0px -63px; text-align: center; text-decoration: none; line-height: 21px; color: rgb(51, 51, 51); }
.m1 .mb { display: none; }
#promotion .p-price span { color: red; font-weight: bold; }
#mycart-detail { position: relative; overflow: visible; border-width: 2px 1px 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(221, 221, 221) rgb(221, 221, 221); }
#mycart-detail .corner { display: none; }
#mycart-detail .mt { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#mycart-detail .mt h2 { padding-left: 9px; font: 14px/30px 微软雅黑; color: rgb(51, 51, 51); }
#mycart-detail .mt h2 s { float: left; width: 20px; height: 16px; margin: 8px 8px 0px 0px; background: transparent url('../images/20130425d.png') no-repeat scroll -90px -74px; }
#mycart-detail .mc { padding-top: 6px; }
#mycart-detail h3 { padding: 0px 10px; font-size: 12px; font-weight: normal; color: rgb(51, 51, 51); }
#mycart-detail dl { overflow: hidden; }
#mycart-detail dt { float: left; margin: 0px; }
#mycart-detail dd { float: right; width: 110px; }
#mycart-detail .new { padding-bottom: 8px; border-bottom: 1px dotted rgb(221, 221, 221); margin: 10px 10px 8px; }
#mycart-detail .new .p-price span { font-family: verdana; font-size: 12px; color: rgb(228, 57, 60); }
#mycart-detail .old { padding: 10px; }
#mycart-detail .total { margin-top: 10px; padding: 10px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#mycart-detail .total strong { padding: 0px 3px; font-family: verdana; font-size: 15px; color: rgb(228, 57, 60); }
#mycart-detail #skuCount { font-size: 12px; }
#mycart-detail .btns { padding: 0px 10px 10px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#mycart-detail .btn-pay { display: block; overflow: hidden; width: 189px; height: 36px; background: red url('../images/20130425d.png') no-repeat scroll 0% 0%; line-height: 100px; }
.m1 .p-price .p-tag { float: none; }
.m1 .p-price .p-tag a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.pt1, .pt2, .pt3, .pt4, .pt5 { padding: 1px 2px; margin: 0px 1px -3px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; line-height: 14px; text-align: center; font-size: 12px; color: rgb(255, 255, 255); }
.root61 .left { width: 990px; }
.root61 .m1 .mc { width: 978px; }
.root61 .m1 .mc dd { width: 200px; }
.root61 #succeed .success { padding: 31px 10px 16px 140px; }
.ftx-05 { color: rgb(0, 94, 167); }
.ml10 { margin-left: 10px; }
.btn-1 { background-color: rgb(231, 70, 73); background-image: linear-gradient(to top, rgb(231, 70, 73) 0px, rgb(223, 49, 52) 100%); border-radius: 3px; display: inline-block; height: 18px; line-height: 18px; padding: 9px 30px; color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; font-family: "微软雅黑"; }
.btn-1:hover { background-color: rgb(240, 83, 86); background-image: linear-gradient(to top, rgb(240, 83, 86) 0px, rgb(235, 60, 63) 100%); }
.btn-1:link, .btn-1:visited { color: rgb(255, 255, 255); text-decoration: none; }
#succeed .success { padding-left: 0px; }
.root61 #succeed .success { padding-left: 80px; }
