/* ::::: http://misc.360buyimg.com/lib/skin/2013/base.css ::::: */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0px; padding: 0px; }
ol, ul { list-style: outside none none; }
:focus { outline: 0px none; }
a img { border: 0px none; }
img { vertical-align: middle; }
em { font-style: normal; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0px none; padding: 0px; }
.fl { float: left; }
.fr { float: right; }
.ac { text-align: center; }
.clr { display: block; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 0px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb { overflow: hidden; }
.m, .sm { margin-bottom: 10px; }
.mt, .smt { cursor: default; }
.mt h2, .smt h3 { font-family: "microsoft yahei"; }
.m .mt .extra a:link, .m .mt .extra a:visited, .sm .smt .extra a:link, .sm .smt .extra a:visited { color: rgb(0, 94, 167); }
.form label, .form input, .form select, .form textarea, .form button, .form .label { float: left; font-size: 12px; }
.hide { display: none; }
.tab { overflow: hidden; }
.tab li, .tab a, .tab-item { float: left; text-align: center; }
.btn-img, .button { display: inline-block; margin: 0px; padding: 0px; border: 0px none; text-align: center; cursor: pointer; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
h2, h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
.w { width: 990px; margin: 0px auto; }
.lh { overflow: hidden; }
.lh li, .lh dl, .lh .item { float: left; }
.ld { position: relative; }
.ld s, .ld b, .ld .block { position: absolute; overflow: hidden; }
.p-img, .p-name, .p-price, .p-market, .p-detail { overflow: hidden; }
.p-img { padding: 5px 0px; }
.p-img a:link, .p-img a:visited { text-decoration: none; }
.p-name, .p-detail { word-break: break-all; word-wrap: break-word; }
.p-price { color: rgb(153, 153, 153); }
.p-price strong, .p-market strong { color: rgb(228, 57, 60); }
img.err-product, img.err-poster { background: transparent url('../images/error-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 b, .loading-style2 { background: transparent url('../images/loading-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 { width: 126px; margin: 0px auto; text-align: center; color: rgb(153, 153, 153); }
.loading-style1 b { display: block; width: 43px; height: 24px; margin: 0px auto 5px; }
#o-header-2013{position: relative;z-index:1}
#shortcut-2013 .fl b, #shortcut-2013 .fr b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#shortcut-2013, #shortcut-2013 .w { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#shortcut-2013 { width: 100%; border-bottom: 1px solid rgb(238, 238, 238); line-height: 30px; }
#shortcut-2013 li { height: 30px; padding: 0px 11px 0px 12px; }
#shortcut-2013 li s { top: 9px; left: 0px; width: 0px; height: 12px; border-left: 1px solid rgb(221, 221, 221); overflow: hidden; }
#shortcut-2013 b { transition: transform 0.2s ease-in 0s; }
#shortcut-2013 .fl { overflow: visible; }
#shortcut-2013 .fl .fore1 { padding-left: 16px; z-index: 13; }
#shortcut-2013 .fl b { top: 8px; left: 0px; width: 13px; height: 13px; background: transparent url('../images/20130725.png') no-repeat scroll 0px 0px; cursor: pointer; }
#shortcut-2013 .fl li:hover b { transform: rotate(720deg); }
#shortcut-2013 .fr { height: 30px; overflow: visible; }
#shortcut-2013 .fr b { top: 13px; right: 8px; width: 7px; height: 4px; background-position: -95px -55px; }
#shortcut-2013 .menu { width: 60px; z-index: 12; }
#shortcut-2013 .dd { display: none; }
#site-nav .dd { left: -172px; width: 250px; }
#site-nav .dd dt { padding: 4px 0px 4px 9px; line-height: 20px; font-weight: 700; }
#site-nav .dd dl { float: none; width: auto; }
#site-nav .dd dl dd { margin: 0px 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid rgb(242, 242, 242); }
#site-nav .dd dl div { float: left; margin-right: 10px; display: inline; }
#site-nav .dd .fore3 dd { border-bottom: 0px none; }
#site-nav .dd .fore3 { padding-bottom: 4px; }
#site-nav .dd .fore1 div { width: 58px; margin-right: 0px; }
#header-2013 { height: 60px; padding: 15px 0px; }
#logo-2013 { float: left; width: 330px; }
#logo-2013 a:link b, #logo-2013 a:visited b { top: 12px; left: 168px; width: 100px; height: 38px; cursor: pointer; }
#logo-2013 a:hover b, #logo-2013 a:active b { display: none; background: rgb(255, 255, 255) url('../images/20130330a_2.png') no-repeat scroll 0px -312px; }
#search-2013 { float: left; width: 330px; padding: 4px 86px 0px 0px; }
#search-2013 input { margin: 0px; padding: 0px; height: 30px; border: 0px none; }
#search-2013 .i-search { z-index: 11; width: 304px; height: 30px; margin-bottom: 3px; border: 3px solid rgb(228, 57, 60); }
#search-2013 .form { height: 30px; overflow: hidden; }
#search-2013 .text { width: 216px; height: 20px; padding: 5px; background-position: 0px -360px; background-color: rgb(255, 255, 255); background-repeat: repeat-x; line-height: 20px; color: rgb(153, 153, 153); font-family: arial,"宋体"; font-size: 14px; }
#search-2013 .button { width: 78px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; font-size: 14px; font-weight: 700; color: rgb(255, 255, 255); }
#search-2013 .text, #search-2013 .button {  }
#search-2013 #shelper { overflow: hidden; position: absolute; top: 32px; left: -3px; width: 308px; border: 1px solid rgb(228, 57, 60); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgb(153, 153, 153); }
#search-2013 .text:focus { background-color: rgb(252, 252, 252); box-shadow: 2px 2px 3px rgb(210, 210, 210) inset; }
#hotwords { height: 18px; color: rgb(153, 153, 153); overflow: hidden; }
#hotwords span, #hotwords strong { float: left; font-weight: 400; }
#hotwords a:link, #hotwords a:visited { float: left; margin-right: 10px; color: rgb(153, 153, 153); }
#hotwords a:hover, #hotwords a:active { color: rgb(228, 57, 60); }
#my360buy-2013 dt, #my360buy-2013 dl.hover dt { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#my360buy-2013 { float: left; position: relative; z-index: 9; width: 106px; height: 30px; margin-top: 12px; }
#my360buy-2013 dt { position: absolute; z-index: 1; width: 50px; height: 30px; padding: 0px 24px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -116px -24px; background-color: rgb(247, 247, 247); text-align: center; line-height: 27px; cursor: pointer; }
#my360buy-2013 dt b { top: 12px; right: 8px; width: 0px; height: 0px; border-style: solid dashed dashed; border-width: 5px; border-color: rgb(204, 204, 204) transparent transparent; overflow: hidden; }
#my360buy-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 310px; border: 1px solid rgb(227, 227, 227); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#my360buy-2013 .loading-style1 { margin: 10px auto; }
#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#settleup-2013 { float: right; position: relative; z-index: 9; width: 126px; height: 30px; margin-top: 12px; }
#settleup-2013 dt { position: absolute; z-index: 3; width: 74px; height: 30px; padding: 0px 20px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -115px -84px; background-color: rgb(247, 247, 247); cursor: pointer; text-align: center; }
#settleup-2013 dt .shopping { position: absolute; top: -13px; left: 20px; background-image: url('../images/20130330a_2.png'); background-position: -133px -279px; padding-left: 6px; color: rgb(255, 255, 255); }
#settleup-2013 dt .shopping span { float: left; display: block; height: 20px; padding-right: 6px; background-image: url('../images/20130330a_2.png'); background-position: 100% -250px; }
#settleup-2013 dt a { line-height: 27px; }
#settleup-2013 dt b { top: 9px; right: 4px; width: 0px; height: 0px; border-style: dashed dashed dashed solid; border-width: 5px; border-color: transparent transparent transparent rgb(204, 204, 204); overflow: hidden; }
#settleup-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 350px; }
#settleup-2013 .prompt { border: 1px solid rgb(221, 221, 221); padding: 10px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#nav-2013 { position: relative; z-index: 6; height: 40px; padding-left: 210px; margin-bottom: 10px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; }
#navitems-2013 { background: transparent -moz-linear-gradient(center top , rgb(230, 67, 70), rgb(225, 51, 53)) repeat scroll 0% 0%; }
#navitems-2013, #navitems-2013 li, #navitems-2013 li a { height: 40px; }
#navitems-2013 li { float: left; position: relative; width: 83px; }
#navitems-2013 li a { position: absolute; top: 0px; left: 0px; width: 85px; text-align: center; color: rgb(255, 255, 255); font: 700 15px/40px "microsoft yahei"; text-decoration: none; }
#treasure { position: absolute; right: 0px; top: 0px; }
#categorys-2013 .mt b, #categorys-2013 h3, #categorys-2013 s, #categorys-2013.hover .mt b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#categorys-2013 { position: absolute; top: 0px; left: 0px; width: 210px; height: 40px; }
#categorys-2013 .mt { background: rgb(205, 42, 44) none repeat scroll 0% 0%; }
#categorys-2013 .mt a { display: block; height: 40px; padding-left: 20px; line-height: 40px; color: rgb(255, 255, 255); }
#categorys-2013 .mt b { top: 10px; right: 10px; width: 20px; height: 20px; background-position: -65px 0px; }
#categorys-2013 .mc { display: none; position: absolute; top: 40px; left: 0px; width: 203px; height: 402px; padding: 3px 3px 3px 0px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-style: solid; border-color: rgb(228, 57, 60); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 2px 2px; overflow: visible; }
#categorys-2013 .item { width: 200px; height: 28px; border-top: 1px solid rgb(255, 255, 255); }
#categorys-2013 .fore1 { border-top: 0px none; }
#categorys-2013 span { display: block; width: 203px; position: absolute; z-index: 1; }
#categorys-2013 h3 { width: 186px; height: 26px; line-height: 26px; padding-left: 13px; border-width: 1px 0px; background-image: none; font-weight: 400; }
#categorys-2013 h3 a:link, #categorys-2013 h3 a:visited { color: rgb(51, 51, 51); }
#categorys-2013 h3 a:hover, #categorys-2013 h3 a:active { color: rgb(228, 57, 60); font-weight: 700; }
#categorys-2013 s { display: block; position: absolute; top: 10px; left: 189px; width: 6px; height: 9px; background-position: -110px -45px; }
#categorys-2013 .mc .extra { display: none; }
#service-2013 dl b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#service-2013 { padding: 10px 20px; margin-bottom: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(241, 241, 241); }
#service-2013 dl { float: left; width: 196px; }
#service-2013 dt { position: relative; padding: 6px 0px 6px 44px; font: 14px "microsoft yahei"; }
#service-2013 dd { min-height: 120px; padding-left: 24px; margin-left: 20px; line-height: 20px; }
#service-2013 dt b { position: absolute; top: 5px; left: 0px; width: 40px; height: 40px; }
#service-2013 dl.fore1 b { background-position: 0px -55px; }
#service-2013 dl.fore2 b { background-position: -50px -55px; }
#service-2013 dl.fore3 b { background-position: 0px -102px; }
#service-2013 dl.fore4 b { background-position: -50px -102px; }
#service-2013 dl.fore5 b { background-position: 0px -149px; }
#service-2013 dl.fore5 { width: 160px; }
#footer-2013 { padding-bottom: 30px; text-align: center; }
#footer-2013 .links a, #footer-2013 .links span { margin: 0px 10px; }
#footer-2013 .copyright { margin: 10px 0px; }
#footer-2013 .authentication a { margin: 0px 5px; }
.footmark .m { padding: 0px 9px; border-width: 2px 1px 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.footmark .mt { height: 30px; line-height: 30px; }
.footmark .title { width: 50%; float: left; font-weight: 400; }
.footmark .extra { width: 50%; float: right; text-align: right; }
.footmark .may-like .change { display: inline-block; }
.footmark .may-like .change .ico, .may-like .change .txt { display: inline-block; vertical-align: middle; }
.footmark .may-like .change .ico { width: 16px; height: 16px; margin-right: 5px; background: transparent url('../images/update.png') no-repeat scroll 0% 0%; }
.footmark .may-like .mc { height: 246px; overflow: hidden; }
.footmark .may-like-list { padding-top: 15px; margin-right: -10px; }
.footmark .may-like-list li { width: 150px; height: 216px; float: left; margin: 0px 8px 0px 0px; padding: 0px 18px 15px; text-align: center; }
.footmark .may-like-list .p-img img { width: 130px; height: 130px; }
.footmark .may-like-list .p-name { height: 36px; }
.footmark .may-like-list .p-review { line-height: 20px; }
.footmark .may-like-list .p-review a { color: rgb(0, 94, 167); }
.footmark .may-like-list .p-price { line-height: 20px; color: rgb(227, 57, 60); }
.footmark .recent-view .mc { height: 126px; overflow: hidden; }
.footmark .recent-view-list { margin-right: -36px; padding-top: 14px; }
.footmark .recent-view-list li { width: 86px; float: left; margin: 0px 2px 0px 0px; padding-bottom: 14px; text-align: center; }
.footmark .recent-view-list .p-img img { width: 70px; height: 70px; }
.footmark .recent-view-list .p-price { color: rgb(227, 57, 60); }
#shortcut-2013 #app-jd { padding-left: 37px; }
#app-jd i { position: absolute; z-index: 2; left: 14px; top: 5px; width: 13px; height: 22px; background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; background-position: -128px -360px; transition: all 0.2s ease 0s; }
#app-jd .dd { left: 5px; width: 210px; padding: 20px 0px 20px 20px; }
#app-jd .btn-app-apple, #app-jd .btn-app-android { width: 97px; height: 29px; display: inline-block; line-height: 29px; background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#app-jd .btn-app-apple { background-position: 0px -360px; margin-right: 5px; }
#app-jd .btn-app-android { background-position: 0px -399px; }
#app-jd .qr-item { position: relative; }
#app-jd .qr-item.qr-jd-app { margin-bottom: 30px; }
#app-jd .qr-item .qr-img { position: absolute; left: 0px; top: 10px; }
#app-jd .qr-item .qr-ext { padding-left: 92px; }
#app-jd .qr-item .qr-ext strong, #app-jd .qr-item .qr-ext a { display: block; margin: 0px; }
#app-jd .qr-item .qr-ext strong { line-height: 20px; margin-bottom: 7px; color: rgb(228, 57, 60); }
#app-jd .qr-item .qr-ext .btn-app-apple { margin-bottom: 7px; }
#app-jd .qr-info { display: none; }
#app-jd .dd { padding-top: 60px; padding-left: 30px; padding-right: 10px; }
#app-jd .qr-info { display: block; position: absolute; top: 24px; left: 8px; width: 237px; height: 65px; background: transparent url('../images/551cf5f5na7476cd5.png') repeat scroll 0% 0%; }
#shortcut-2013 #jd-vip { padding-left: 38px; }
/* ::::: http://misc.360buyimg.com/product/list/1.0.3/css/list.css ::::: */

.fl { float: left; }
.fr { float: right; }
.clr { visibility: hidden; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	.w { width: 1210px; }
}
.p-price strong { font-weight: normal; font-family: Verdana; }
.u-jd { display: inline-block; width: 54px; height: 18px; line-height: 18px; text-align: center; border-radius: 3px; font-family: "宋体"; color: rgb(255, 255, 255); background: rgb(228, 57, 60) none repeat scroll 0% 0%; }
.g-main2 { margin-bottom: 10px; }
.g-main2 .m-aside { float: right; width: 210px; margin-right: -210px; position: relative; }
.g-main2 .m-list { float: right; width: 100%; }
.g-main2 .m-list .ml-wrap { margin-left: 220px; padding-bottom: 30px; }
.bottom-ad { width: 100%; }
.bottom-ad a { display: block; }
.bottom-ad img { display: block; width: 100%; }
.btn { display: inline-block; line-height: 14px; height: 14px; border-radius: 2px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; text-align: center; text-decoration: none; cursor: pointer; }
.btn:hover { text-decoration: none; box-shadow: 0px 1px 1px rgba(0, 1, 1, 0.08); cursor: pointer; }
.btn-default { display: inline-block; line-height: 14px; height: 14px; border-radius: 2px; background: rgb(247, 247, 247) -moz-linear-gradient(center top , rgb(247, 247, 247), rgb(242, 242, 242)) repeat-x scroll 0% 0%; text-align: center; text-decoration: none; cursor: pointer; border: 1px solid rgb(221, 221, 221); padding: 4px 13px 5px; color: rgb(102, 102, 102); }
.btn-default:hover { text-decoration: none; box-shadow: 0px 1px 1px rgba(0, 1, 1, 0.08); cursor: pointer; }
.btn-default:hover { color: rgb(102, 102, 102); }
.btn-primary { display: inline-block; line-height: 14px; height: 14px; border-radius: 2px; background: rgb(231, 70, 73) -moz-linear-gradient(center top , rgb(231, 70, 73), rgb(223, 48, 51)) repeat-x scroll 0% 0%; text-align: center; text-decoration: none; cursor: pointer; border: 0px none; padding: 5px 15px 6px; color: rgb(255, 255, 255); }
.btn-primary:hover { text-decoration: none; box-shadow: 0px 1px 1px rgba(0, 1, 1, 0.08); cursor: pointer; }
.btn-primary:hover { color: rgb(255, 255, 255); }
.btn.disabled { padding: 4px 13px 5px; border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: default; color: rgb(204, 204, 204); filter: none; opacity: 0.2; }
.btn.disabled:hover { color: rgb(204, 204, 204); }
.input-txt { height: 17px; line-height: 17px; border: 1px solid rgb(204, 204, 204); padding: 3px; width: 145px; }
.form-group .fg-line::after { visibility: hidden; display: block; font-size: 0px; content: ""; clear: both; height: 0px; }
.m-box-s1 { border: 1px solid rgb(221, 221, 221); margin-bottom: 10px; }
.m-box-s1 .mt { padding: 6px; height: 21px; line-height: 21px; }
.m-box-s1 .mt .mt-title { font-weight: normal; font-size: 14px; font-family: "microsoft yahei"; }
.goods-icons { float: left; display: inline-block; overflow: hidden; height: 16px; padding: 0px 2px; margin-right: 3px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; line-height: 16px; text-align: center; font-size: 12px; font-style: normal; color: rgb(255, 255, 255); }
.goods-icons-s1, .goods-icons-s2, .goods-icons-s3, .goods-icons-s4, .goods-icons-s5, .goods-icons-s6, .goods-icons-s7 { float: left; display: inline-block; margin-right: 3px; height: 16px; width: 16px; background: transparent url('../images/search.service.icons.png') no-repeat scroll -9999px -9999px; overflow: hidden; line-height: 9000px; }
.goods-icons-s1 { width: 70px; background-position: 0px 0px; }
.goods-icons-s7 { width: 68px; background-position: 0px -156px; }
.menu-drop { display: inline-block; height: 24px; cursor: pointer; }
.menu-drop .trigger { display: inline-block; height: 22px; padding: 0px 4px 0px 8px; border: 1px solid rgb(221, 221, 221); line-height: 22px; vertical-align: top; }
.menu-drop .trigger .curr { display: inline-block; vertical-align: top; }
.menu-drop .menu-drop-arrow { display: inline-block; width: 20px; height: 20px; vertical-align: top; background: transparent url('../images/search.ele.png') no-repeat scroll 4px 7px; transition: background-position 0.15s ease-in-out 0s; }
.menu-drop:hover { text-decoration: none; }
.menu-drop:hover .trigger { border-color: rgb(228, 57, 60); }
.menu-drop:hover .menu-drop-arrow { background-position: 4px -11px; }
.menu-drop-main { display: none; width: 350px; padding: 10px 0px 10px 8px; position: absolute; left: 0px; top: 23px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); }
.menu-drop-list li { float: left; width: 65px; height: 24px; overflow: hidden; line-height: 24px; margin-right: 5px; text-overflow: ellipsis; white-space: nowrap; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	#search-2013 { width: 510px; padding-right: 126px; }
	#search-2013 .i-search { width: 494px; }
	#search-2013 .text { width: 406px; }
	#search-2013 #shelper { width: 418px; }
}
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
.crumbs-bar { position: relative; margin-bottom: 10px; z-index: 5; }
.crumbs-nav { height: 24px; line-height: 24px; }
.crumbs-nav-item { float: left; margin-right: 8px; }
.crumbs-link, .crumbs-nav-item .menu-drop, .crumbs-nav-item .selector-set { float: left; margin-right: 5px; }
.crumbs-arrow { font-family: simsun; font-style: normal; }
.one-level .crumbs-link { font-size: 18px; font-weight: bold; font-family: "microsoft yahei"; }
.hot-sales { position: relative; height: 152px; padding-left: 80px; padding-right: 210px; margin-bottom: 15px; background-color: rgb(241, 241, 241); }
.hot-sales .hot-sales-act { width: 200px; height: 152px; position: absolute; right: 0px; top: 0px; padding-left: 50px; }
.hot-sales .hot-sales-act .hd { width: 30px; height: 60px; position: absolute; left: 0px; top: 0px; line-height: 18px; padding: 20px 10px 0px 5px; font-size: 14px; text-align: center; font-family: "microsoft yahei"; color: rgb(255, 102, 0); background: transparent url('../images/list.icons.other.png') no-repeat scroll 0% 0%; }
.hot-sales .hot-sales-act .bd { height: 135px; overflow: hidden; padding-top: 15px; padding-right: 10px; }
.hot-sales .hot-sales-act .bd li { width: 165px; height: 22px; overflow: hidden; line-height: 22px; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; font-family: simsun; }
.hot-sales-main { width: 100%; height: 137px; padding-top: 15px; }
.hot-sales-main .hd { width: 30px; height: 60px; position: absolute; left: 20px; top: 0px; line-height: 18px; padding: 20px 10px 0px 5px; font-size: 14px; text-align: center; font-family: "microsoft yahei"; color: rgb(255, 102, 0); background: transparent url('../images/list.icons.other.png') no-repeat scroll 0% 0%; }
.hot-sales-main .bd { width: 100%; height: 122px; overflow: hidden; }
.hot-sales-main ul {  }
.hot-sales-main li { width: 264px; height: 100px; overflow: hidden; float: left; margin-right: 20px; margin-left: 10px; margin-bottom: 15px; padding: 11px; background-color: rgb(255, 255, 255); }
.hot-sales-main li .p-img { float: left; width: 100px; height: 100px; padding: 0px; margin-right: 10px; }
.hot-sales-main li .p-img img { width: 100px; height: 100px; }
.hot-sales-main li .p-price { height: 20px; line-height: 20px; overflow: hidden; padding-top: 5px; color: rgb(102, 102, 102); }
.hot-sales-main li .p-price .number { font-weight: bold; }
.hot-sales-main li .p-name { display: block; height: 40px; line-height: 20px; overflow: hidden; padding-top: 5px; }
.hot-sales-main li .p-btnbox { padding-top: 3px; height: 27px; overflow: hidden; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	.hot-sales .hot-sales-act { width: 175px; }
	.hot-sales-main dl, .hot-sales-main li { margin-left: 0px; margin-right: 13px; }
}
.selector { border-top: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 10px; }
.selector .s-title { border-bottom: 1px solid rgb(221, 221, 221); background: rgb(241, 241, 241) none repeat scroll 0% 0%; line-height: 34px; height: 34px; overflow: hidden; }
.selector .s-title h3 { float: left; padding-left: 10px; }
.selector .s-title h3 b { color: rgb(228, 57, 60); margin-right: 5px; }
.selector .s-title .st-ext { float: left; padding-left: 20px; }
.selector .s-line, .selector .s-brand { width: auto; height: auto; }
.selector .sl-wrap { position: relative; line-height: 34px; border-bottom: 1px solid rgb(221, 221, 221); }
.selector .s-line::after { content: " "; display: block; clear: both; height: 0px; visibility: hidden; }
.selector .sl-key { float: left; width: 100px; padding-left: 10px; }
.selector .sl-value { margin-left: 110px; padding-right: 130px; padding-left: 10px; overflow: hidden; }
.selector .sl-ext { position: absolute; top: 6px; right: 10px; width: 120px; height: auto; line-height: 22px; overflow: hidden; }
.selector .sl-ext .sl-e-more i, .selector .sl-ext .sl-e-multiple i { background: transparent url('../images/search.ele.png') no-repeat scroll 9999px 9999px; transition: background-position 0.15s ease-in-out 0s; }
.selector .sl-ext .sl-e-more { float: left; margin-right: 20px; position: relative; width: 50px; height: 22px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; visibility: hidden; color: rgb(51, 51, 51); }
.selector .sl-ext .sl-e-more i { position: absolute; top: 0px; right: 0px; display: block; width: 20px; height: 20px; border: 1px solid rgb(221, 221, 221); background-position: 4px 7px; }
.selector .sl-ext .sl-e-more:hover { text-decoration: none; color: rgb(228, 57, 60); }
.selector .sl-ext .sl-e-more:hover i { border-color: rgb(228, 57, 60); background-position: 4px -11px; }
.selector .sl-ext .sl-e-multiple { float: left; height: 20px; line-height: 20px; border: 1px solid rgb(221, 221, 221); padding: 0px 3px 0px 18px; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.selector .sl-ext .sl-e-multiple i { position: absolute; display: block; font-style: normal; left: 3px; top: 0px; width: 13px; height: 20px; background-position: 0px -63px; }
.selector .sl-ext .sl-e-multiple:hover { text-decoration: none; color: rgb(228, 57, 60); border-color: rgb(228, 57, 60); }
.selector .sl-ext .sl-e-multiple:hover i { background-position: 0px -84px; }
.selector .sl-btns { display: none; text-align: center; padding-top: 5px; padding-bottom: 5px; }
.selector .sl-btns .btn-primary { margin-right: 8px; }
.selector .sl-v-list { overflow: hidden; padding-top: 4px; }
.selector .sl-v-list ul { float: left; overflow: hidden; position: relative; height: 30px; }
.selector .sl-v-list li { float: left; margin-right: 16px; margin-bottom: 4px; height: 26px; line-height: 26px; }
.selector .sl-v-list li a { float: left; white-space: nowrap; color: rgb(0, 90, 160); }
.selector .sl-v-list li a:hover { text-decoration: none; color: rgb(228, 57, 60); }
.selector .sl-v-list .sl-price { float: left; margin-bottom: 4px; margin-top: 2px; }
.selector .sl-v-list .sl-price .input-txt, .selector .sl-v-list .sl-price em, .selector .sl-v-list .sl-price .btn { float: left; }
.selector .sl-v-list .sl-price .input-txt { width: 38px; padding: 1px; }
.selector .sl-v-list .sl-price em { line-height: 21px; padding: 0px 3px; color: rgb(204, 204, 204); }
.selector .sl-v-list .sl-price .btn { margin-left: 5px; padding: 2px 10px 3px; }
.selector .sl-v-logos ul { padding-top: 10px; margin-bottom: 10px; overflow: hidden; height: 50px; }
.selector .sl-v-logos li { float: left; width: 116px; height: 48px; padding: 0px; border: 1px solid rgb(221, 221, 221); margin: -1px -1px 0px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; }
.selector .sl-v-logos li a { display: block; border: 1px solid rgb(255, 255, 255); height: 46px; width: 114px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgb(0, 90, 160); line-height: 48px; }
.selector .sl-v-logos li a img { margin: 5px 6px; vertical-align: top; }
.selector .sl-v-logos li a:hover { text-decoration: none; color: rgb(228, 57, 60); }
.selector .sl-v-logos li a:hover img { display: none; }
.selector .sl-v-logos li:hover, .selector .sl-v-logos li.selected { position: relative; z-index: 5; border-color: rgb(228, 57, 60); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12); }
.selector .sl-v-logos li:hover a, .selector .sl-v-logos li.selected a { border-color: rgb(228, 57, 60); }
.selector .sl-v-logos .v-fixed { height: 99px; }
.selector .sl-b-letter { display: none; float: left; overflow: hidden; padding-top: 6px; margin-bottom: 10px; }
.selector .sl-b-letter li { float: left; height: 20px; line-height: 20px; border: 1px solid rgb(255, 255, 255); padding: 0px 3px; cursor: default; text-align: center; color: rgb(0, 90, 160); }
.selector .sl-b-letter li.curr, .selector .sl-b-letter li:hover { border-color: rgb(228, 57, 60); color: rgb(228, 57, 60); }
.selector .sl-b-selected { overflow: hidden; display: none; }
.selector .sl-b-selected .sl-b-key { float: left; }
.selector .sl-b-selected .sl-v-list { float: left; }
.selector .s-brand {  }
.selector .s-more { text-align: center; position: relative; top: -1px; border-top: 1px solid rgb(221, 221, 221); transition: border-color 0.15s ease-in-out 0s; }
.selector .s-more .sm-wrap { position: relative; display: inline-block; margin-top: -1px; height: 28px; line-height: 28px; padding: 0px 40px 0px 20px; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(221, 221, 221) rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: pointer; color: rgb(51, 51, 51); transition: border-color 0.15s ease-in-out 0s; }
.selector .s-more .sm-wrap i { position: absolute; right: 16px; top: 4px; display: inline-block; width: 20px; height: 20px; background: transparent url('../images/search.ele.png') no-repeat scroll 4px 7px; }
.selector .s-more:hover { border-color: rgb(228, 57, 60); }
.selector .s-more:hover .sm-wrap { color: rgb(228, 57, 60); border-color: rgb(255, 255, 255) rgb(228, 57, 60) rgb(228, 57, 60); }
.selector .s-more:hover .sm-wrap i { background-position: 4px -10px; }
.picon { position: absolute; overflow: hidden; width: 51px; height: 50px; top: 12px; right: 7px; }
.picon b { display: block; width: 317px; height: 108px; background: transparent url('../images/search.picon_v2.png') no-repeat scroll 0% 0%; }
.pi1 b { margin-left: 0px; }
.pi2 b { margin-left: -53px; }
.pi3 b { margin-left: -106px; }
.pi4 b { margin-left: -212px; }
.pi8 b { margin: -55px 0px 0px -53px; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	.selector .sl-b-letter li { padding: 0px 7px; }
	.selector .sl-v-list li { margin-right: 50px; }
}
.filter { position: relative; z-index: 4; border-top: 1px solid rgb(221, 221, 221); margin-bottom: 5px; }
.filter .f-line { padding: 6px 8px; border-bottom: 1px solid rgb(231, 227, 231); background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
.filter .f-line.top { height: 25px; background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
.filter .f-sort { float: left; margin-right: 24px; }
.filter .f-sort a { float: left; padding: 0px 10px; height: 23px; border: 1px solid rgb(204, 204, 204); line-height: 23px; margin-right: -1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.filter .f-sort a i { display: none; position: absolute; background: transparent url('../images/search.ele.png') no-repeat scroll -9999px -9999px; top: 6px; right: 5px; width: 13px; height: 12px; overflow: hidden; font-size: 0px; }
.filter .f-sort a.curr { background: rgb(228, 57, 60) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(228, 57, 60); }
.filter .f-sort a:hover { position: relative; text-decoration: none; border-color: rgb(228, 57, 60); color: rgb(228, 57, 60); }
.filter .f-sort a.curr:hover { color: rgb(255, 255, 255); }
.filter .f-search { float: left; }
.filter .f-search .input-txt, .filter .f-search .btn { float: left; }
.filter .f-search .input-txt { width: 108px; color: rgb(153, 153, 153); }
.filter .f-search .btn { color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); border-radius: 0px; margin-left: -1px; }
.filter .f-pager { float: right; }
.filter .f-pager .fp-text, .filter .f-pager .fp-prev, .filter .f-pager .fp-next { float: left; }
.filter .f-pager .fp-text { line-height: 23px; margin-right: 10px; font-family: verdana; }
.filter .f-pager .fp-text b, .filter .f-pager .fp-text em, .filter .f-pager .fp-text i { font-weight: normal; font-style: normal; }
.filter .f-pager .fp-text b { color: rgb(228, 57, 60); font-weight: bold; }
.filter .f-pager .fp-prev, .filter .f-pager .fp-next { width: 46px; height: 23px; border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 23px; font-family: "宋体"; text-align: center; font-size: 16px; color: rgb(170, 170, 170); }
.filter .f-pager .fp-prev { margin-right: -1px; }
.filter .f-pager .fp-prev:hover, .filter .f-pager .fp-next:hover { text-decoration: none; }
.filter .f-pager .fp-prev.disabled, .filter .f-pager .fp-next.disabled { padding: 0px; background: rgb(241, 241, 241) none repeat scroll 0% 0%; color: rgb(204, 204, 204); cursor: default; }
.filter .f-feature ul li a, .filter .f-store .instock a { position: relative; display: inline-block; padding-left: 18px; padding-right: 10px; color: rgb(51, 51, 51); }
.filter .f-feature ul li a i, .filter .f-store .instock a i { position: absolute; left: 0px; top: 6px; background: rgb(255, 255, 255) url('../images/search.ele.png') no-repeat scroll 9999px 9999px; display: inline-block; height: 12px; width: 12px; border: 1px solid rgb(204, 204, 204); font-size: 0px; }
.filter .f-feature ul li a:hover, .filter .f-store .instock a:hover { text-decoration: none; color: rgb(228, 57, 60); }
.filter .f-feature ul li a:hover i, .filter .f-store .instock a:hover i { border-color: rgb(228, 57, 60); }
.filter .f-feature ul li a.selected i, .filter .f-store .instock a.selected i { border-color: rgb(228, 57, 60); background-position: -1px -107px; }
.filter .f-feature { float: left; position: relative; width: auto; height: 25px; overflow: hidden; }
.filter .f-feature ul li { float: left; display: inline; height: 25px; line-height: 25px; }
.filter .f-feature ul li a { padding-right: 5px; }
.filter .f-store { float: left; padding-left: 5px; }
.filter .f-store .fs-cell { float: left; line-height: 25px; margin-right: 5px; }
.filter .f-store .delivery-location { color: rgb(153, 153, 153); }
.filter .f-store #store-selector { float: left; height: 25px; }
.filter .f-store #store-selector .text { color: rgb(51, 51, 51); }
.filter .f-type { float: right; }
#store-selector { position: relative; z-index: 5; height: 26px; margin-right: 10px; }
#store-selector .mc a:link, #store-selector .mc a:visited { color: rgb(0, 90, 160); }
#store-selector .mc a:hover, #store-selector .mc a:active { background: rgb(0, 90, 160) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#store-selector .text { float: left; position: relative; top: 0px; overflow: hidden; height: 23px; padding: 0px 24px 0px 4px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 23px; }
#store-selector .text b { display: block; position: absolute; right: 5px; top: 4px; overflow: hidden; width: 18px; height: 16px; background: transparent url('../images/search.ele.png') no-repeat scroll 3px 5px; }
#store-selector .content { display: none; position: absolute; top: 24px; left: -45px; border: 1px solid rgb(153, 153, 153); width: 390px; padding: 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12); }
#store-selector .close { display: none; position: absolute; cursor: pointer; z-index: 2; top: 32px; left: 346px; width: 17px; height: 17px; background: transparent url('search.ele.png') no-repeat scroll 3px -124px; }
.JD-stock { position: relative; }
.JD-stock .mc { min-height: 239px; }
.JD-stock .tab { width: 100%; height: 25px; float: left; border-bottom: 2px solid rgb(228, 57, 60); overflow: visible; }
.JD-stock .tab li { float: left; clear: none; height: 23px; padding: 1px 1px 0px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-right: 3px; background-color: rgb(255, 255, 255); line-height: 22px; text-decoration: none; }
.JD-stock .tab .curr { height: 25px; padding: 0px; border-width: 2px 2px 0px; border-style: solid solid none; border-color: rgb(228, 57, 60) rgb(228, 57, 60) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.JD-stock .tab a { position: relative; float: left; height: 23px; padding: 0px 30px 1px 10px; line-height: 23px; text-align: center; text-decoration: none; cursor: pointer; color: rgb(0, 90, 160); outline: 0px none; }
.JD-stock .tab a i { position: absolute; right: 2px; top: 5px; display: block; width: 18px; height: 16px; overflow: hidden; background: transparent url('../images/search.ele.png') no-repeat scroll 3px 5px; opacity: 0.5; }
.JD-stock .tab .curr i, .JD-stock .tab a:hover i { opacity: 1; }
.area-list { padding-top: 5px; }
.area-list li { float: left; width: 80px; padding: 2px 0px 2px 15px; clear: none; }
.area-list li a { float: left; padding: 2px 4px; color: rgb(0, 90, 160); }
.area-list li a:hover { background: rgb(0, 94, 167) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.area-list .long-area { width: 170px; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
.goods-list-v1 { margin-bottom: 20px; height: auto; position: relative; z-index: 1; }
.goods-list-v1 .gl-warp { width: 795px; height: auto; margin-right: -25px; }
.goods-list-v1 .gl-item { width: 240px; height: 436px; float: left; position: relative; z-index: 1; margin-right: 25px; margin-top: 10px; }
.goods-list-v1 .gl-item .gl-i-wrap { width: 220px; position: absolute; z-index: 1; left: 0px; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); padding: 38px 9px 10px; transition: border-color 0.1s ease 0s; }
.goods-list-v1 .gl-item .p-img { height: 220px; padding: 0px; margin-bottom: 15px; position: relative; }
.goods-list-v1 .gl-item .p-img .picon { top: 0px; right: 0px; }
.goods-list-v1 .gl-item .p-img a { display: block; position: relative; overflow: hidden; }
.goods-list-v1 .gl-item .p-scroll { position: relative; z-index: 2; padding: 0px; margin-bottom: 10px; }
.goods-list-v1 .gl-item .p-scroll .ps-wrap { height: 29px; overflow: hidden; }
.goods-list-v1 .gl-item .p-scroll .ps-prev, .goods-list-v1 .gl-item .p-scroll .ps-next { display: none; position: absolute; width: 20px; height: 29px; line-height: 29px; text-align: center; color: rgb(170, 170, 170); font-size: 16px; font-family: "宋体"; cursor: pointer; }
.goods-list-v1 .gl-item .p-scroll .ps-prev { left: 2px; top: 0px; }
.goods-list-v1 .gl-item .p-scroll .ps-next { left: 196px; top: 0px; }
.goods-list-v1 .gl-item .p-scroll ul li { float: left; width: 34px; height: 29px; text-align: left; }
.goods-list-v1 .gl-item .p-scroll ul li a { cursor: default; display: inline-block; border: 1px solid rgb(221, 221, 221); padding: 1px; }
.goods-list-v1 .gl-item .p-scroll ul li a img { width: 25px; height: 25px; }
.goods-list-v1 .gl-item .p-scroll ul li a.curr { padding: 0px; border-width: 2px; border-color: rgb(228, 57, 60); }
.goods-list-v1 .gl-item .p-name { height: 40px; margin-bottom: 6px; overflow: hidden; }
.goods-list-v1 .gl-item .p-name a:hover { text-decoration: none; }
.goods-list-v1 .gl-item .p-name em, .goods-list-v1 .gl-item .p-name i { display: block; height: 20px; line-height: 20px; overflow: hidden; transition: height 0.08s ease 0s; }
.goods-list-v1 .gl-item .p-name i { font-style: normal; width: 185px; color: rgb(255, 170, 113); line-height: 20px; }
.goods-list-v1 .gl-item .p-price { position: relative; line-height: 22px; height: 22px; overflow: hidden; width: 100%; margin: 0px 0px 8px; }
.goods-list-v1 .gl-item .p-price strong { float: left; margin-right: 10px; font-size: 20px; }
.goods-list-v1 .gl-item .p-price strong em { font-size: 16px; }
.goods-list-v1 .gl-item .p-price strong i { font-style: normal; }
.goods-list-v1 .gl-item .p-price .p-icons { padding-top: 3px; }
.goods-list-v1 .gl-item .p-price .p-icons i { margin-right: 3px; }
.goods-list-v1 .gl-item .p-price .goods-icons-s1, .goods-list-v1 .gl-item .p-price .goods-icons-s2, .goods-list-v1 .gl-item .p-price .goods-icons-s3, .goods-list-v1 .gl-item .p-price .goods-icons-s4, .goods-list-v1 .gl-item .p-price .goods-icons-s5 { width: 16px; overflow: hidden; }
.goods-list-v1 .gl-item .p-commit { margin-bottom: 8px; }
.goods-list-v1 .gl-item .p-commit strong { color: rgb(167, 167, 167); font-weight: normal; }
.goods-list-v1 .gl-item .p-commit strong a { color: rgb(0, 90, 160); font-family: verdana; font-weight: bold; }
.goods-list-v1 .gl-item .p-shop { line-height: 20px; height: 20px; overflow: hidden; margin-bottom: 8px; }
.goods-list-v1 .gl-item .p-shop span { display: inline-block; position: relative; height: 20px; }
.goods-list-v1 .gl-item .p-shop span a { color: rgb(153, 153, 153); }
.goods-list-v1 .gl-item .p-shop span i { cursor: pointer; position: absolute; right: -21px; top: 2px; display: block; width: 16px; height: 16px; background: transparent url('../images/search.customerservice.png') no-repeat scroll 0% 0%; }
.goods-list-v1 .gl-item .p-shop span i.online { background-position: 0px 0px; }
.goods-list-v1 .gl-item .p-shop span i.offline { background-position: 0px -41px; }
.goods-list-v1 .gl-item .p-icons { overflow: hidden; height: 16px; }
.goods-list-v1 .gl-item .p-icons .icons { float: left; display: inline-block; overflow: hidden; height: 16px; padding: 0px 2px; margin-right: 3px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; line-height: 16px; text-align: center; font-size: 12px; font-style: normal; color: rgb(255, 255, 255); }
.goods-list-v1 .gl-item .p-focus a, .goods-list-v1 .gl-item .p-compare a, .goods-list-v1 .gl-item .p-addtocart a, .goods-list-v1 .gl-item .p-rushbuy a, .goods-list-v1 .gl-item .p-notification a { position: relative; display: inline-block; height: 23px; line-height: 23px; padding: 0px 8px 0px 25px; border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.goods-list-v1 .gl-item .p-focus a i, .goods-list-v1 .gl-item .p-compare a i, .goods-list-v1 .gl-item .p-addtocart a i, .goods-list-v1 .gl-item .p-rushbuy a i, .goods-list-v1 .gl-item .p-notification a i { position: absolute; display: block; font-style: normal; left: 4px; top: 3px; width: 18px; height: 18px; background: transparent url('../images/search.ele.png') no-repeat scroll 9999px 9999px; transition: background-position 0.15s ease-in-out 0s; }
.goods-list-v1 .gl-item .p-focus a:hover, .goods-list-v1 .gl-item .p-compare a:hover, .goods-list-v1 .gl-item .p-addtocart a:hover, .goods-list-v1 .gl-item .p-rushbuy a:hover, .goods-list-v1 .gl-item .p-notification a:hover { color: rgb(228, 57, 60); border-color: rgb(228, 57, 60); text-decoration: none; }
.goods-list-v1 .gl-item .p-focus { position: absolute; left: 172px; visibility: hidden; z-index: 3; top: 197px; opacity: 0; transition: all 0.08s ease 0s; }
.goods-list-v1 .gl-item .p-focus a i { background-position: 3px -65px; }
.goods-list-v1 .gl-item .p-focus a:hover i { background-position: 3px -86px; }
.goods-list-v1 .gl-item .p-stock { position: absolute; top: 234px; left: 9px; z-index: 2; line-height: 25px; height: 25px; width: 200px; padding: 0px 10px; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; }
.goods-list-v1.gl-type-3 .gl-item { height: 416px; }
.goods-list-v1.gl-type-3 .gl-item .gl-i-wrap { padding-top: 12px; padding-bottom: 12px; }
.goods-list-v1.gl-type-3 .gl-item .p-img { margin-bottom: 5px; }
.goods-list-v1.gl-type-3 .gl-item .p-name { height: 20px; line-height: 20px; }
.goods-list-v1.gl-type-3 .gl-item .p-name em, .goods-list-v1.gl-type-3 .gl-item .p-name i { display: inline; height: auto; }
.goods-list-v1.gl-type-3 .gl-item .p-shop span a { color: rgb(102, 102, 102); }
.goods-list-v1.gl-type-3 .gl-item .p-focus { top: 232px; transition: top 0.3s ease 0s, opacity 0.1s ease 0.1s; }
.goods-list-v1.gl-type-3 .gl-item .p-focus a { height: 25px; line-height: 25px; color: rgb(255, 255, 255); border: medium none; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; }
.goods-list-v1.gl-type-3 .gl-item .p-focus a i { background-position: 0px -413px; transition: transform 0.2s ease-in-out 0.1s; }
.goods-list-v1.gl-type-3 .gl-item .p-focus a:hover i { background-position: 0px -436px; animation: 0.8s ease-out 0s normal none infinite running heartPulse; }
.goods-list-v1.gl-type-3 .gl-item .p-icons { margin-bottom: 0px; }
.goods-list-v1.gl-type-3 .gl-item .p-presell-time, .goods-list-v1.gl-type-3 .gl-item .p-stock { top: 207px; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	.goods-list-v1 .gl-warp { width: 1000px; margin-right: -10px; }
	.goods-list-v1 .gl-item { margin-right: 10px; }
}
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
.page { margin-bottom: 10px; }
.page .p-wrap { float: right; }
.page .p-num { float: left; }
.page .p-num a, .page .p-num b { float: left; height: 36px; line-height: 36px; padding: 0px 14px; margin-right: 5px; font-size: 14px; }
.page .p-num a { color: rgb(51, 51, 51); border: 1px solid rgb(221, 221, 221); background-color: rgb(247, 247, 247); background-repeat: repeat-x; background-image: -moz-linear-gradient(center top , rgb(247, 247, 247), rgb(242, 242, 242)); }
.page .p-num a:hover { text-decoration: none; box-shadow: 0px 1px 1px rgba(0, 1, 1, 0.08); }
.page .p-num a.curr { border: 0px none; padding: 1px 15px; background: transparent none repeat scroll 0px center; filter: none; color: rgb(228, 57, 60); cursor: default; }
.page .p-num a.curr:hover { box-shadow: none; }
.page .p-num .pn-break { color: rgb(204, 204, 204); }
.page .p-num .pn-break:hover { box-shadow: none; }
.page .p-num .pn-prev em, .page .p-num .pn-next em { vertical-align: middle; }
.page .p-num .pn-prev i, .page .p-num .pn-next i { vertical-align: middle; font-style: normal; font-size: 16px; font-family: "宋体"; padding: 0px 5px; color: rgb(170, 170, 170); }
.page .p-num .pn-prev i { padding-left: 0px; }
.page .p-num .pn-next i { padding-right: 0px; }
.page .p-num .pn-prev.disabled, .page .p-num .pn-next.disabled { background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: default; }
.page .p-num .pn-prev.disabled em, .page .p-num .pn-prev.disabled i, .page .p-num .pn-next.disabled em, .page .p-num .pn-next.disabled i { color: rgb(204, 204, 204); }
.page .p-skip { float: left; margin-left: 20px; }
.page .p-skip em { float: left; line-height: 38px; font-size: 14px; }
.page .p-skip .input-txt { float: left; width: 30px; height: 30px; margin: 0px 3px; line-height: 30px; font-size: 14px; text-align: center; }
.page .p-skip .btn { float: left; height: 27px; margin-left: 10px; font-size: 14px; line-height: 27px; }
.aside-bar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.aside-bar .ab-goods { display: none; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px; }
.aside-bar .ab-goods .mt { line-height: 36px; padding-left: 10px; margin-bottom: 10px; }
.aside-bar .ab-goods .mt h3 { font-family: "microsoft yahei"; font-size: 14px; }
.aside-bar .ab-goods .mc li { padding-left: 9px; padding-right: 9px; margin-bottom: 20px; }
.aside-bar .ab-goods .mc li .p-img { width: 100%; padding: 0px; margin-bottom: 10px; text-align: center; position: relative; }
.aside-bar .ab-goods .mc li .p-name { height: 36px; line-height: 18px; margin-bottom: 10px; overflow: hidden; display: block; }
.aside-bar .ab-goods .mc li .p-price { height: 16px; line-height: 16px; margin-bottom: 4px; overflow: hidden; }
.aside-bar .ab-goods .mc li .p-price .price { float: left; margin-right: 6px; color: rgb(228, 57, 60); font-weight: bold; font-family: verdana; font-size: 14px; }
.aside-bar .ab-goods .mc li .p-price .goods-icons { margin-right: 3px; }
.aside-bar .ab-goods .mc li .p-review { color: rgb(153, 153, 153); }
.aside-bar .ab-goods .mc li .p-review .number { color: rgb(0, 90, 160); }
.aside-bar .promo-pic-adbox .hd { line-height: 32px; font-size: 14px; font-weight: bold; font-family: "microsoft yahei"; }
.aside-bar .ab-pic { margin-bottom: 10px; }
.aside-bar .ab-pic img { width: 210px; height: auto; }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
.goods-chosen-list { height: 306px; padding-left: 29px; overflow: hidden; }
.goods-chosen-list li { float: left; width: 210px; height: 286px; padding: 0px 29px 20px 0px; overflow: hidden; }
.goods-chosen-list .p-img { width: 100%; padding: 0px; margin-bottom: 10px; text-align: center; }
.goods-chosen-list .p-img img { width: 190px; height: 190px; }
.goods-chosen-list .p-name { height: 36px; line-height: 18px; margin-bottom: 12px; overflow: hidden; display: block; }
.goods-chosen-list .p-price { height: 16px; line-height: 16px; margin-bottom: 4px; overflow: hidden; }
.goods-chosen-list .p-price .price { float: left; margin-right: 10px; color: rgb(228, 57, 60); font-weight: bold; font-family: verdana; font-size: 14px; }
.goods-chosen-list .p-price .goods-icons { margin-right: 3px; }
.goods-chosen-list .p-review { color: rgb(153, 153, 153); }
.goods-chosen-list .p-review .number { color: rgb(0, 90, 160); }
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	.goods-chosen-list { padding-left: 26px; }
	.goods-chosen-list li { padding: 0px 26px 20px 0px; }
}
@media screen and (min-width: 1230px) and (max-width: 1410px) {
}
@media screen and (min-width: 1230px) and (max-width: 1410px) {
	#service-2013 dl { width: 252px; }
	#service-2013 dl.fore5 { width: 160px; }
}
/* ::::: http://misc.360buyimg.com/??product/toolbar/1.0.1/widget/common/common.css ::::: */

.jdm-tbar-panel-header i, .jdm-tbar-panel-header .close-panel, .jdm-toolbar-tab .tab-ico { display: inline-block; background-image: url('jdm-toolbar-icons.png'); background-repeat: no-repeat; }
.i-loading { display: inline-block; width: 32px; height: 32px; background-image: url('loading.gif'); background-repeat: no-repeat; }
.jdm-tbar-tipbox2 { text-align: center; }
.jdm-toolbar-wrap { position: fixed; top: 0px; right: 0px; z-index: 9990; width: 35px; height: 100%; }
.jdm-toolbar-wrap a { text-decoration: none; }
.jdm-toolbar { position: absolute; right: 0px; top: 0px; width: 29px; height: 100%; border-right: 6px solid rgb(122, 110, 110); }
.jdm-toolbar-panels { position: absolute; left: 35px; top: 0px; width: 270px; height: 100%; z-index: 2; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-toolbar-panel { width: 270px; height: 100%; position: absolute; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header { position: relative; width: 270px; height: 40px; line-height: 40px; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header i { margin-right: 4px; margin-left: 10px; vertical-align: top; }
.jdm-tbar-panel-header .title { display: inline-block; height: 40px; color: rgb(94, 80, 80); font: 16px/40px "微软雅黑"; }
.jdm-tbar-panel-header .title em { display: inline-block; vertical-align: top; }
.jdm-tbar-panel-header .close-panel { width: 12px; height: 12px; background-position: 0px -250px; position: absolute; right: 8px; top: 16px; cursor: pointer; transition: transform 0.2s ease-out 0s; }
.jdm-tbar-panel-header .close-panel:hover { transform: rotate(180deg); }
.jdm-tbar-panel-main { position: relative; }
.jdm-tbar-panel-content { width: 270px; overflow-y: auto; overflow-x: hidden; position: relative; }
.jdm-tbar-panel-content .jdm-tbar-tipbox2 { width: 270px; position: absolute; left: 0px; top: 50%; margin-top: -60px; }
.jdm-toolbar-header { position: absolute; top: 0px; right: -6px; }
.jdm-toolbar-tabs { position: absolute; top: 50%; left: 0px; width: 35px; margin-top: -61px; }
.jdm-toolbar-footer { position: absolute; bottom: -1px; width: 100%; }
.jdm-toolbar-footer .jdm-toolbar-tab .tab-text { width: 50px; }
.jdm-toolbar-tab { position: relative; width: 35px; height: 35px; margin-bottom: 1px; cursor: pointer; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; }
.jdm-toolbar-tab .tab-ico { width: 34px; height: 35px; margin-left: 1px; position: relative; z-index: 2; background-color: rgb(122, 110, 110); }
.jdm-toolbar-tab .tab-text { width: 62px; height: 35px; line-height: 35px; color: rgb(255, 255, 255); text-align: center; font-family: "微软雅黑"; position: absolute; z-index: 1; left: 35px; top: 0px; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; transition: left 0.3s ease-in-out 0.1s; }
.jdm-toolbar-tab .tab-sub { position: absolute; z-index: 3; right: 2px; top: -5px; height: 11px; padding: 1px 2px; border: 1px solid rgb(182, 29, 29); overflow: hidden; color: rgb(255, 255, 255); font: 11px/11px verdana; text-align: center; min-width: 11px; border-radius: 10px; background-color: rgb(204, 96, 96); background-image: linear-gradient(to bottom, rgb(204, 96, 96) 0px, rgb(182, 29, 29) 100%); }
.jdm-tbar-tab-cart .tab-ico { background-position: -50px 0px; }
.jdm-tbar-tab-follow .tab-ico { background-position: -50px -50px; }
.jdm-tbar-tab-history .tab-ico { background-position: -50px -100px; }
.jdm-tbar-tab-jimi .tab-ico { background-position: -50px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-header i { width: 18px; height: 19px; margin-top: 10px; background-position: 0px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-content { overflow: hidden; }
.jdm-tbar-tab-top .tab-ico { background-position: -50px -250px; }
.jdm-tbar-tab-feedback .tab-ico { background-position: -50px -300px; }
