/* ::::: http://misc.360buyimg.com/jdf/1.0.0/unit/??ui-base/1.0.0/ui-base.css,shortcut/2.0.0/shortcut.css,global-header/1.0.0/global-header.css,myjd/2.0.0/myjd.css,nav/2.0.0/nav.css,shoppingcart/2.0.0/shoppingcart.css,global-footer/1.0.0/global-footer.css,service/1.0.0/service.css,basePatch/1.0.0/basePatch.css ::::: */

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var { margin: 0px; padding: 0px; }
button, html input[type="button"], input[type="submit"] { cursor: pointer; }
ol, ul { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
em, i, u { font-style: normal; }
.fl { float: left; }
.fr { float: right; }
.hide { display: none; }
.clear, .clr { display: block; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 0px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.dorpdown { position: relative; }
.dorpdown-layer { display: none; position: absolute; }
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer { display: block; }
.cw-icon { position: relative; cursor: default; }
.cw-icon .i, .cw-icon i { display: block; position: absolute; overflow: hidden; }
.w { width: 990px; margin: 0px auto; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(200, 22, 35); }
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price, .sm, .smb, .smc, .smt { overflow: hidden; }
#shortcut-2014 { width: 100%; height: 30px; line-height: 30px; background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
#shortcut-2014 .w { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
#shortcut-2014 li { float: left; height: 30px; padding: 0px 2px; }
#shortcut-2014 li#ttbar-navs { padding: 0px 1px 0px 2px; }
#shortcut-2014 li#ttbar-navs.hover, #shortcut-2014 li#ttbar-navs:hover { padding: 0px 0px 0px 1px; }
#shortcut-2014 li.dorpdown { z-index: 13; }
#shortcut-2014 li.dorpdown:hover { padding: 0px 1px; }
#shortcut-2014 li.dorpdown:hover .dt { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
#shortcut-2014 li.spacer { width: 1px; height: 12px; margin-top: 9px; padding: 0px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; overflow: hidden; }
#shortcut-2014 .dt { float: left; padding: 0px 8px; }
#shortcut-2014 .dd { line-height: 24px; }
#shortcut-2014 .dorpdown-layer { top: 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); }
#shortcut-2014 .ci-right { top: 12px; right: 8px; height: 7px; overflow: hidden; font: 400 15px/15px consolas; color: rgb(106, 106, 106); transition: transform 0.1s ease-in 0s; }
#shortcut-2014 .ci-right s { position: relative; top: -7px; text-decoration: none; }
#shortcut-2014 li:hover .ci-right { transform: rotate(180deg); }
#shortcut-2014 .dd-spacer { position: absolute; top: -7px; height: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
#shortcut-2014 #ttbar-mycity { padding-left: 0px; }
#shortcut-2014 #ttbar-mycity .dt { padding: 0px 25px 0px 10px; }
#shortcut-2014 #ttbar-mycity:hover .dt { padding: 0px 24px 0px 9px; }
#shortcut-2014 #ttbar-mycity .dd { width: 301px; padding: 10px 0px 10px 10px; }
#shortcut-2014 #ttbar-mycity .dorpdown-layer {  }
#shortcut-2014 #ttbar-mycity .item { float: left; width: 60px; padding: 2px 0px; }
#shortcut-2014 #ttbar-mycity .item a { float: left; padding: 0px 8px; }
#shortcut-2014 #ttbar-mycity .item a:hover { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
#shortcut-2014 #ttbar-mycity .item a.selected { background: rgb(200, 22, 35) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#shortcut-2014 #ttbar-mycity .dd-spacer { left: 0px; width: 93px; }
#shortcut-2014 #ttbar-login { margin-right: 10px; }
#shortcut-2014 #ttbar-apps .dt { padding-left: 25px; padding-right: 25px; }
#shortcut-2014 #ttbar-apps .dt .ci-left { top: 5px; left: 7px; width: 15px; height: 20px; background: transparent url('../imags/jd2015img.png') no-repeat scroll 0px 0px; }
#shortcut-2014 #ttbar-apps .dd { width: 250px; }
#shortcut-2014 #ttbar-apps .dd a { display: block; position: absolute; width: 56px; height: 44px; overflow: hidden; text-indent: -500px; }
#shortcut-2014 #ttbar-apps .dd .link { width: 100px; height: 20px; overflow: hidden; }
#shortcut-2014 #ttbar-apps .dd .link1, #shortcut-2014 #ttbar-apps .dd .link2, #shortcut-2014 #ttbar-apps .dd .link3 { left: 92px; top: 6px; background-position: 0px -44px; }
#shortcut-2014 #ttbar-apps .dd .link3 { top: 104px; background-position: -1px -66px; }
#shortcut-2014 #ttbar-apps .dd .jdapp-ipad, #shortcut-2014 #ttbar-apps .dd .wyapp-ipad { width: 45px; }
#shortcut-2014 #ttbar-apps .dd-inner { position: relative; width: 250px; height: 195px; overflow: hidden; }
#shortcut-2014 #ttbar-apps .jdapp-ios, #shortcut-2014 #ttbar-apps .wyapp-ios { top: 46px; left: 92px; }
#shortcut-2014 #ttbar-apps .jdapp-ios:hover, #shortcut-2014 #ttbar-apps .wyapp-ios:hover { background-position: 3px -1px; }
#shortcut-2014 #ttbar-apps .jdapp-android, #shortcut-2014 #ttbar-apps .wyapp-android { top: 46px; left: 147px; }
#shortcut-2014 #ttbar-apps .jdapp-android:hover, #shortcut-2014 #ttbar-apps .wyapp-android:hover { background-position: -52px -1px; }
#shortcut-2014 #ttbar-apps .jdapp-ipad, #shortcut-2014 #ttbar-apps .wyapp-ipad { width: 45px; top: 46px; left: 202px; }
#shortcut-2014 #ttbar-apps .jdapp-ipad:hover, #shortcut-2014 #ttbar-apps .wyapp-ipad:hover { background-position: -107px -1px; }
#shortcut-2014 #ttbar-apps .wyapp-android, #shortcut-2014 #ttbar-apps .wyapp-ios, #shortcut-2014 #ttbar-apps .wyapp-ipad { top: 143px; }
#shortcut-2014 #ttbar-apps .dd-spacer { left: 0px; width: 98px; }
#shortcut-2014 #ttbar-atte .dt, #shortcut-2014 #ttbar-serv .dt { width: 49px; padding-right: 25px; }
#shortcut-2014 #ttbar-atte .dd, #shortcut-2014 #ttbar-serv .dd { width: 82px; padding-bottom: 8px; }
#shortcut-2014 #ttbar-atte .item, #shortcut-2014 #ttbar-serv .item { padding-left: 15px; }
#shortcut-2014 #ttbar-atte .dd-spacer, #shortcut-2014 #ttbar-serv .dd-spacer { left: 0px; width: 82px; }
#shortcut-2014 #ttbar-navs .dt { width: 49px; padding-right: 25px; }
#shortcut-2014 #ttbar-navs .dd { right: 0px; width: 988px; padding: 20px 0px 16px; }
#shortcut-2014 #ttbar-navs dl { float: left; width: 201px; padding-left: 20px; border-left: 1px solid rgb(221, 221, 221); }
#shortcut-2014 #ttbar-navs dl.fore1 { border-left: medium none; width: 301px; }
#shortcut-2014 #ttbar-navs dt { font-size: 14px; font-weight: 700; margin-bottom: 6px; }
#shortcut-2014 #ttbar-navs .item { float: left; width: 100px; }
#shortcut-2014 #ttbar-navs .dd-spacer { right: 0px; width: 82px; }
#search-2014 { position: relative; z-index: 11; float: left; width: 462px; margin-top: 25px; }
#search-2014 .form { width: 462px; height: 36px; }
#search-2014 .text { float: left; width: 370px; height: 24px; line-height: 24px; color: rgb(102, 102, 102); padding: 4px; margin-bottom: 4px; border-width: 2px 0px 2px 2px; border-color: rgb(182, 29, 29); border-style: solid; outline: 0px none; font-size: 14px; font-family: "microsoft yahei"; }
#search-2014 .button { float: left; width: 82px; height: 36px; background: rgb(182, 29, 29) none repeat scroll 0% 0%; border: medium none; line-height: 1; color: rgb(255, 255, 255); font-family: "Microsoft YaHei"; font-size: 16px; cursor: pointer; }
#search-2014 .cw-icon i { top: 0px; left: 0px; width: 82px; height: 36px; }
#hotwords-2014 { float: left; width: 462px; height: 20px; line-height: 20px; overflow: hidden; }
#hotwords-2014 a { margin-right: 10px; }
#shelper { overflow: hidden; position: absolute; top: 36px; left: 0px; width: 379px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#ttbar-myjd .dt { width: 49px; padding-right: 25px; }
#ttbar-myjd .dorpdown-layer { width: 270px; }
#ttbar-myjd .userinfo { padding: 10px 15px; overflow: hidden; }
#ttbar-myjd .u-pic { float: left; margin-right: 10px; }
#ttbar-myjd .u-pic img { border-radius: 50%; }
#ttbar-myjd .u-name { padding: 6px 0px 0px; font-weight: 700; }
#ttbar-myjd .otherlist { width: 255px; padding: 0px 0px 0px 15px; margin: 5px 0px 10px; overflow: hidden; }
#ttbar-myjd .otherlist .fore1, #ttbar-myjd .otherlist .fore2 { float: left; width: 126px; }
#ttbar-myjd .viewlist { width: 240px; padding: 10px 15px; border-top: 1px dotted rgb(204, 204, 204); }
#ttbar-myjd .viewlist .smt h4 { float: left; }
#ttbar-myjd .viewlist .smt .extra { float: right; }
#ttbar-myjd .viewlist .item { float: left; padding: 4px; line-height: 0; font-size: 0px; }
#ttbar-myjd .dd-spacer { left: 0px; width: 82px; }
#categorys-2014 .item-sub::after { content: "."; display: block; height: 0px; clear: both; }
#settleup-2014 { float: right; z-index: 11; height: 36px; margin-top: 25px; }
#settleup-2014 .cw-icon { width: 75px; height: 34px; border: 1px solid rgb(223, 223, 223); padding: 0px 28px 0px 36px; background: rgb(249, 249, 249) none repeat scroll 0% 0%; text-align: center; line-height: 34px; }
#settleup-2014 .ci-left { top: 9px; left: 18px; width: 18px; height: 16px; background: transparent url('../images/jd2015img.png') no-repeat scroll 0px -58px; }
#settleup-2014 .ci-right { top: 11px; right: 10px; width: 7px; height: 13px; overflow: hidden; font: 400 13px/13px simsun; color: rgb(153, 153, 153); }
#settleup-2014 .ci-count { position: absolute; top: -4px; left: 104px; display: inline-block; padding: 1px 2px; font-size: 12px; line-height: 12px; color: rgb(255, 255, 255); background-color: rgb(200, 22, 35); border-radius: 7px 7px 7px 0px; min-width: 12px; text-align: center; }
#settleup-2014.hover .cw-icon, #settleup-2014.hover .dorpdown-layer, #settleup-2014:hover .cw-icon, #settleup-2014:hover .dorpdown-layer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
#settleup-2014.hover .dorpdown-layer, #settleup-2014:hover .dorpdown-layer { display: block; right: 0px; width: 308px; }
#settleup-2014.hover .spacer, #settleup-2014:hover .spacer { position: absolute; right: 0px; top: -7px; width: 139px; height: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#settleup-content { position: relative; z-index: 2; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#settleup-content .loading { display: block; height: 50px; background: transparent url('../images/loading.gif') no-repeat scroll center center; }
#footer-2014 { border-top: 1px solid rgb(229, 229, 229); padding: 20px 0px 30px; text-align: center; }
#footer-2014 .links a { margin: 0px 10px; }
#footer-2014 .copyright { margin: 10px 0px; }
#footer-2014 .authentication a { margin: 0px 5px; text-decoration: none; }
#service-2014 { margin-bottom: 20px; }
#service-2014 dl { float: left; width: 222px; }
#service-2014 dl.fore5 { width: 100px; }
#service-2014 dt { padding: 6px 0px; font: 400 16px/24px "microsoft yahei"; }
#service-2014 dd { line-height: 20px; }
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt { overflow: hidden; }
/* ::::: http://misc.360buyimg.com/user/myjd-2015??/widget/common/common.css,/widget/home-media/home-media.css,/widget/userinfo/userinfo.css,/widget/order-list/order-list.css,/widget/economical/economical.css,/widget/server/server.css,/widget/history/history.css,/widget/fol-goods/fol-goods.css,/widget/bargain-goods/bargain-goods.css,/widget/show/show.css,/widget/backpanel/backpanel.css ::::: */

.mr5 { margin-right: 5px; }
.ftx-01, .ftx01 { color: rgb(228, 57, 60); }
.ftx-03, .ftx03 { color: rgb(153, 153, 153); }
.ftx-05, .ftx05 { color: rgb(0, 94, 167); }
.fl { float: left; }
.fr { float: right; }
li { list-style: outside none none; }
.btn-10, .btn-11, .btn-12, .btn-9 { background-color: rgb(247, 247, 247); background-image: linear-gradient(to bottom, rgb(247, 247, 247) 0px, rgb(243, 242, 242) 100%); border-radius: 2px; display: inline-block; height: 18px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 2px 14px 3px; color: rgb(50, 51, 51); }
.btn-10:hover, .btn-11:hover, .btn-12:hover, .btn-9:hover { background-color: rgb(248, 248, 248); background-image: linear-gradient(to bottom, rgb(248, 248, 248) 0px, rgb(245, 245, 245) 100%); }
.btn-10:link, .btn-10:visited, .btn-11:link, .btn-11:visited, .btn-12:link, .btn-12:visited, .btn-9:link, .btn-9:visited { color: rgb(50, 51, 51); text-decoration: none; }
.mod-main { padding: 10px; background-color: rgb(255, 255, 255); margin-bottom: 20px; }
.mod-main .mt { display: block; padding: 10px; }
.mod-main .mt::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.mod-main .mt h3 { float: left; font-family: "微软雅黑"; font-size: 16px; color: rgb(51, 51, 51); line-height: 20px; }
.mod-main .mt .extra-l { float: left; }
.mod-main .mt .extra-l li { float: left; padding-left: 20px; }
.mod-main .mt .extra-l li a { display: inline-block; padding-bottom: 2px; color: rgb(153, 153, 153); }
.mod-main .mt .extra-l li a:hover, .mod-main .mt .extra-l li a:hover em { color: rgb(228, 57, 60); }
.mod-main .mt .extra-l em { margin-left: 5px; }
.mod-main .mt .extra-r { float: right; }
.mod-main .mc { overflow: visible; }
#container, #container .w { background-color: rgb(245, 245, 245); }
#content { padding-left: 120px; padding-top: 20px; display: block; }
#content::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#sub { float: left; width: 120px; position: relative; left: -120px; }
#main { float: left; width: 99.9%; margin-left: -120px; overflow: hidden; }
#nav { height: 80px; background-color: rgb(228, 80, 80); position: relative; z-index: 2 }
#nav .w { background-color: rgb(228, 80, 80); }
#nav .logo { float: left; width: 265px; }
#nav .logo a { text-decoration: none; color: rgb(255, 255, 255); }
#nav .logo .fore1 { float: left; margin-right: 10px; width: 158px; height: 80px; background: transparent url('../images/logo.png') no-repeat scroll 0% 0%; }
#nav .logo .fore2 { float: left; font-size: 20px; font-family: "微软雅黑"; margin: 20px 0px 0px 6px; height: 22px; }
#nav .logo .fore3 { float: left; margin: 5px 0px 0px; color: rgb(255, 178, 178); border: 1px solid rgb(255, 178, 178); height: 18px; line-height: 18px; padding: 0px 10px; border-radius: 10px; }
#nav .logo .fore3:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(255, 255, 255); color: rgb(228, 57, 60); }
#nav .navitems { float: left; height: 36px; width: 342px; line-height: 36px; padding: 22px 0px; margin: 0px 0px 0px 30px; font-size: 14px; }
#nav .navitems a { color: rgb(255, 255, 255); }
#nav .navitems a:hover { text-decoration: underline; }
#nav .navitems ul { display: block; }
#nav .navitems ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#nav .navitems li { float: left; margin: 0px 20px 0px 0px; }
#nav .navitems li.fore-3, #nav .navitems li.fore-4 { margin: 0px; }
#nav .navitems .dl { position: relative; }
#nav .navitems .dl .dt { white-space: nowrap; height: 18px; line-height: 18px; padding: 9px 16px; width: 74px; }
#nav .navitems .dl .dt span { color: rgb(255, 255, 255); }
#nav .navitems .dl .dt b { display: inline-block; vertical-align: middle; width: 9px; height: 6px; overflow: hidden; margin-left: 5px; background: transparent url('../images/icon.png') no-repeat scroll 0px -120px; transition: transform 0.2s ease-in 0s; }
#nav .navitems .dl .dd { position: absolute; top: 34px; left: 0px; display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 12px; }
#nav .navitems .dl .dd a { display: block; text-decoration: none; width: 88px; padding: 0px 0px 0px 16px; line-height: 30px; }
#nav .navitems .dl .dd a:hover { background: rgb(245, 245, 245) none repeat scroll 0% 0%; color: rgb(228, 57, 60); }
#nav .navitems .myjd-info { position: relative; }
#nav .navitems .myjd-info i { display: block; position: absolute; top: -10px; left: 68px; width: 26px; height: 26px; line-height: 26px; font-family: verdana; color: rgb(51, 51, 51); text-align: center; font-weight: 700; overflow: hidden; background: transparent url('../images/msg-count.png') no-repeat scroll 0% 0%; transition: transform 0.2s ease-in 0s; }
#nav .nav-r { float: right; width: 340px; margin-right: 5px; }
#nav .nav-r #search-2014 { width: 186px; }
#nav .nav-r #search-2014 .button { width: 56px; font-size: 12px; height: 32px; color: rgb(51, 51, 51); background-color: rgb(247, 247, 247); }
#nav .nav-r #search-2014 .text { width: 120px; border: 0px none; }
#nav .nav-r #search-2014 #shelper { width: 338px; top: 32px; }
#nav .nav-r #search-2014 .form { width: auto; }
#nav .nav-r #settleup-2014 { float: right; margin-right: 0px; }
#nav .nav-r #settleup-2014 .cw-icon { height: 30px; border: 1px solid rgb(255, 255, 255); }
#nav .nav-r #settleup-2014 .ci-left { top: 7px; }
#nav .nav-r #settleup-2014 .ci-right { top: 9px; }
#nav .nav-r #settleup-2014 .dorpdown-layer { top: 32px; }
#nav .nav-r #hotwords-2014 { width: auto; display: none; }
#nav .navitems .hover {
  z-index: 10;
}
#service-2014 dl { width: 22%; }
#service-2014 dl.fore5 { width: 8%; }
#menu { width: 100px; padding-left: 10px; }
#menu dl { padding-bottom: 15px; }
#menu dl dt { height: 28px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 700; }
#menu dl dd { color: rgb(102, 102, 102); line-height: 24px; }
#menu dl dd a { color: rgb(119, 119, 119); }
#menu dl dd a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
#menu-ads { width: 90px; margin-left: 10px; overflow: hidden; }
#menu-ads a { display: inline-block; margin-bottom: 10px; }
.rank { margin-right: 10px; display: inline-block; height: 17px; line-height: 17px; }
.rank s { background: transparent url('../images/rank2014.gif') repeat scroll 0% 0%; display: inline-block; height: 17px; margin-right: 5px; text-decoration: none; width: 17px; vertical-align: middle; }
.rank a { display: inline-block; vertical-align: middle; }
.rank.r2 s { background-position: 0px -17px; }
#da-main .da-list { margin-bottom: 10px; }
.form .item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.form .text { line-height: 18px; border: 1px solid rgb(204, 204, 204); }
.form .itxt, .form .text { height: 18px; width: 127px; padding: 5px 23px 5px 5px; }
table { border-collapse: collapse; }
.remind-box .smt::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.tip-box .links ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
img.err-poster, img.err-product { background: transparent url('../images/error-jd.gif') no-repeat scroll 50% 50%; }
@media screen and (min-width: 1044px) and (max-width: 1279px) {
	#header-2013 { position: relative; }
}
@media screen and (min-width: 1280px) {
}
#container { background-color: rgb(245, 245, 245); }
.lyt-c-0, .lyt-c-5, .lyt-c-6 { margin-bottom: 20px; }
.lyt-c-2 .lyt-c-3 { float: left; width: 99.8%; }
.lyt-c-2 .lyt-c-7 { float: left; width: 99.8%; position: relative; }
.lyt-c-2 .lyt-c-4 { position: absolute; right: 0px; width: 300px; }
.lyt-c-2 .lyt-c-5 { margin-right: 320px; }
.lyt-c-6 { clear: both; }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
	body .w { width: 96%; }
	.lyt-c-2 .lyt-c-7 { position: relative; }
	.lyt-c-2 .lyt-c-4 { position: absolute; right: 0px; width: 300px; }
	.lyt-c-2 .lyt-c-5 { margin-right: 320px; }
	.lyt-c-6 { clear: both; }
}
@media screen and (min-width: 1280px) {
	body .w { width: 1210px; }
	.lyt-c-1 { float: left; width: 770px; }
	.lyt-c-2 { float: right; width: 300px; }
	.lyt-c-2 .lyt-c-3 { width: 300px; }
	.lyt-c-2 .lyt-c-7 { position: static; }
	.lyt-c-2 .lyt-c-4 { position: static; width: 300px; }
	.lyt-c-2 .lyt-c-5 { margin-right: 0px; width: 300px; }
	.lyt-c-6 { float: left; clear: none; width: 770px; }
}
.user-info { background: rgb(255, 255, 255) url('../images/userinfo-bg.png') repeat-y scroll right top; padding: 15px 20px 15px 319px; margin-bottom: 10px; height: 150px; overflow: hidden; border-radius: 86px 0px 0px 86px; }
.user-info a { color: rgb(0, 94, 167); }
.user-info a:hover { color: rgb(228, 57, 60); }
.user-info .info-lcol { float: left; position: relative; width: 319px; left: -319px; padding: 22px 0px; }
.user-info .info-rcol { float: left; width: 99.19%; margin-left: -319px; padding-top: 5px; }
.user-info .u-pic { position: relative; float: left; width: 104px; height: 104px; margin: 0px 10px 0px 16px; z-index: 2; overflow: hidden; text-align: center; }
.user-info .u-pic .mask { background: transparent url('../images/myjd-bg.png') repeat scroll 0px 0px; width: 104px; height: 104px; position: absolute; left: 0px; top: 0px; z-index: 2; }
.user-info .info-m { float: left; width: 188px; position: relative; margin: 15px 0px 0px; }
.user-info .info-m .u-name { font-size: 18px; font-family: "microsoft yahei"; color: rgb(51, 51, 51); line-height: 28px; margin-bottom: 5px; }
.user-info .info-m .u-name a { color: rgb(0, 0, 0); }
.user-info .info-m .u-name a:hover { color: rgb(228, 57, 60); }
.user-info .info-m .u-level { margin-bottom: 10px; height: 18px; }
.user-info .info-m .u-safe span, .user-info .info-m .u-safe #cla, .user-info .info-m .u-safe #rank-text, .user-info .info-m .u-safe #up { float: left; }
.user-info .info-m .u-safe .safe-rank01, .user-info .info-m .u-safe .safe-rank02, .user-info .info-m .u-safe .safe-rank03, .user-info .info-m .u-safe .safe-rank04, .user-info .info-m .u-safe .safe-rank05, .user-info .info-m .u-safe .safe-rank06 { background: transparent url('../images/safe-rank2015.png') no-repeat scroll 0px 0px; font-size: 0px; height: 14px; line-height: 0; overflow: hidden; width: 50px; margin: 3px 6px 2px 0px; }
.user-info .info-m .u-safe .safe-rank05 { background-position: 0px -60px; }
.user-info .info-m .u-safe .rank-text { font-weight: normal; margin-right: 5px; }
.user-info .info-m .u-safe .rank-text.ftx-05, .user-info .info-m .u-safe .rank-text.ftx-06 { color: rgb(102, 153, 51); }
.user-info .info-m .info-line { position: absolute; height: 180px; right: 0px; top: -52px; border-left: 1px dotted rgb(221, 221, 221); z-index: 1; }
.user-info .info-m .info-line .top-icon, .user-info .info-m .info-line .bottom-icon { display: block; position: absolute; overflow: hidden; width: 18px; height: 8px; left: -9px; }
.user-info .info-m .info-line .top-icon { top: 0px; background: transparent url('../images/info-top.png') no-repeat scroll 0% 0%; }
.user-info .info-m .info-line .bottom-icon { bottom: 0px; background: transparent url('../images/info-bottom.png') no-repeat scroll 0% 0%; }
.user-info .info-m .info-line .left-icon { position: absolute; overflow: hidden; width: 88px; height: 180px; left: -318px; background: transparent url('../images/info-left.png') no-repeat scroll 0px 0px; }
.user-info .user-counts { float: left; width: 28.57%; margin-top: 6px; }
.user-info .user-counts ul { display: block; margin-left: 15px; }
.user-info .user-counts ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.user-info .user-counts li { float: left; width: 49.9%; margin: 0px 0px 10px; white-space: nowrap; height: 59px; }
.user-info .user-counts a { color: rgb(102, 102, 102); }
.user-info .user-counts a:hover { color: rgb(201, 21, 35); text-decoration: none; }
.user-info .user-counts em { font-family: verdana; color: rgb(201, 21, 35); font-weight: bold; margin-left: 5px; }
.user-info .user-counts .count-icon { display: block; width: 40px; height: 40px; overflow: hidden; transition: transform 0.2s ease-in 0s; background: transparent url('../images/ucount-icon.png') no-repeat scroll 0% 0%; }
.user-info .user-counts .count-icon01 { background-position: 0px 0px; }
.user-info .user-counts .count-icon02 { background-position: 0px -50px; }
.user-info .user-counts .count-icon03 { background-position: 0px -100px; }
.user-info .user-counts .count-icon04 { background-position: 0px -150px; }
.user-info .user-counts a:hover .count-icon01 { background-position: 0px -200px; }
.user-info .user-counts a:hover .count-icon02 { background-position: 0px -250px; }
.user-info .user-counts a:hover .count-icon03 { background-position: 0px -300px; }
.user-info .user-counts a:hover .count-icon04 { background-position: 0px -350px; }
.user-info .user-counts .count-item a:hover .count-icon { transform: translateY(-5px); }
.user-info .acco-info { float: right; width: 71.42%; height: 110px; padding: 15px 0px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; overflow: hidden; }
.user-info .acco-info ul { display: block; }
.user-info .acco-info ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.user-info .acco-info li { float: left; width: 32.99%; text-align: left; line-height: 22px; }
.user-info .acco-info li .acco-item { height: 110px; }
.user-info .acco-info li .btn-show { color: rgb(153, 153, 153); cursor: pointer; display: none; }
.user-info .acco-info li.fore2 { width: 28%; }
.user-info .acco-info li.fore2 .acco-item { border-style: dotted; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.user-info .acco-info li.fore3 { width: 38.99%; }
.user-info .acco-info li label { display: inline-block; padding-left: 10px; text-align: right; }
.user-info .acco-info li a { color: rgb(102, 102, 102); }
.user-info .acco-info li a em { color: rgb(51, 51, 51); font-weight: bold; font-family: verdana; }
.user-info .acco-info li a:hover { color: rgb(228, 57, 60); text-decoration: none; }
.user-info .acco-info li a:hover em { color: rgb(228, 57, 60); }
.user-info .acco-info .jinku-info { padding-left: 10px; text-align: left; }
.user-info .acco-info .jinku-info a.alink { color: rgb(0, 94, 167); }
.user-info .acco-info .jinku-info a.alink:hover { color: rgb(228, 57, 60); }
.user-info .acco-info .baitiao-info { padding-left: 10px; text-align: left; }
.user-info .acco-info .baitiao-info a.alink { color: rgb(0, 94, 167); }
.user-info .acco-info .baitiao-info a.alink:hover { color: rgb(228, 57, 60); }
.user-info .acco-info .baitiao-info .baitiao-limit { display: inline-block; border-radius: 8px; border: 1px solid rgb(228, 57, 60); color: rgb(228, 57, 60); padding: 0px 15px; height: 16px; line-height: 16px; margin-bottom: 5px; }
.fc-msg { text-align: right; margin-bottom: 10px; }
.fc-msg b { padding: 0px 10px; }
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.user-info .user-counts { width: 29.5%; }
	.user-info .user-counts ul { margin-left: 25px; }
	.user-info .acco-info { width: 70.39%; }
}
@media screen and (min-width: 1280px) {
	.user-info .user-counts { width: 34.94%; }
	.user-info .user-counts ul { margin-left: 50px; }
	.user-info .acco-info { width: 64.95%; }
	.user-info .acco-info .acco-item { padding-left: 10px; }
}
.tb-order { border-collapse: collapse; border-spacing: 0px; text-align: center; }
.nocont-box { color: rgb(153, 153, 153); text-align: center; }
.nocont-box b { display: inline-block; vertical-align: middle; background: transparent url('../images/nocont-icons.png') no-repeat scroll 0% 0%; overflow: hidden; margin-right: 20px; }
.nocont-box b.icon-order { width: 70px; height: 70px; background-position: 0px 0px; }
.nocont-order { margin: 60px 0px 90px; }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
}
@media screen and (min-width: 1280px) {
	.history-con .slider-show { margin: 0px 12px; }
	.history-con ul li { margin-right: 18px; }
}
.economical { padding: 0px 10px; height: 136px; overflow: hidden; }
.economical .gate-list { float: left; width: 16.6%; padding-bottom: 10px; }
.economical .gate-list li { padding: 8px 0px; float: left; width: 99.8%; }
.economical .gate-list li .gate-item { height: 42px; line-height: 42px; background-color: rgb(255, 136, 121); color: rgb(255, 255, 255); border-radius: 42px; }
.economical .gate-list li .gate-item a { display: block; position: relative; width: 100%; text-decoration: none; }
.economical .gate-list li span.fore1 { position: relative; z-index: 2; color: rgb(255, 255, 255); font-size: 14px; font-family: "微软雅黑"; float: left; padding-left: 20px; transition: all 0.5s ease-in-out 0s, opacity 1s ease 0s; }
.economical .gate-list li span.fore2 { position: absolute; z-index: 1; right: 0px; top: 0px; width: 42px; height: 42px; text-align: center; background-color: rgb(255, 120, 103); border-radius: 42px; text-decoration: none; color: rgb(255, 255, 255); transition: all 0.5s ease-in-out 0s, opacity 1s ease 0s; }
.economical .gate-list li span.fore2 b { position: absolute; right: 18px; top: 18px; display: block; width: 3px; height: 5px; line-height: 100px; overflow: hidden; background: transparent url('../images/e-icon.png') no-repeat scroll 0% 0%; }
.economical .gate-list li a:hover span.fore1 { padding-left: 30px; }
.economical .gate-list li a:hover span.fore2 { width: 100%; }
.economical .eco-item { float: right; width: 83.3%; overflow: hidden; }
.economical .eco-item li { width: 24.95%; float: left; list-style: outside none none; text-align: center; }
.economical .eco-item li .da-item { height: 128px; margin: 0px 0px 9px 10px; background-color: rgb(245, 245, 245); }
.economical .eco-item li .da-item .ext1, .economical .eco-item li .da-item .ext2 { display: inline-block; width: 100%; font-family: "microsoft yahei"; font-weight: 400; height: 16px; line-height: 16px; overflow: hidden; }
.economical .eco-item li .da-item .ext1 { padding-top: 12px; font-size: 14px; color: rgb(51, 51, 51); }
.economical .eco-item li .da-item .ext2 { font-weight: 400; font-size: 12px; color: rgb(153, 153, 153); }
.economical .eco-item li .da-item a { color: rgb(102, 102, 102); display: inline-block; width: 100%; height: 100%; }
.economical .eco-item li .da-item:hover .ext1, .economical .eco-item li .da-item:hover .ext2 { color: rgb(34, 34, 34); }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
	.economical .eco-item li { width: 19.8%; }
}
@media screen and (min-width: 1280px) {
	.economical { height: 340px; padding: 0px 0px 0px 10px; }
	.economical .gate-list { width: 99.8%; }
	.economical .gate-list li { float: left; width: 49.8%; }
	.economical .gate-list li .gate-item { margin-right: 10px; }
	.economical .gate-list li span.fore1 { padding-left: 15px; }
	.economical .gate-list li a:hover span.fore1 { padding-left: 22px; }
	.economical .eco-item { width: 99.8%; overflow: hidden; }
	.economical .eco-item li { width: 49.8%; }
	.economical .eco-item li .da-item { margin: 0px 9px 10px 0px; }
}
.quick-ser { margin: 0px 10px; height: 168px; }
.f-tab ul { height: 25px; border-left: 1px solid rgb(233, 234, 236); }
.f-tab ul li { float: left; }
.f-tab ul li a { border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(233, 234, 236) rgb(233, 234, 236) rgb(233, 234, 236) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: block; height: 23px; line-height: 23px; width: 63px; text-align: center; text-decoration: none; background-color: rgb(248, 248, 248); }
.f-tab ul li.curr a { color: rgb(228, 57, 60); font-weight: 700; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); }
.f-tab-con { overflow: hidden; }
#history { position: relative; background: rgb(255, 255, 255) url('../images/history-bg.png') no-repeat scroll center bottom; }
#history .mc { position: relative; overflow: hidden; }
.history-con { position: relative; padding: 0px 20px; height: 110px; }
.history-con .slider-show { overflow: hidden; position: relative; line-height: 0; margin: 0px 42px; height: 110px; }
.history-con .slider-show-ctn { position: relative; z-index: 0; line-height: 18px; width: 100%; }
.history-con ul { display: block; z-index: 1; width: 2000px; }
.history-con ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.history-con ul li { float: left; padding: 10px 0px; margin: 0px 20px 0px 0px; width: 60px; text-align: center; }
.history-con .p-price { font-family: verdana; color: rgb(51, 51, 51); line-height: 25px; margin-bottom: 5px; }
.history-con .ctrl { position: absolute; width: 19px; height: 100%; cursor: pointer; overflow: hidden; }
.history-con .ctrl b { position: absolute; width: 19px; height: 31px; top: 50%; margin-top: -15px; overflow: hidden; z-index: 1; }
.history-con .ctrl.prev { left: 0px; }
.history-con .ctrl.prev b { background: transparent url('../images/arrow.jpg') no-repeat scroll 0px 0px; }
.history-con .ctrl.prev:hover { left: 0px; }
.history-con .ctrl.prev:hover b { background: transparent url('../images/arrow.jpg') no-repeat scroll 0px -31px; }
.history-con .ctrl.next { right: 0px; }
.history-con .ctrl.next b { background: transparent url('../images/arrow.jpg') no-repeat scroll -20px 0px; }
.history-con .ctrl.next:hover { right: 0px; }
.history-con .ctrl.next:hover b { background: transparent url('../images/arrow.jpg') no-repeat scroll -20px -31px; }
.history-progress { visibility: hidden; position: relative; height: 2px; background: rgb(232, 232, 232) none repeat scroll 0% 0%; width: 100%; margin-top: 56px; }
.history-progress .progress-cont { position: absolute; height: 2px; background: rgb(56, 56, 56) none repeat scroll 0% 0%; }
.history-progress .progress-cont b { position: absolute; right: 0px; bottom: 0px; display: block; width: 28px; height: 33px; overflow: hidden; background: transparent url('../images/progress-node.png') no-repeat scroll 0% 0%; cursor: pointer; }
@media screen and (min-width: 1280px) {
	.history-con .slider-show { margin: 0px 12px; }
	.history-con ul li { margin-right: 18px; }
}
.fol-goods { overflow: hidden; }
.fol-goods .mt .extra-l { background: rgb(245, 245, 245) none repeat scroll 0% 0%; margin-left: 20px; padding: 2px 0px; overflow: hidden; }
.fol-goods .mt .extra-l li { padding: 0px 10px; border-right: 1px solid rgb(255, 255, 255); margin-right: -1px; }
.follow { position: relative; padding: 0px 20px; }
.follow .slider-show { overflow: hidden; position: relative; line-height: 0; margin: 0px 40px; height: 203px; }
.follow .slider-show-ctn { position: relative; width: 100%; z-index: 0; line-height: 18px; }
.follow ul { display: block; z-index: 1; width: 2000px; }
.follow ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.follow ul li { float: left; padding: 10px 0px; margin: 0px 20px 0px 0px; width: 130px; text-align: center; }
.follow .p-price { font-family: verdana; color: rgb(51, 51, 51); line-height: 25px; margin-bottom: 5px; }
.follow .icon-down { padding: 0px 1px; height: 16px; line-height: 16px; display: inline-block; background: rgb(228, 57, 60) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.follow .p-cut { background: rgb(82, 205, 98) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 5px; display: inline-block; }
.follow .ctrl { position: absolute; display: block; float: left; width: 19px; height: 159px; cursor: pointer; overflow: hidden; }
.follow .ctrl b { position: absolute; display: block; width: 19px; height: 31px; top: 50%; margin-top: -15px; overflow: hidden; z-index: 1; }
.follow .ctrl.prev { left: 0px; }
.follow .ctrl.prev b { background: transparent url('../images/arrow.jpg') no-repeat scroll 0px 0px; }
.follow .ctrl.prev:hover { left: 0px; }
.follow .ctrl.prev:hover b { background: transparent url('../images/arrow.jpg') no-repeat scroll 0px -31px; }
.follow .ctrl.next { right: 0px; }
.follow .ctrl.next b { background: transparent url('../images/arrow.jpg') no-repeat scroll -20px 0px; }
.follow .ctrl.next:hover { right: 0px; }
.follow .ctrl.next:hover b { background: transparent url('../images/arrow.jpg') no-repeat scroll -20px -31px; }
.nocont-fol { padding: 20px 10px; margin: 0px -10px; border-bottom: 1px dashed rgb(221, 221, 221); }
@media screen and (min-width: 1280px) {
	.follow .slider-show { margin: 0px 5px; }
	.follow ul li { margin-right: 10px; }
}
.bargarin-cont ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
}
#show .mt { height: 32px; }
#show .show-btn { display: inline-block; vertical-align: middle; background: rgb(69, 197, 154) none repeat scroll 0% 0%; font-family: "微软雅黑"; font-size: 14px; font-weight: 700; color: rgb(255, 255, 255); padding: 7px 15px; height: 18px; line-height: 18px; border-radius: 2px; }
.show-cont { margin: 5px 10px 0px; display: block; }
.show-cont::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.show-cont .show-list { float: left; width: 33.33%; }
.show-cont .show-item { width: 218px; border: 1px solid rgb(245, 245, 245); overflow: hidden; margin: 0px auto 20px; }
.show-cont .show-item:hover { box-shadow: 0px 1px 3px rgba(103, 103, 103, 0.3); }
.show-cont .show-item .s-tit { height: 1.5em; line-height: 1.5em; margin: 10px; overflow: hidden; font-weight: 700; }
.show-cont .show-item .s-tit a { color: rgb(51, 51, 51); }
.show-cont .show-item .s-comment { padding: 20px 10px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.show-cont .show-item .s-comment .s-comm-username { margin-bottom: 5px; }
.show-cont .show-item .s-comment .s-comm-username a { color: rgb(51, 51, 51); }
.show-cont .show-item .s-comment .s-comm-text { color: rgb(102, 102, 102); line-height: 18px; }
.show-cont .show-item .s-comment .append-comm { margin: 15px 0px 0px; }
.show-cont .show-item .s-comment .append-comm .area { width: 190px; height: 45px; border: 1px solid rgb(221, 221, 221); overflow: auto; resize: none; padding: 4px; margin: 0px; display: none; }
.show-cont .show-item .s-comment .append-comm .area-notice { color: rgb(102, 102, 102); }
.show-cont .show-item .s-comment .append-comm .error-msg { background: rgb(255, 235, 235) none repeat scroll 0% 0%; color: rgb(228, 57, 60); border: 1px solid rgb(255, 189, 190); padding: 4px; width: 190px; margin-top: -6px; display: none; }
.show-cont .show-item .s-comment .append-comm .s-comm-lists { margin-top: 20px; border-top: 1px solid rgb(221, 221, 221); }
.show-cont .show-item .s-comment .append-comm .s-comm-list { margin-top: 15px; }
.show-cont .show-item .s-comment .append-comm .more { margin-top: 5px; text-align: right; }
.show-cont .show-item .s-comm-opbtns { text-align: right; margin: 5px 0px 0px; }
.show-cont .show-item .s-comm-opbtns .add-btn, .show-cont .show-item .s-comm-opbtns .comm-btn { background: rgb(228, 227, 227) none repeat scroll 0% 0%; cursor: pointer; }
.show-cont .show-item .s-comm-opbtns .add-btn { display: none; }
.loading-more a { display: block; border: 1px solid rgb(57, 57, 57); height: 30px; line-height: 30px; text-align: center; color: rgb(50, 50, 50); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.loading-more a:hover { background: rgb(245, 245, 245) none repeat scroll 0% 0%; text-decoration: none; }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
	.show-cont .show-item { padding: 0px 20px; margin: 0px auto 20px; }
	.show-cont .show-item .s-comment { margin: 0px -20px; padding: 20px; }
}
.backpanel-inner { position: fixed; z-index: 1000; left: 50%; bottom: 0px; margin-left: 495px; }
.backpanel-inner .bp-item { width: 25px; }
.backpanel-inner .bp-item a { display: block; position: relative; width: 17px; height: 66px; padding: 28px 4px 0px; margin: 5px 0px; text-align: center; line-height: 14px; text-decoration: none; background: transparent url('../images/backpanel-icon.png') no-repeat scroll -105px 0px; }
.backpanel-inner .bp-item a b { position: absolute; top: 9px; left: 4px; width: 17px; height: 16px; overflow: hidden; background-image: url('../images/backpanel-icon.png'); }
.backpanel-inner .bp-item a:hover { line-height: 14px; color: rgb(204, 0, 0); background-position: -70px 0px; text-decoration: none; }
.backpanel-inner .bp-item .research b { background-position: -16px -115px; }
.backpanel-inner .bp-item .research:hover b { background-position: -16px -96px; }
.backpanel-inner .bp-item .gotop b { background-position: -40px -115px; }
.backpanel-inner .bp-item .gotop:hover b { background-position: -40px -96px; }
@media screen and (min-width: 1040px) and (max-width: 1279px) {
	.w .backpanel-inner { margin-left: 47%; }
}
@media screen and (min-width: 1280px) {
	.w .backpanel-inner { margin-left: 605px; }
}
