/* ::::: http://misc.360buyimg.com/lib/skin/2013/base.css ::::: */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0px; padding: 0px; }
ol, ul { list-style: outside none none; }
:focus { outline: 0px none; }
a img { border: 0px none; }
img { vertical-align: middle; }
em { font-style: normal; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0px none; padding: 0px; }
.fl { float: left; }
.fr { float: right; }
.ac { text-align: center; }
.clr { display: block; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 0px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.form label, .form input, .form select, .form textarea, .form button, .form .label { float: left; font-size: 12px; }
.hide { display: none; }
.btn-img, .button { display: inline-block; margin: 0px; padding: 0px; border: 0px none; text-align: center; cursor: pointer; }
.btn-text { margin: 0px; padding: 0px; text-align: center; cursor: pointer; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
h2, h3 { font-size: 14px; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
.w { width: 990px; margin: 0px auto; }
.w1 { margin-bottom: 10px; }
.lh { overflow: hidden; }
.lh li, .lh dl, .lh .item { float: left; }
.ld { position: relative; }
.ld s, .ld b, .ld .block { position: absolute; overflow: hidden; }
.p-img, .p-name, .p-price, .p-market, .p-detail { overflow: hidden; }
.p-img { padding: 5px 0px; }
.p-img a:link, .p-img a:visited { text-decoration: none; }
.p-name, .p-detail { word-break: break-all; word-wrap: break-word; }
.p-price { color: rgb(153, 153, 153); }
.p-price strong, .p-market strong { color: rgb(228, 57, 60); }
img.err-product, img.err-poster { background: transparent url('error-jd.gif') no-repeat scroll 50% 50%; }
#shortcut-2013 .fl b, #shortcut-2013 .fr b { background-image: url('20130330a_2.png'); background-repeat: no-repeat; }
#shortcut-2013, #shortcut-2013 .w { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#shortcut-2013 { width: 100%; border-bottom: 1px solid rgb(238, 238, 238); line-height: 30px; }
#shortcut-2013 li { height: 30px; padding: 0px 11px 0px 12px; }
#shortcut-2013 li s { top: 9px; left: 0px; width: 0px; height: 12px; border-left: 1px solid rgb(221, 221, 221); overflow: hidden; }
#shortcut-2013 b { transition: transform 0.2s ease-in 0s; }
#shortcut-2013 .fl { overflow: visible; }
#shortcut-2013 .fl .fore1 { padding-left: 16px; z-index: 13; }
#shortcut-2013 .fl b { top: 8px; left: 0px; width: 13px; height: 13px; background: transparent url('20130725.png') no-repeat scroll 0px 0px; cursor: pointer; }
#shortcut-2013 .fl li:hover b { transform: rotate(720deg); }
#shortcut-2013 .fr { height: 30px; overflow: visible; }
#shortcut-2013 .fr b { top: 13px; right: 8px; width: 7px; height: 4px; background-position: -95px -55px; }
#shortcut-2013 .menu { width: 60px; z-index: 12; }
#shortcut-2013 .dd { display: none; }
#site-nav .dd { left: -172px; width: 250px; }
#site-nav .dd dt { padding: 4px 0px 4px 9px; line-height: 20px; font-weight: 700; }
#site-nav .dd dl { float: none; width: auto; }
#site-nav .dd dl dd { margin: 0px 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid rgb(242, 242, 242); }
#site-nav .dd dl div { float: left; margin-right: 10px; display: inline; }
#site-nav .dd .fore3 dd { border-bottom: 0px none; }
#site-nav .dd .fore3 { padding-bottom: 4px; }
#site-nav .dd .fore1 div { width: 58px; margin-right: 0px; }
#service-2013 dl b { background-image: url('20130330a_2.png'); background-repeat: no-repeat; }
#service-2013 { padding: 10px 20px; margin-bottom: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(241, 241, 241); }
#service-2013 dl { float: left; width: 196px; }
#service-2013 dt { position: relative; padding: 6px 0px 6px 44px; font: 14px "microsoft yahei"; }
#service-2013 dd { min-height: 120px; padding-left: 24px; margin-left: 20px; line-height: 20px; }
#service-2013 dt b { position: absolute; top: 5px; left: 0px; width: 40px; height: 40px; }
#service-2013 dl.fore1 b { background-position: 0px -55px; }
#service-2013 dl.fore2 b { background-position: -50px -55px; }
#service-2013 dl.fore3 b { background-position: 0px -102px; }
#service-2013 dl.fore4 b { background-position: -50px -102px; }
#service-2013 dl.fore5 b { background-position: 0px -149px; }
#service-2013 dl.fore5 { width: 160px; }
#footer-2013 { padding-bottom: 30px; text-align: center; }
#footer-2013 .links a, #footer-2013 .links span { margin: 0px 10px; }
#footer-2013 .copyright { margin: 10px 0px; }
#footer-2013 .authentication a { margin: 0px 5px; }
#shortcut-2013 #app-jd { padding-left: 37px; }
#app-jd i { position: absolute; z-index: 2; left: 14px; top: 5px; width: 13px; height: 22px; background-image: url('20130330a_2.png'); background-repeat: no-repeat; background-position: -128px -360px; transition: all 0.2s ease 0s; }
#app-jd .dd { left: 5px; width: 210px; padding: 20px 0px 20px 20px; }
#app-jd .btn-app-apple, #app-jd .btn-app-android { width: 97px; height: 29px; display: inline-block; line-height: 29px; background-image: url('20130330a_2.png'); background-repeat: no-repeat; }
#app-jd .btn-app-apple { background-position: 0px -360px; margin-right: 5px; }
#app-jd .btn-app-android { background-position: 0px -399px; }
#app-jd .qr-item { position: relative; }
#app-jd .qr-item.qr-jd-app { margin-bottom: 30px; }
#app-jd .qr-item .qr-img { position: absolute; left: 0px; top: 10px; }
#app-jd .qr-item .qr-ext { padding-left: 92px; }
#app-jd .qr-item .qr-ext strong, #app-jd .qr-item .qr-ext a { display: block; margin: 0px; }
#app-jd .qr-item .qr-ext strong { line-height: 20px; margin-bottom: 7px; color: rgb(228, 57, 60); }
#app-jd .qr-item .qr-ext .btn-app-apple { margin-bottom: 7px; }
#app-jd .qr-info { display: none; }
#app-jd .dd { padding-top: 60px; padding-left: 30px; padding-right: 10px; }
#app-jd .qr-info { display: block; position: absolute; top: 24px; left: 8px; width: 237px; height: 65px; background: transparent url('551cf5f5na7476cd5.png') repeat scroll 0% 0%; }
#shortcut-2013 #jd-vip { padding-left: 38px; }
/* ::::: http://misc.360buyimg.com/user/cart??/widget/no-login/no-login.css ::::: */

/* ::::: http://misc.360buyimg.com/user/cart/??/widget/common/common.css,/widget/header/header.css,/widget/cart-filter-bar/cart-filter-bar.css,/widget/cart-inner-new/cart-inner-new.css,/widget/cart-toolbar-new/cart-toolbar-new.css,/widget/cart-removed/cart-removed.css,/widget/cart-tabs/cart-tabs.css,/widget/backpanel/backpanel.css,/widget/p-detect/p-detect.css ::::: */

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ftx03, .ftx-03, .gray, .grey { color: rgb(170, 170, 170); }
.ftx05, .ftx-05 { color: rgb(0, 94, 167); }
.btn-1 { font-family: arial,"microsoft yahei"; display: inline-block; height: 25px; line-height: 25px; background-color: rgb(231, 70, 73); background-image: linear-gradient(to top, rgb(231, 70, 73) 0px, rgb(223, 49, 52) 100%); border-radius: 3px; color: rgb(255, 255, 255); font-size: 12px; font-weight: normal; padding: 0px 10px; vertical-align: middle; cursor: pointer; border: 0px none; float: none; transition: all 0.2s ease-out 0s; }
.btn-1:hover { background-color: rgb(223, 49, 52); background-image: linear-gradient(to top, rgb(223, 49, 52) 0px, rgb(231, 70, 73) 100%); color: rgb(255, 255, 255); text-decoration: none; }
.btn-1:hover { background-color: rgb(240, 83, 86); background-image: linear-gradient(to top, rgb(240, 83, 86) 0px, rgb(235, 60, 63) 100%); }
.btn-9 { font-family: arial,"microsoft yahei"; display: inline-block; height: 23px; line-height: 23px; background-color: rgb(242, 242, 242); background-image: linear-gradient(to top, rgb(242, 242, 242) 0px, rgb(247, 247, 247) 100%); border-radius: 3px; color: rgb(50, 51, 51); font-size: 12px; font-weight: normal; padding: 0px 9px; vertical-align: middle; cursor: pointer; float: none; transition: all 0.2s ease-out 0s; border: 1px solid rgb(225, 225, 225); }
.btn-9:hover { background-color: rgb(247, 247, 247); background-image: linear-gradient(to top, rgb(247, 247, 247) 0px, rgb(242, 242, 242) 100%); color: rgb(50, 51, 51); text-decoration: none; }
.btn-9:hover { box-shadow: 0px 1px 1px rgba(0, 1, 1, 0.08); background-color: rgb(247, 247, 247); background-image: linear-gradient(to top, rgb(247, 247, 247) 0px, rgb(242, 242, 242) 100%); }
.cart-warp { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 20px; }
.form input { float: none; }
.form .item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.form .itxt, .form .selt, .form .area { line-height: 18px; border: 1px solid rgb(204, 204, 204); padding: 5px; float: none; }
.form .itxt { height: 18px; width: 155px; padding: 3px 5px 2px; }
.tip-box .links ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.sku-edit-cont dl::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.sku-edit-cont dd::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.promotion-cont { position: relative; line-height: 23px; width: 280px; }
.gift-box { background-color: rgb(255, 255, 255); border: 1px solid rgb(228, 57, 60); box-shadow: 0px 0px 2px 2px rgb(238, 238, 238); display: none; position: absolute; width: 400px; z-index: 40; }
.gift-box .gift-goods { height: 315px; overflow-y: auto; }
.gift-box .gift-arr { display: block; position: absolute; background-image: url('cart-tips.png'); background-repeat: no-repeat; width: 6px; height: 11px; background-position: 0px 0px; overflow: hidden; top: 30px; left: -6px; }
.gift-box .gift-mt { position: relative; padding: 0px 10px; height: 25px; line-height: 25px; color: rgb(255, 255, 255); margin: -1px 0px 0px; background-color: rgb(231, 70, 73); background-image: linear-gradient(to top, rgb(231, 70, 73) 0px, rgb(223, 49, 52) 100%); border-radius: 3px 3px 0px 0px; }
.gift-box .gift-mt em.num { font-family: verdana; margin: 0px 5px; }
.gift-box .gift-mt .close { position: absolute; right: 10px; top: 0px; cursor: pointer; width: 10px; }
.gift-box .gift-tit::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.gift-box .item-gift { display: block; padding: 10px; border-top: 1px solid rgb(224, 224, 224); }
.gift-box .item-gift::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.gift-box .item-gift .p-checkbox { float: left; width: 30px; height: 10px; }
.gift-box .item-gift .p-img { float: left; width: 80px; height: 80px; border: 1px solid rgb(241, 241, 241); margin-right: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; text-align: center; overflow: hidden; }
.gift-box .item-gift .p-msg { float: left; width: 230px; }
.gift-box .item-gift .p-name { height: 3em; line-height: 1.5em; overflow: hidden; }
.gift-box .item-gift .p-name .num { font-family: verdana; color: rgb(153, 153, 153); }
.gift-box .item-gift .p-price strong { font-family: verdana; color: rgb(228, 57, 60); font-weight: normal; }
.gift-box .item-gift .p-price em { font-weight: bold; }
.gift-box .op-btns { border-top: 1px solid rgb(224, 224, 224); padding: 8px 0px; }
div.promotion-tips { margin: -1px 0px 0px; display: none; padding: 10px 14px 10px 10px; width: 276px; z-index: 30; box-shadow: 0px 0px 2px 2px rgb(238, 238, 238); border: 1px solid rgb(228, 57, 60); background: rgb(255, 255, 255) none repeat scroll 0px 0px; position: absolute; left: 731px; text-align: left; }
div.promotion-tips .promotion-tit { position: absolute; height: 19px; line-height: 17px; width: 53px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(228, 57, 60) rgb(228, 57, 60) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; top: -20px; left: -1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(228, 57, 60); padding: 0px 15px 0px 8px; cursor: pointer; }
div.promotion-tips .promotion-tit b { display: block; position: absolute; right: 8px; top: 8px; vertical-align: middle; width: 7px; height: 4px; margin-left: 5px; overflow: hidden; background: transparent url('cart-icons-new.png') repeat scroll -82px 0px; }
.p-coupon-item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.header { padding: 15px 0px 10px; }
#logo { padding-left: 5px; float: left; position: relative; width: 270px; }
#logo .link2 { overflow: hidden; display: block; position: absolute; width: 100px; height: 40px; line-height: 99em; top: 8px; right: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#logo .link2 b { display: block; position: absolute; width: 100px; height: 40px; line-height: 99em; top: 0px; right: 0px; background: rgb(255, 255, 255) url('cart-icon.png') no-repeat scroll 0% 0%; }
.cart-search { float: right; border: 2px solid rgb(201, 22, 35); background: rgb(201, 22, 35) none repeat scroll 0% 0%; height: 24px; margin-top: 20px; overflow: hidden; }
.cart-search .itxt { border: 0px none; height: 18px; line-height: 18px; width: 260px; padding: 3px 5px; }
.cart-search .button { display: inline-block; vertical-align: top; width: 48px; height: 24px; background: rgb(201, 22, 35) none repeat scroll 0% 0%; text-align: center; color: rgb(255, 255, 255); font-weight: 700; }
.cart-filter-bar { margin-top: 10px; }
.cart-filter-bar .switch-cart { float: left; position: relative; height: 26px; overflow: hidden; }
.cart-filter-bar .switch-cart li { float: left; font-weight: 700; font-size: 16px; height: 26px; line-height: 26px; text-align: center; padding: 0px 0px 10px; cursor: pointer; margin: 5px 30px 0px 0px; }
.cart-filter-bar .switch-cart li.curr, .cart-filter-bar .switch-cart li.curr a { color: rgb(228, 57, 60); }
.cart-filter-bar .switch-cart li .number { font-family: verdana; font-size: 14px; }
.cart-filter-bar .cart-store { float: right; }
.cart-filter-bar .w-line { position: relative; height: 1px; background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.cart-filter-bar .w-line .floater { position: absolute; height: 2px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; left: 0px; width: 80px; overflow: hidden; }
.cart-store { position: relative; z-index: 5; display: block; margin-bottom: 10px; padding-left: 122px; }
.cart-store::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-store .label { float: left; line-height: 26px; }
#jdarea { position: relative; float: left; z-index: 3; height: 26px; cursor: default; margin: 0px; }
#jdarea .ui-area-content-wrap { margin-left: -16px; }
.cart-checkbox { position: relative; z-index: 3; float: left; margin-right: 5px; }
.cart-checkbox .jdcheckbox { position: relative; float: none; vertical-align: middle; margin: 0px 3px 0px 0px; padding: 0px; }
.cart-checkbox label { display: none; }
.cart-main .jdradio, .cart-main .jdcheckbox { float: none; position: relative; z-index: 5; vertical-align: middle; margin: 0px 3px 0px 0px; padding: 0px; }
.cart-main .cart-thead { display: block; height: 32px; line-height: 32px; margin: 0px 0px 10px; padding: 5px 0px; background: rgb(243, 243, 243) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(233, 233, 233) rgb(233, 233, 233); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.cart-main .cart-thead::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-main .cart-thead .column { float: left; }
.cart-main .cart-thead .t-checkbox { height: 18px; line-height: 18px; padding-top: 7px; width: 122px; padding-left: 11px; }
.cart-main .cart-thead .t-goods { width: 268px; }
.cart-main .cart-thead .t-props { width: 80px; height: 32px; padding: 0px 20px; }
.cart-main .cart-thead .t-price { width: 120px; padding-right: 40px; text-align: right; }
.cart-main .cart-thead .t-quantity { width: 80px; text-align: center; }
.cart-main .cart-thead .t-sum { width: 100px; padding-right: 40px; text-align: right; }
.cart-main .cart-thead .t-action { width: 75px; }
.cart-item-list { margin-bottom: 20px; }
.item-list { border-style: solid; border-width: 2px 1px 1px; border-color: rgb(170, 170, 170) rgb(241, 241, 241) rgb(241, 241, 241); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.item-list .item-single:first-child, .item-list .item-suit:first-child, .item-list .item-full:first-child { border-top: 0px none; }
.cart-tbody a:hover { text-decoration: none; }
.cart-tbody .shop { height: 30px; line-height: 30px; padding-left: 11px; font-weight: bold; }
.cart-tbody .shop .shop-name { display: inline-block; max-width: 144px; overflow: hidden; vertical-align: middle; height: 30px; line-height: 30px; }
.cart-tbody .shop .btn-im, .cart-tbody .shop .btn-imoff { display: inline-block; vertical-align: middle; background: transparent url('cart-icons-new.png') repeat scroll -84px -49px; width: 16px; height: 16px; line-height: 100px; overflow: hidden; margin: 0px 0px 0px 10px; }
.cart-tbody .shop .self-shop-name { width: 54px; height: 18px; background: transparent url('cart-icons-new.png') no-repeat scroll 0px -177px; overflow: hidden; line-height: 99em; color: rgb(228, 57, 60); }
.cart-tbody .shop .shop-txt { float: left; width: 538px; }
.cart-tbody .item-header { padding: 5px 10px; line-height: 26px; color: rgb(153, 153, 153); display: block; }
.cart-tbody .item-header::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-header .full-icon { position: relative; display: inline-block; vertical-align: middle; background: rgb(244, 135, 25) none repeat scroll 0% 0%; border: 1px solid rgb(244, 135, 25); color: rgb(255, 255, 255); padding: 1px 10px; height: 16px; line-height: 16px; margin: 0px 10px 0px 5px; }
.cart-tbody .item-header .full-icon b { display: block; position: absolute; width: 5px; height: 6px; left: -1px; bottom: -5px; background: transparent url('cart-line-02.png') no-repeat scroll 0px 0px; overflow: hidden; }
.cart-tbody .item-header .f-txt { float: left; width: 750px; white-space: nowrap; text-overflow: ellipsis; }
.cart-tbody .item-header .f-price { float: left; width: 100px; text-align: right; font-family: verdana; line-height: 13px; color: rgb(51, 51, 51); }
.cart-tbody .item-header .f-price strong { color: rgb(51, 51, 51); font-weight: normal; }
.cart-tbody .item-header .btn-1 { height: 19px; line-height: 19px; padding: 0px 5px; border-radius: 2px; }
.cart-tbody .item-header a.ftx-05 { color: rgb(51, 51, 51); }
.cart-tbody .item-header a.ftx-05:hover { color: rgb(228, 57, 60); }
.cart-tbody .item-single, .cart-tbody .item-suit, .cart-tbody .item-full { border-top: 1px solid rgb(204, 204, 204); }
.cart-tbody .item-item { position: relative; padding: 0px 10px 1px 40px; border-top: 1px solid rgb(197, 197, 197); line-height: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.cart-tbody .item-item .item-form { display: block; }
.cart-tbody .item-item .item-form::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-item .cell { float: left; padding: 15px 0px 10px; }
.cart-tbody .item-item .p-checkbox { position: absolute; z-index: 3; left: 10px; top: 0px; width: 30px; min-height: 10px; }
.cart-tbody .item-item .p-goods { width: 360px; }
.cart-tbody .item-item .p-props { width: 80px; min-height: 10px; padding: 15px 20px; }
.cart-tbody .item-item .p-props-new { width: 100px; height: 80px; line-height: 20px; overflow: hidden; padding: 15px 10px 0px; }
.cart-tbody .item-item .p-props-new .props-txt { width: 100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: default; }
.cart-tbody .item-item .p-price { width: 120px; padding-right: 40px; font-family: verdana; text-align: right; }
.cart-tbody .item-item .p-price strong { display: block; color: rgb(51, 51, 51); font-weight: normal; }
.cart-tbody .item-item .p-price .sales-promotion { display: block; width: 53px; border: 1px solid rgb(249, 210, 211); color: rgb(228, 57, 60); height: 18px; text-align: left; line-height: 17px; padding: 0px 15px 0px 8px; cursor: pointer; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-decoration: none; float: right; overflow: hidden; position: relative; }
.cart-tbody .item-item .p-price .sales-promotion b { display: block; position: absolute; right: 8px; top: 8px; width: 7px; height: 4px; margin-left: 5px; overflow: hidden; background: transparent url('cart-icons-new.png') repeat scroll -82px -3px; }
.cart-tbody .item-item .p-quantity { width: 80px; }
.cart-tbody .item-item .p-quantity .quantity-form { position: relative; overflow: hidden; height: 22px; width: 80px; }
.cart-tbody .item-item .p-quantity .decrement, .cart-tbody .item-item .p-quantity .increment { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(202, 203, 203) -moz-use-text-color rgb(202, 203, 203) rgb(202, 203, 203); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 18px; line-height: 18px; padding: 1px 0px; width: 16px; text-align: center; color: rgb(102, 102, 102); margin: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.cart-tbody .item-item .p-quantity .decrement:hover, .cart-tbody .item-item .p-quantity .increment:hover { text-decoration: none; }
.cart-tbody .item-item .p-quantity .decrement.disabled, .cart-tbody .item-item .p-quantity .increment.disabled { cursor: default; color: rgb(233, 233, 233); }
.cart-tbody .item-item .p-quantity .decrement { float: left; }
.cart-tbody .item-item .p-quantity .increment { float: right; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(202, 203, 203) rgb(202, 203, 203) rgb(202, 203, 203) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(102, 102, 102); }
.cart-tbody .item-item .p-quantity .itxt { position: absolute; left: 17px; top: 0px; border: 1px solid rgb(202, 203, 203); width: 42px; height: 18px; line-height: 18px; text-align: center; padding: 1px; margin: 0px; font-size: 12px; font-family: verdana; color: rgb(51, 51, 51); }
.cart-tbody .item-item .p-sum { width: 100px; padding-right: 40px; text-align: right; font-family: verdana; }
.cart-tbody .item-item .p-sum strong { color: rgb(51, 51, 51); font-weight: bold; }
.cart-tbody .item-item .p-ops { width: 75px; }
.cart-tbody .item-item .p-ops a { color: rgb(102, 102, 102); display: block; }
.cart-tbody .item-item .p-ops a:hover { color: rgb(228, 57, 60); }
.cart-tbody .item-item .goods-item { display: block; }
.cart-tbody .item-item .goods-item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-item .goods-item .p-img { float: left; width: 80px; height: 80px; border: 1px solid rgb(238, 238, 238); margin-right: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; text-align: center; overflow: hidden; }
.cart-tbody .item-item .goods-item .p-name { height: 40px; line-height: 20px; overflow: hidden; }
.cart-tbody .item-item .goods-item .p-name a { color: rgb(51, 51, 51); }
.cart-tbody .item-item .goods-item .p-name a:hover { color: rgb(228, 57, 60); }
.cart-tbody .item-item .goods-item .p-extend { margin-top: 2px; }
.cart-tbody .item-item .goods-item .p-extend .promise { margin: 0px 10px 2px 0px; display: block; min-height: 18px; line-height: 18px; }
.cart-tbody .item-item .goods-item .p-extend .promise a { padding: 1px 4px 0px 7px; height: 15px; line-height: 15px; }
.cart-tbody .item-item .goods-item .p-extend .promise a:hover { text-decoration: none; }
.cart-tbody .item-item .goods-item .p-extend i { display: inline-block; width: 17px; height: 16px; vertical-align: middle; overflow: hidden; background: transparent url('cart-icons-new.png') no-repeat scroll 0% 0%; }
.cart-tbody .item-item .goods-item .p-extend .jd-service-icon { background-position: 0px -23px; }
.cart-tbody .item-item .goods-item .p-extend .jd-giftcard-icon { background-position: -27px -23px; }
.cart-tbody .item-item .goods-item .p-extend .jd-service { display: inline-block; vertical-align: middle; }
.cart-tbody .item-item .jdservice-items::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-item .jdservice-items .service-item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-last { border-bottom: 0px none; }
.cart-tbody .item-selected { background: rgb(255, 244, 232) none repeat scroll 0% 0%; }
.cart-tbody .item-full { position: relative; background: transparent url('cart-line-02.png') repeat-y scroll -9px 0px; }
.cart-tbody .item-full .item-item { border: 0px none; }
.cart-tbody .item-full .item-form { border-top: 1px solid rgb(241, 241, 241); }
.cart-tbody .item-full .item-last .item-line { display: none; }
.cart-tbody .item-full .item-header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; z-index: 2; height: 26px; }
.cart-tbody .item-full .item-line { position: absolute; z-index: 1; left: 15px; top: 0px; width: 2px; height: 100%; background: transparent url('cart-line-02.png') repeat-y scroll -9px 0px; }
.cart-tbody .item-full .line-circle { display: block; position: absolute; z-index: 2; top: -17px; left: 5px; height: 25px; width: 1px; background: transparent url('cart-line-02.png') repeat-y scroll -9px -2px; }
.cart-tbody .item-suit .suit-name::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cart-tbody .item-give .line-circle { display: block; position: absolute; z-index: 2; top: -17px; left: 2px; height: 29px; width: 7px; background: transparent url('cart-line-02.png') no-repeat scroll 0px -17px; }
.cart-toolbar { height: 50px; border: 1px solid rgb(240, 240, 240); background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.toolbar-wrap { position: relative; width: 988px; margin: 0px auto; }
.toolbar-wrap .options-box { position: relative; height: 50px; }
.toolbar-wrap .select-all { float: left; height: 18px; line-height: 18px; padding: 16px 0px 16px 9px; white-space: nowrap; }
.toolbar-wrap .operation { float: left; height: 50px; width: 210px; line-height: 50px; }
.toolbar-wrap .operation a { float: left; margin-left: 25px; color: rgb(102, 102, 102); }
.toolbar-wrap .operation a:hover { color: rgb(228, 57, 60); text-decoration: none; }
.toolbar-wrap .toolbar-right { position: absolute; height: 52px; right: 0px; top: -1px; width: 710px; }
.toolbar-wrap .toolbar-right .combine { display: none; }
.toolbar-wrap .toolbar-right .combine .comm-right { float: right; width: 710px; }
.toolbar-wrap .toolbar-right .normal { height: 52px; }
.toolbar-wrap .toolbar-right .normal .comm-right { float: right; width: 710px; }
.toolbar-wrap .amount-sum { float: right; color: rgb(153, 153, 153); height: 44px; line-height: 20px; margin: 7px 0px 0px; cursor: pointer; }
.toolbar-wrap .amount-sum em { color: rgb(228, 57, 60); font-family: verdana; font-weight: 700; margin: 0px 3px; }
.toolbar-wrap .amount-sum b { display: inline-block; width: 9px; height: 5px; background: transparent url('cart-icons-new.png') repeat scroll -45px -91px; overflow: hidden; vertical-align: middle; margin: -5px 0px 0px 5px; transition: all 0.2s ease-in 0s; }
.toolbar-wrap .amount-sum b.up { background-position: -45px -91px; }
.toolbar-wrap .price-sum { float: right; height: 43px; line-height: 20px; margin: 7px 20px 0px 10px; color: rgb(102, 102, 102); width: auto; }
.toolbar-wrap .price-sum .txt { float: left; width: 110px; text-align: right; color: rgb(153, 153, 153); }
.toolbar-wrap .price-sum .price { display: inline-block; text-align: right; font-family: verdana; }
.toolbar-wrap .price-sum .price em { font-size: 16px; color: rgb(228, 57, 60); font-weight: 700; }
.toolbar-wrap .price-sum div { white-space: nowrap; }
.toolbar-wrap .btn-area { float: right; }
.toolbar-wrap .btn-area .common-submit-btn, .toolbar-wrap .btn-area .jdInt-submit-btn, .toolbar-wrap .btn-area .submit-btn { display: block; position: relative; width: 96px; height: 52px; line-height: 52px; color: rgb(255, 255, 255); text-align: center; font-size: 18px; font-family: "微软雅黑"; background: rgb(229, 67, 70) none repeat scroll 0% 0%; overflow: hidden; }
.toolbar-wrap .btn-area .common-submit-btn b, .toolbar-wrap .btn-area .jdInt-submit-btn b, .toolbar-wrap .btn-area .submit-btn b { display: block; position: absolute; width: 96px; height: 52px; top: 0px; left: 0px; overflow: hidden; background: transparent url('cart-submit-btn-new.png') no-repeat scroll 0px 0px; }
.toolbar-wrap .btn-area .common-submit-btn:hover, .toolbar-wrap .btn-area .jdInt-submit-btn:hover, .toolbar-wrap .btn-area .submit-btn:hover { text-decoration: none; }
.toolbar-wrap .btn-area .common-submit-btn { width: 136px; float: left; margin-left: 10px; }
.toolbar-wrap .btn-area .common-submit-btn b { width: 136px; background-position: 0px -124px; }
.toolbar-wrap .btn-area .jdInt-submit-btn { width: 154px; float: left; }
.toolbar-wrap .btn-area .jdInt-submit-btn b { width: 154px; background-position: 0px -186px; }
.toolbar-wrap .selected-item-list { position: absolute; z-index: 10; top: -122px; left: 0px; height: 122px; }
.toolbar-wrap .selected-item-list .selected-cont .cont ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.fixed-bottom { position: fixed; background: rgb(255, 255, 255) none repeat scroll 0% 0%; bottom: 0px; left: 0px; z-index: 999; width: 100%; border-width: 1px 0px; box-shadow: 0px -1px 8px rgba(0, 1, 1, 0.08); }
.cart-removed { display: none; margin-top: 20px; }
.cart-removed .r-tit { height: 30px; line-height: 30px; padding-left: 10px; }
.cart-removed .r-item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#c-tabs .tab-nav { height: 27px; }
#c-tabs .tab-nav ul { display: block; position: relative; }
#c-tabs .tab-nav ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#c-tabs .tab-nav li { float: left; position: relative; border: 1px solid rgb(221, 221, 221); height: 24px; line-height: 24px; margin-right: 5px; cursor: pointer; top: 2px; white-space: nowrap; }
#c-tabs .tab-nav li h3 { font-size: 12px; height: 18px; line-height: 18px; padding: 2px 22px 8px; font-weight: 400; text-align: center; }
#c-tabs .tab-nav li.curr { height: 27px; top: -1px; z-index: 1; }
#c-tabs .tab-nav li.curr h3 { font-weight: 700; padding: 5px 22px; color: rgb(228, 57, 60); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#c-tabs .tab-con { padding: 10px 0px; border: 1px solid rgb(221, 221, 221); }
#c-tabs .p-list { position: relative; padding: 0px 54px; height: 228px; }
#c-tabs .p-list .arrow-btns { position: absolute; width: 18px; height: 32px; background-image: url('cart-icons-new.png'); background-repeat: no-repeat; top: 50%; margin-top: -16px; overflow: hidden; }
#c-tabs .p-list .arrow-btns.prev { left: 20px; background-position: -36px -49px; }
#c-tabs .p-list .arrow-btns.next { right: 20px; background-position: -54px -49px; }
#c-tabs .p-list .arrow-btns.disabled { cursor: default; }
#c-tabs .p-list-cont { overflow: hidden; width: 880px; height: 228px; }
#c-tabs .p-list-cont ul { display: block; }
#c-tabs .p-list-cont ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#c-tabs .p-list-cont li { float: left; width: 146px; padding: 0px 15px; }
#c-tabs .p-list-cont .p-img { width: 130px; height: 130px; overflow: hidden; text-align: center; }
#c-tabs .p-list-cont .p-name { height: 3em; line-height: 1.5em; overflow: hidden; margin-bottom: 5px; }
#c-tabs .p-list-cont .p-price { font-family: verdana; margin-bottom: 5px; }
#c-tabs .p-list-cont .p-btn a.btn-9 { height: 20px; line-height: 20px; }
.backpanel-inner { position: fixed; z-index: 998; left: 50%; margin-left: 495px; bottom: 51px; }
.backpanel-inner .bp-item { width: 38px; height: 38px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.backpanel-inner .bp-item a { display: block; background-image: url('backpanel.png'); background-color: rgb(170, 170, 170); background-repeat: no-repeat; padding: 5px 0px 0px 7px; color: rgb(255, 255, 255); height: 33px; line-height: 1000px; overflow: hidden; margin-top: 5px; }
.backpanel-inner .bp-item a:hover { line-height: 14px; color: rgb(255, 255, 255); background-image: none; text-decoration: none; }
.backpanel-inner .bp-item .survey { background-position: 0px 0px; line-height: 14px; background-image: none; text-decoration: none; background-color: rgb(170, 170, 170); color: rgb(255, 255, 255); }
.backpanel-inner .bp-item .survey:hover { background-color: rgb(170, 170, 170); color: rgb(255, 255, 255); }
.backpanel-inner .bp-item .backtop { background-position: 0px -55px; }
/* ::::: http://misc.360buyimg.com/jdf/1.0.0/ui/area/1.0.0/area.css ::::: */

.ui-area-wrap { position: relative; z-index: 3; height: 26px; margin-right: 6px; }
.ui-area-wrap .ui-area-text-wrap { float: left; position: relative; top: 0px; height: 23px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(206, 203, 206); padding: 0px 20px 0px 4px; line-height: 23px; overflow: hidden; }
.ui-area-wrap .ui-area-text-wrap b { display: block; position: absolute; top: 0px; right: 0px; width: 17px; height: 24px; background-image: url('area_arrow.png'); background-position: 0px 0px; overflow: hidden; }
.ui-area-wrap .ui-area-content-wrap .ui-area-close, .ui-area-wrap .ui-area-text-wrap b { background-repeat: no-repeat; }
.ui-area-wrap .ui-area-content-wrap { display: none; float: left; position: absolute; top: 25px; left: -45px; border: 1px solid rgb(206, 203, 206); width: 390px; padding: 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgb(221, 221, 221); }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab { cursor: default; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a:hover { color: rgb(0, 90, 160); text-decoration: none; }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list a:hover { color: rgb(255, 255, 255); }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a i { background-image: url('area_arrow2.png'); background-repeat: no-repeat; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab { width: 100%; height: 25px; float: left; border-bottom: 2px solid rgb(237, 210, 139); overflow: visible; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a, .ui-area-wrap .ui-area-content-wrap .ui-area-tab a.ui-area-current { position: relative; float: left; height: 23px; line-height: 23px; padding: 0px 21px 1px 11px; margin-right: 3px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(0, 90, 160); text-align: center; cursor: pointer; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a.ui-area-current { height: 25px; background-color: rgb(255, 255, 255); border-width: 2px 2px 0px; border-style: solid solid none; border-color: rgb(237, 210, 139) rgb(237, 210, 139) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 20px 0px 10px; line-height: 22px; text-decoration: none; color: rgb(0, 0, 0); }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a i, .ui-area-wrap .ui-area-content-wrap .ui-area-tab a:hover i { position: absolute; right: 4px; top: 10px; display: block; width: 7px; height: 5px; overflow: hidden; background-position: 0px -35px; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a.ui-area-current i, .ui-area-wrap .ui-area-content-wrap .ui-area-tab a.ui-area-current:hover i { background-position: 0px -28px; }
.ui-area-wrap .ui-area-content-wrap .ui-area-tab a:hover i { top: 10px; right: 4px; background-position: 0px -28px; }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list { padding-top: 5px; }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list li { float: left; width: 80px; padding: 2px 0px 2px 15px; clear: none; }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list li a { float: left; padding: 2px 4px; color: rgb(0, 90, 160); }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list li a:hover { background: rgb(0, 94, 167) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.ui-area-wrap .ui-area-content-wrap .ui-area-content-list .long-area { width: 170px; }
.fixed-bottom { position: fixed; bottom: 0px; z-index: 999; }
