/* ::::: http://misc.360buyimg.com/lib/skin/2013/base.css ::::: */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0px; padding: 0px; }
ol, ul { list-style: outside none none; }
:focus { outline: 0px none; }
a img { border: 0px none; }
img { vertical-align: middle; }
table { empty-cells: show; }
em { font-style: normal; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0px none; padding: 0px; }
.fl { float: left; }
.fr { float: right; }
.al { text-align: left; }
.clr { display: block; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 0px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb { overflow: hidden; }
.m, .sm { margin-bottom: 10px; }
.mt, .smt { cursor: default; }
.mt h2, .smt h3 { font-family: "microsoft yahei"; }
.form label, .form input, .form select, .form textarea, .form button, .form .label { float: left; font-size: 12px; }
.hide { display: none; }
.tab { overflow: hidden; }
.tab li, .tab a, .tab-item { float: left; text-align: center; }
.btn-img, .button { display: inline-block; margin: 0px; padding: 0px; border: 0px none; text-align: center; cursor: pointer; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
h2, h3 { font-size: 14px; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
.w { width: 990px; margin: 0px auto; }
.lh { overflow: hidden; }
.lh li, .lh dl, .lh .item { float: left; }
.ld { position: relative; }
.ld s, .ld b, .ld .block { position: absolute; overflow: hidden; }
img.err-product, img.err-poster { background: transparent url('../images/error-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 b, .loading-style2 { background: transparent url('../images/loading-jd.gif') no-repeat scroll 50% 50%; }
.loading-style1 { width: 126px; margin: 0px auto; text-align: center; color: rgb(153, 153, 153); }
.loading-style1 b { display: block; width: 43px; height: 24px; margin: 0px auto 5px; }
#toppanel { position: relative; z-index: 1000; }
#sidepanel { position: fixed; bottom: 0px; right: 0px; z-index: 1000; }
#sidepanel a, #sidepanel b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#sidepanel a { display: block; position: relative; width: 17px; height: 66px; padding: 28px 4px 0px; margin: 5px 0px; text-align: center; line-height: 14px; text-decoration: none; }
#sidepanel b { position: absolute; top: 9px; left: 4px; width: 17px; height: 16px; overflow: hidden; }
#sidepanel a:link, #sidepanel a:visited { background-position: -85px -149px; }
#sidepanel a:hover, #sidepanel a:active { background-position: -50px -149px; }
#sidepanel .gotop:link b, #sidepanel .gotop:visited b { background-position: -21px -219px; }
#sidepanel .gotop:hover b, #sidepanel .gotop:active b { background-position: -21px -200px; }
#sidepanel .research:link b, #sidepanel .research:visited b { background-position: 0px -219px; }
#sidepanel .research:hover b, #sidepanel .research:active b { background-position: 0px -200px; }
.breadcrumb { height: 20px; padding: 0px 0px 4px 6px; margin-bottom: 10px; overflow: hidden; line-height: 20px; vertical-align: baseline; }
.breadcrumb strong, .breadcrumb h1 { display: inline; font-weight: 700; line-height: 20px; font-size: 18px; font-family: "microsoft yahei"; }
.breadcrumb span { font-family: "宋体"; }
#shortcut-2013 .fl b, #shortcut-2013 .fr b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#shortcut-2013, #shortcut-2013 .w { height: 30px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#shortcut-2013 { width: 100%; border-bottom: 1px solid rgb(238, 238, 238); line-height: 30px; }
#shortcut-2013 li { height: 30px; padding: 0px 11px 0px 12px; }
#shortcut-2013 li s { top: 9px; left: 0px; width: 0px; height: 12px; border-left: 1px solid rgb(221, 221, 221); overflow: hidden; }
#shortcut-2013 b { transition: transform 0.2s ease-in 0s; }
#shortcut-2013 .fl { overflow: visible; }
#shortcut-2013 .fl .fore1 { padding-left: 16px; z-index: 13; }
#shortcut-2013 .fl b { top: 8px; left: 0px; width: 13px; height: 13px; background: transparent url('../images/20130725.png') no-repeat scroll 0px 0px; cursor: pointer; }
#shortcut-2013 .fl li:hover b { transform: rotate(720deg); }
#shortcut-2013 .fr { height: 30px; overflow: visible; }
#shortcut-2013 .fr b { top: 13px; right: 8px; width: 7px; height: 4px; background-position: -95px -55px; }
#shortcut-2013 .menu { width: 60px; z-index: 12; }
#shortcut-2013 .dd { display: none; }
#site-nav .dd { left: -172px; width: 250px; }
#site-nav .dd dt { padding: 4px 0px 4px 9px; line-height: 20px; font-weight: 700; }
#site-nav .dd dl { float: none; width: auto; }
#site-nav .dd dl dd { margin: 0px 9px; line-height: 22px; overflow: hidden; padding-bottom: 3px; border-bottom: 1px solid rgb(242, 242, 242); }
#site-nav .dd dl div { float: left; margin-right: 10px; display: inline; }
#site-nav .dd .fore3 dd { border-bottom: 0px none; }
#site-nav .dd .fore3 { padding-bottom: 4px; }
#site-nav .dd .fore1 div { width: 58px; margin-right: 0px; }
#header-2013 { height: 60px; padding: 15px 0px; }
#logo-2013 { float: left; width: 330px; }
#logo-2013 a:link b, #logo-2013 a:visited b { top: 12px; left: 168px; width: 100px; height: 38px; cursor: pointer; }
#logo-2013 a:hover b, #logo-2013 a:active b { display: none; background: rgb(255, 255, 255) url('../images/20130330a_2.png') no-repeat scroll 0px -312px; }
#search-2013 { float: left; width: 330px; padding: 4px 86px 0px 0px; }
#search-2013 input { margin: 0px; padding: 0px; height: 30px; border: 0px none; }
#search-2013 .i-search { z-index: 11; width: 304px; height: 30px; margin-bottom: 3px; border: 3px solid rgb(228, 57, 60); }
#search-2013 .form { height: 30px; overflow: hidden; }
#search-2013 .text { width: 216px; height: 20px; padding: 5px; background-position: 0px -360px; background-color: rgb(255, 255, 255); background-repeat: repeat-x; line-height: 20px; color: rgb(153, 153, 153); font-family: arial,"宋体"; font-size: 14px; }
#search-2013 .button { width: 78px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; font-size: 14px; font-weight: 700; color: rgb(255, 255, 255); }
#search-2013 .text, #search-2013 .button {  }
#search-2013 #shelper { overflow: hidden; position: absolute; top: 32px; left: -3px; width: 308px; border: 1px solid rgb(228, 57, 60); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgb(153, 153, 153); }
#search-2013 .text:focus { background-color: rgb(252, 252, 252); box-shadow: 2px 2px 3px rgb(210, 210, 210) inset; }
#hotwords { height: 18px; color: rgb(153, 153, 153); overflow: hidden; }
#my360buy-2013 dt, #my360buy-2013 dl.hover dt { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#my360buy-2013 { float: left; position: relative; z-index: 9; width: 106px; height: 30px; margin-top: 12px; }
#my360buy-2013 dt { position: absolute; z-index: 1; width: 50px; height: 30px; padding: 0px 24px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -116px -24px; background-color: rgb(247, 247, 247); text-align: center; line-height: 27px; cursor: pointer; }
#my360buy-2013 dt b { top: 12px; right: 8px; width: 0px; height: 0px; border-style: solid dashed dashed; border-width: 5px; border-color: rgb(204, 204, 204) transparent transparent; overflow: hidden; }
#my360buy-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 310px; border: 1px solid rgb(227, 227, 227); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#my360buy-2013 .loading-style1 { margin: 10px auto; }
#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#settleup-2013 { float: right; position: relative; z-index: 9; width: 126px; height: 30px; margin-top: 12px; }
#settleup-2013 dt { position: absolute; z-index: 3; width: 74px; height: 30px; padding: 0px 20px 0px 30px; border: 1px solid rgb(239, 239, 239); background-position: -115px -84px; background-color: rgb(247, 247, 247); cursor: pointer; text-align: center; }
#settleup-2013 dt .shopping { position: absolute; top: -13px; left: 20px; background-image: url('../images/20130330a_2.png'); background-position: -133px -279px; padding-left: 6px; color: rgb(255, 255, 255); }
#settleup-2013 dt .shopping span { float: left; display: block; height: 20px; padding-right: 6px; background-image: url('../images/20130330a_2.png'); background-position: 100% -250px; }
#settleup-2013 dt a { line-height: 27px; }
#settleup-2013 dt b { top: 9px; right: 4px; width: 0px; height: 0px; border-style: dashed dashed dashed solid; border-width: 5px; border-color: transparent transparent transparent rgb(204, 204, 204); overflow: hidden; }
#settleup-2013 dd { display: none; position: absolute; top: 32px; right: 0px; width: 350px; }
#settleup-2013 .prompt { border: 1px solid rgb(221, 221, 221); padding: 10px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#nav-2013 { position: relative; z-index: 6; height: 40px; padding-left: 210px; margin-bottom: 10px; background: rgb(228, 57, 60) none repeat scroll 0% 0%; }
#navitems-2013 { background: transparent -moz-linear-gradient(center top , rgb(230, 67, 70), rgb(225, 51, 53)) repeat scroll 0% 0%; }
#navitems-2013, #navitems-2013 li, #navitems-2013 li a { height: 40px; }
#navitems-2013 li { float: left; position: relative; width: 83px; }
#navitems-2013 li a { position: absolute; top: 0px; left: 0px; width: 85px; text-align: center; color: rgb(255, 255, 255); font: 700 15px/40px "microsoft yahei"; text-decoration: none; }
#treasure { position: absolute; right: 0px; top: 0px; }
#categorys-2013 .mt b, #categorys-2013 h3, #categorys-2013 s, #categorys-2013.hover .mt b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#categorys-2013 { position: absolute; top: 0px; left: 0px; width: 210px; height: 40px; }
#categorys-2013 .mt { background: rgb(205, 42, 44) none repeat scroll 0% 0%; }
#categorys-2013 .mt a { display: block; height: 40px; padding-left: 20px; line-height: 40px; color: rgb(255, 255, 255); }
#categorys-2013 .mt b { top: 10px; right: 10px; width: 20px; height: 20px; background-position: -65px 0px; }
#categorys-2013 .mc { display: none; position: absolute; top: 40px; left: 0px; width: 203px; height: 402px; padding: 3px 3px 3px 0px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-style: solid; border-color: rgb(228, 57, 60); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 2px 2px; overflow: visible; }
#categorys-2013 .item { width: 200px; height: 28px; border-top: 1px solid rgb(255, 255, 255); }
#categorys-2013 .fore1 { border-top: 0px none; }
#categorys-2013 span { display: block; width: 203px; position: absolute; z-index: 1; }
#categorys-2013 h3 { width: 186px; height: 26px; line-height: 26px; padding-left: 13px; border-width: 1px 0px; background-image: none; font-weight: 400; }
#categorys-2013 h3 a:link, #categorys-2013 h3 a:visited { color: rgb(51, 51, 51); }
#categorys-2013 h3 a:hover, #categorys-2013 h3 a:active { color: rgb(228, 57, 60); font-weight: 700; }
#categorys-2013 s { display: block; position: absolute; top: 10px; left: 189px; width: 6px; height: 9px; background-position: -110px -45px; }
#categorys-2013 .item .i-mc { display: none; position: absolute; left: 198px; top: 3px; width: 705px; border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: visible; box-shadow: 0px 0px 10px rgb(221, 221, 221); }
#categorys-2013 .item dt { padding: 3px 6px 0px 0px; font-weight: 700; color: rgb(228, 57, 60); }
#categorys-2013 .item dd { padding: 3px 0px 0px; overflow: hidden; }
#categorys-2013 .subitem { float: left; width: 477px; min-height: 370px; padding: 0px 4px 0px 8px; }
#categorys-2013 .fore13 .subitem { min-height: 382px; }
#categorys-2013 .subitem dl { border-top: 1px solid rgb(238, 238, 238); padding: 6px 0px; overflow: hidden; }
#categorys-2013 .subitem .fore1 { border-top: 0px none; }
#categorys-2013 .subitem dt { float: left; width: 54px; line-height: 22px; text-align: right; }
#categorys-2013 .subitem dd { overflow: hidden; }
#categorys-2013 .subitem em { float: left; height: 14px; margin: 4px 0px; line-height: 14px; padding: 0px 8px; border-left: 1px solid rgb(204, 204, 204); }
#categorys-2013 .subitem dt a { color: rgb(228, 57, 60); text-decoration: underline; }
#categorys-2013 .subitem dd a { white-space: nowrap; }
#categorys-2013 .fr { width: 210px; padding-bottom: 2010px; margin-bottom: -2000px; }
#categorys-2013 .fr dl { width: 194px; padding: 6px 8px; }
#categorys-2013 .fr a { color: rgb(102, 102, 102); }
#categorys-2013 .fr dd { padding-top: 6px; line-height: 20px; overflow: hidden; }
#categorys-2013 .fr img { margin-bottom: 4px; }
#categorys-2013 .categorys-brands li { float: left; width: 97px; }
#categorys-2013 .close { position: absolute; top: -1px; left: 706px; z-index: 14; width: 26px; height: 26px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; text-align: center; line-height: 26px; color: rgb(255, 255, 255); cursor: pointer; font-size: 26px; }
#categorys-2013 .fore1 .categorys-brands li, #categorys-2013 .fore13 .categorys-brands li { width: 194px; }
#categorys-2013 .fore13 .i-mc { top: 23px; }
#categorys-2013 .fore13 .categorys-brands li { width: 97px; }
#categorys-2013 .categorys-links { padding: 10px 8px; }
#categorys-2013 .categorys-links a { display: block; width: 194px; height: 30px; background-image: url('../images/28.png'); background-repeat: no-repeat; line-height: 80px; overflow: hidden; }
#categorys-links-cellphone a { background-position: 0px -60px; }
#categorys-links-jzc a { background-position: 0px -90px; }
#categorys-2013 .item-col2 .subitem { width: auto; padding: 0px 8px; }
#categorys-2013 .sub-item-col { width: 334px; }
#categorys-2013 .sub-item-col .fore1 { padding-top: 0px; }
#categorys-2013 .sub-item-col0 { border-right: 1px solid rgb(238, 238, 238); margin-right: 8px; margin-bottom: 8px; padding-right: 8px; min-height: 370px; }
#categorys-2013 .title-list { font-size: 14px; padding: 5px 10px; margin: 0px 10px 10px; border-bottom: 1px solid rgb(238, 238, 238); }
#categorys-2013 .title-list li { padding-left: 30px; height: 28px; line-height: 28px; margin-right: 20px; background-image: url('../images/virtuals-cat-ico20140826.png'); background-repeat: no-repeat; }
#categorys-2013 .title-list li.fore1 { background-position: 0px 0px; }
#categorys-2013 .title-list li.fore2 { background-position: 0px -48px; }
#categorys-2013 .title-list li.fore3 { background-position: 0px -99px; }
#categorys-2013 .title-list li.fore4 { background-position: 0px -144px; }
#categorys-2013 .title-list li.fore5 { background-position: 0px -191px; }
#categorys-2013 .title-list li.fore6 { background-position: 0px -241px; }
#service-2013 dl b { background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; }
#service-2013 { padding: 10px 20px; margin-bottom: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(241, 241, 241); }
#service-2013 dl { float: left; width: 196px; }
#service-2013 dt { position: relative; padding: 6px 0px 6px 44px; font: 14px "microsoft yahei"; }
#service-2013 dd { min-height: 120px; padding-left: 24px; margin-left: 20px; line-height: 20px; }
#service-2013 dt b { position: absolute; top: 5px; left: 0px; width: 40px; height: 40px; }
#service-2013 dl.fore1 b { background-position: 0px -55px; }
#service-2013 dl.fore2 b { background-position: -50px -55px; }
#service-2013 dl.fore3 b { background-position: 0px -102px; }
#service-2013 dl.fore4 b { background-position: -50px -102px; }
#service-2013 dl.fore5 b { background-position: 0px -149px; }
#service-2013 dl.fore5 { width: 160px; }
#footer-2013 { padding-bottom: 30px; text-align: center; }
#footer-2013 .links a, #footer-2013 .links span { margin: 0px 10px; }
#footer-2013 .copyright { margin: 10px 0px; }
#footer-2013 .authentication a { margin: 0px 5px; }
#shortcut-2013 #app-jd { padding-left: 37px; }
#app-jd i { position: absolute; z-index: 2; left: 14px; top: 5px; width: 13px; height: 22px; background-image: url('../images/20130330a_2.png'); background-repeat: no-repeat; background-position: -128px -360px; transition: all 0.2s ease 0s; }
#app-jd .dd { left: 5px; width: 210px; padding: 20px 0px 20px 20px; }
#app-jd .btn-app-apple, #app-jd .btn-app-android { width: 97px; height: 29px; display: inline-block; line-height: 29px; background-image: url('20130330a_2.png'); background-repeat: no-repeat; }
#app-jd .btn-app-apple { background-position: 0px -360px; margin-right: 5px; }
#app-jd .btn-app-android { background-position: 0px -399px; }
#app-jd .qr-item { position: relative; }
#app-jd .qr-item.qr-jd-app { margin-bottom: 30px; }
#app-jd .qr-item .qr-img { position: absolute; left: 0px; top: 10px; }
#app-jd .qr-item .qr-ext { padding-left: 92px; }
#app-jd .qr-item .qr-ext strong, #app-jd .qr-item .qr-ext a { display: block; margin: 0px; }
#app-jd .qr-item .qr-ext strong { line-height: 20px; margin-bottom: 7px; color: rgb(228, 57, 60); }
#app-jd .qr-item .qr-ext .btn-app-apple { margin-bottom: 7px; }
#app-jd .qr-info { display: none; }
#app-jd .dd { padding-top: 60px; padding-left: 30px; padding-right: 10px; }
#app-jd .qr-info { display: block; position: absolute; top: 24px; left: 8px; width: 237px; height: 65px; background: transparent url('../images/551cf5f5na7476cd5.png') repeat scroll 0% 0%; }
#shortcut-2013 #jd-vip { padding-left: 38px; }
/* ::::: http://misc.360buyimg.com/jd2008/201010/skin/orderdetail2012.css?t=20131101 ::::: */

.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited { color: rgb(255, 0, 0); }
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited { color: rgb(0, 90, 160); }
.ftx14, .flk14 a:link, .flk14 a:visited, a.flk14:link, a.flk14:visited { color: rgb(18, 160, 0); }
.btn-img { cursor: pointer; margin: 0px; padding: 0px; border: 0px none; text-align: center; }
#process { margin: 0px auto; padding: 40px 0px 80px; }
.section4 { width: 706px; }
#process .node, #process .proce { float: left; position: relative; height: 13px; background-image: url('../images/bg_state.jpg'); background-repeat: no-repeat; }
#process .node { width: 13px; }
#process .proce { width: 150px; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 5px; }
#process .tx1 { height: 36px; margin-bottom: 16px; }
#process .tx3 { color: rgb(153, 153, 153); line-height: 15px; }
.node.wait { background-position: -150px -40px; }
.node.ready { background-position: -150px 0px; }
.proce.wait { background-position: 0px -40px; }
.proce.ready { background-position: 0px 0px; }
#process .wait .tx2 { color: rgb(153, 153, 153); }
#process ul { position: absolute; margin-top: -38px; text-align: center; }
#process .proce ul { z-index: 5; width: 150px; }
#process .node ul { z-index: 1; width: 318px; margin-left: -152px; }
#orderstate { border: 1px solid rgb(238, 217, 124); padding: 0px 5px; background: rgb(255, 252, 235) none repeat scroll 0% 0%; }
#orderstate .mt { padding: 4px 8px; height: 25px; line-height: 25px; border-bottom: 1px dotted rgb(238, 217, 124); }
#orderstate .mt strong { float: left; font-size: 14px; }
#orderstate .mc { padding: 10px 8px; }
#orderstate .mc p { margin-bottom: 8px; }
#orderstate .btn { width: 46px; height: 25px; margin: 0px 4px; background: transparent url('../images/btn0330.jpg') no-repeat scroll 0px 0px; color: rgb(255, 255, 255); }
#orderstate .btn-inst { width: 89px; height: 25px; background: transparent url('../images/btn0330.jpg') no-repeat scroll 0px -75px; color: rgb(255, 255, 255); }
#ordertrack { border: 1px solid rgb(238, 217, 124); position: relative; }
#ordertrack td { vertical-align: top; }
#ordertrack .i-ordertrack { position: absolute; left: 322px; top: 8px; }
#ordertrack .i-ordertrack s, .post01 .fore .fr s { float: left; width: 9px; height: 16px; font-size: 0px; line-height: 0; margin-right: 5px; background: transparent url('../images/od-icon.png') repeat scroll 0% 0%; }
#ordertrack .i-ordertrack a { color: rgb(0, 90, 160); }
#ordertrack .tab { height: 30px; line-height: 30px; border-bottom: 1px solid rgb(238, 217, 124); background: rgb(255, 252, 235) none repeat scroll 0% 0%; overflow: visible; }
#ordertrack .tab li { border-right: 1px solid rgb(238, 217, 124); cursor: pointer; }
#ordertrack .tab li h2 { float: left; height: 30px; padding: 0px 8px; color: rgb(153, 153, 153); }
#ordertrack .tab .curr h2 { position: relative; height: 31px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
#ordertrack .mc { padding: 5px 8px; }
#ordertrack .tabcon { padding: 5px 13px; }
#ordertrack .mc .extra { margin-top: 10px; }
#ordertrack th strong { display: block; padding-bottom: 3px; margin-bottom: 5px; border-bottom: 1px solid rgb(219, 219, 219); text-align: left; }
#orderinfo, #ordermess { border: 1px solid rgb(218, 218, 218); padding: 0px 5px 10px; background: rgb(237, 237, 237) none repeat scroll 0% 0%; overflow: visible; }
#orderinfo .mt, #ordermess .mt { padding: 0px 8px; height: 30px; line-height: 30px; font-size: 14px; }
#orderinfo .mc, #ordermess .mc { padding: 5px 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: visible; }
#orderinfo .mc dl { padding: 10px 5px; border-top: 1px solid rgb(237, 237, 237); }
#orderinfo .mc dl.fore { border-top: 0px none; }
#orderinfo .mc dt { margin-bottom: 4px; font-weight: bold; }
#orderinfo .p-list { overflow: hidden; margin-right: -1px; border-left: 1px solid rgb(222, 222, 222); }
#orderinfo .p-list table { border-collapse: collapse; margin-left: -1px; border-style: solid; border-color: rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
#orderinfo .p-list th { padding: 5px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; border-top: 1px solid rgb(222, 222, 222); border-bottom: 1px solid rgb(222, 222, 222); border-left: 1px solid rgb(240, 240, 240); font-weight: normal; }
#orderinfo .p-list td { padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(222, 222, 222); border-bottom: 1px solid rgb(222, 222, 222); border-left: 1px solid rgb(240, 240, 240); text-align: center; }
#barcode { position: relative; height: 20px; padding: 0px 5px; }
#barcode ul { position: absolute; left: 5px; padding: 6px 10px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 1; top: 20px; }
#orderinfo .total { padding: 15px 10px 0px; overflow: hidden; font-family: arial; }
#orderinfo .total ul { float: right; padding: 0px 20px 10px 0px; overflow: hidden; font-size: 14px; }
#orderinfo .total li { overflow: hidden; line-height: 20px; }
#orderinfo .total li span { float: left; width: 150px; text-align: right; }
#orderinfo .total .extra { float: right; padding: 10px 20px 0px 0px; border-top: 1px solid rgb(204, 204, 204); font-size: 16px; font-weight: bold; }
#orderinfo .total .extra b { font-size: 24px; }
#gis { padding-left: 10px; padding-bottom: 8px; }
a.ipay { font-weight: normal; font-size: 12px; }
a.ipay:link, a.ipay:visited { color: rgb(0, 90, 160); }
.Tip360 { width: 380px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; border: 1px solid rgb(149, 149, 149); z-index: 20002; display: none; }
.Tip_Title { height: 26px; line-height: 26px; padding: 0px 8px; background: rgb(0, 103, 170) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.Tip_Title em { float: right; margin-top: 6px; cursor: pointer; }
.Tip_Content { padding: 10px; overflow: hidden; text-align: center; }
.Tip_Submit { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-top: 1px solid rgb(204, 204, 204); height: 24px; padding: 3px 5px; }
.Tip_Submit a:link, .Tip_Submit a:visited, .Tip_Submit2 a:link, .Tip_Submit2 a:visited { display: block; height: 20px; border: 1px solid rgb(0, 103, 170); padding: 1px; float: right; text-decoration: none; cursor: pointer; margin-left: 10px; }
.Tip_Submit span, .Tip_Submit2 span { display: block; height: 20px; line-height: 20px; padding: 0px 5px; background: rgb(0, 103, 170) none repeat scroll 0% 0%; color: rgb(255, 255, 255); float: left; }
#im { position: absolute; right: 10px; top: 4px; }
.tb-ul { overflow: hidden; padding-top: 10px; }
#ordertrack .mc .extra span { display: inline-block; margin-right: 30px; }
#orderinfo dt .i-mt { float: left; margin-right: 34px; }
.fquan { position: relative; font-weight: normal; float: left; }
.p-fquan { display: none; position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); padding: 10px; width: 155px; font-style: normal; text-align: left; top: 22px; left: 70px; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); color: rgb(51, 51, 51); line-height: 20px; }
.prompt { position: relative; border: 1px solid rgb(237, 210, 139); background: rgb(255, 253, 238) none repeat scroll 0% 0%; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); border-radius: 1px; }
.prompt .pc { padding: 10px; }
#odlist, #orderstate, #process, #ordertrack, #orderinfo { color: rgb(51, 51, 51); }
.icon-bao { width: 15px; height: 16px; vertical-align: middle; display: inline-block; background-image: url('../images/icon-bao.png'); margin: 0px 3px; }
.img-list .img-box { border: 1px solid rgb(225, 225, 225); display: block; margin: 0px auto; width: 50px; height: 50px; }
.img-list .img-box:hover { border-color: rgb(237, 210, 139); }
#orderinfo .total { padding: 15px 10px 0px; }
#orderinfo .total { overflow: visible; }
#orderinfo .total::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#orderinfo .total { display: inline-table; }
#orderinfo .total { display: block; }
.send-form .item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#jd-code { width: 120px; height: 224px; background: transparent url('../images/jd-code-bg.png') no-repeat scroll 0% 0%; text-align: center; overflow: hidden; }
#jd-code img { margin-top: 32px; }
#orderinfo dl li { font-family: simsun; }
#ordertrack #im, #ordertrack #im s { background: transparent url('../images/imgservice.png') no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; line-height: 21px; text-decoration: none; color: rgb(255, 255, 255); }
#ordertrack #im { padding-left: 0px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
/* ::::: http://misc.360buyimg.com/jd2008/201010/skin/orderdetail2012.css ::::: */

.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited { color: rgb(255, 0, 0); }
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited { color: rgb(0, 90, 160); }
.ftx14, .flk14 a:link, .flk14 a:visited, a.flk14:link, a.flk14:visited { color: rgb(18, 160, 0); }
.btn-img { cursor: pointer; margin: 0px; padding: 0px; border: 0px none; text-align: center; }
#process { margin: 0px auto; padding: 40px 0px 80px; }
.section4 { width: 706px; }
#process .node, #process .proce { float: left; position: relative; height: 13px; background-image: url('../images/bg_state.jpg'); background-repeat: no-repeat; }
#process .node { width: 13px; }
#process .proce { width: 150px; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 5px; }
#process .tx1 { height: 36px; margin-bottom: 16px; }
#process .tx3 { color: rgb(153, 153, 153); line-height: 15px; }
.node.wait { background-position: -150px -40px; }
.node.ready { background-position: -150px 0px; }
.proce.wait { background-position: 0px -40px; }
.proce.ready { background-position: 0px 0px; }
#process .wait .tx2 { color: rgb(153, 153, 153); }
#process ul { position: absolute; margin-top: -38px; text-align: center; }
#process .proce ul { z-index: 5; width: 150px; }
#process .node ul { z-index: 1; width: 318px; margin-left: -152px; }
#orderstate { border: 1px solid rgb(238, 217, 124); padding: 0px 5px; background: rgb(255, 252, 235) none repeat scroll 0% 0%; }
#orderstate .mt { padding: 4px 8px; height: 25px; line-height: 25px; border-bottom: 1px dotted rgb(238, 217, 124); }
#orderstate .mt strong { float: left; font-size: 14px; }
#orderstate .mc { padding: 10px 8px; }
#orderstate .mc p { margin-bottom: 8px; }
#orderstate .btn { width: 46px; height: 25px; margin: 0px 4px; background: transparent url('../images/btn0330.jpg') no-repeat scroll 0px 0px; color: rgb(255, 255, 255); }
#orderstate .btn-inst { width: 89px; height: 25px; background: transparent url('../images/btn0330.jpg') no-repeat scroll 0px -75px; color: rgb(255, 255, 255); }
#ordertrack { border: 1px solid rgb(238, 217, 124); position: relative; }
#ordertrack td { vertical-align: top; }
#ordertrack .i-ordertrack { position: absolute; left: 322px; top: 8px; }
#ordertrack .i-ordertrack s, .post01 .fore .fr s { float: left; width: 9px; height: 16px; font-size: 0px; line-height: 0; margin-right: 5px; background: transparent url('../images/od-icon.png') repeat scroll 0% 0%; }
#ordertrack .i-ordertrack a { color: rgb(0, 90, 160); }
#ordertrack .tab { height: 30px; line-height: 30px; border-bottom: 1px solid rgb(238, 217, 124); background: rgb(255, 252, 235) none repeat scroll 0% 0%; overflow: visible; }
#ordertrack .tab li { border-right: 1px solid rgb(238, 217, 124); cursor: pointer; }
#ordertrack .tab li h2 { float: left; height: 30px; padding: 0px 8px; color: rgb(153, 153, 153); }
#ordertrack .tab .curr h2 { position: relative; height: 31px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
#ordertrack .mc { padding: 5px 8px; }
#ordertrack .tabcon { padding: 5px 13px; }
#ordertrack .mc .extra { margin-top: 10px; }
#ordertrack th strong { display: block; padding-bottom: 3px; margin-bottom: 5px; border-bottom: 1px solid rgb(219, 219, 219); text-align: left; }
#orderinfo, #ordermess { border: 1px solid rgb(218, 218, 218); padding: 0px 5px 10px; background: rgb(237, 237, 237) none repeat scroll 0% 0%; overflow: visible; }
#orderinfo .mt, #ordermess .mt { padding: 0px 8px; height: 30px; line-height: 30px; font-size: 14px; }
#orderinfo .mc, #ordermess .mc { padding: 5px 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: visible; }
#orderinfo .mc dl { padding: 10px 5px; border-top: 1px solid rgb(237, 237, 237); }
#orderinfo .mc dl.fore { border-top: 0px none; }
#orderinfo .mc dt { margin-bottom: 4px; font-weight: bold; }
#orderinfo .p-list { overflow: hidden; margin-right: -1px; border-left: 1px solid rgb(222, 222, 222); }
#orderinfo .p-list table { border-collapse: collapse; margin-left: -1px; border-style: solid; border-color: rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
#orderinfo .p-list th { padding: 5px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; border-top: 1px solid rgb(222, 222, 222); border-bottom: 1px solid rgb(222, 222, 222); border-left: 1px solid rgb(240, 240, 240); font-weight: normal; }
#orderinfo .p-list td { padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(222, 222, 222); border-bottom: 1px solid rgb(222, 222, 222); border-left: 1px solid rgb(240, 240, 240); text-align: center; }
#barcode { position: relative; height: 20px; padding: 0px 5px; }
#barcode ul { position: absolute; left: 5px; padding: 6px 10px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 1; top: 20px; }
#orderinfo .total { padding: 15px 10px 0px; overflow: hidden; font-family: arial; }
#orderinfo .total ul { float: right; padding: 0px 20px 10px 0px; overflow: hidden; font-size: 14px; }
#orderinfo .total li { overflow: hidden; line-height: 20px; }
#orderinfo .total li span { float: left; width: 150px; text-align: right; }
#orderinfo .total .extra { float: right; padding: 10px 20px 0px 0px; border-top: 1px solid rgb(204, 204, 204); font-size: 16px; font-weight: bold; }
#orderinfo .total .extra b { font-size: 24px; }
#gis { padding-left: 10px; padding-bottom: 8px; }
a.ipay { font-weight: normal; font-size: 12px; }
a.ipay:link, a.ipay:visited { color: rgb(0, 90, 160); }
.Tip360 { width: 380px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; border: 1px solid rgb(149, 149, 149); z-index: 20002; display: none; }
.Tip_Title { height: 26px; line-height: 26px; padding: 0px 8px; background: rgb(0, 103, 170) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.Tip_Title em { float: right; margin-top: 6px; cursor: pointer; }
.Tip_Content { padding: 10px; overflow: hidden; text-align: center; }
.Tip_Submit { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-top: 1px solid rgb(204, 204, 204); height: 24px; padding: 3px 5px; }
.Tip_Submit a:link, .Tip_Submit a:visited, .Tip_Submit2 a:link, .Tip_Submit2 a:visited { display: block; height: 20px; border: 1px solid rgb(0, 103, 170); padding: 1px; float: right; text-decoration: none; cursor: pointer; margin-left: 10px; }
.Tip_Submit span, .Tip_Submit2 span { display: block; height: 20px; line-height: 20px; padding: 0px 5px; background: rgb(0, 103, 170) none repeat scroll 0% 0%; color: rgb(255, 255, 255); float: left; }
#im { position: absolute; right: 10px; top: 4px; }
.tb-ul { overflow: hidden; padding-top: 10px; }
#ordertrack .mc .extra span { display: inline-block; margin-right: 30px; }
#orderinfo dt .i-mt { float: left; margin-right: 34px; }
.fquan { position: relative; font-weight: normal; float: left; }
.p-fquan { display: none; position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); padding: 10px; width: 155px; font-style: normal; text-align: left; top: 22px; left: 70px; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); color: rgb(51, 51, 51); line-height: 20px; }
.prompt { position: relative; border: 1px solid rgb(237, 210, 139); background: rgb(255, 253, 238) none repeat scroll 0% 0%; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); border-radius: 1px; }
.prompt .pc { padding: 10px; }
#odlist, #orderstate, #process, #ordertrack, #orderinfo { color: rgb(51, 51, 51); }
.icon-bao { width: 15px; height: 16px; vertical-align: middle; display: inline-block; background-image: url('../images/icon-bao.png'); margin: 0px 3px; }
.img-list .img-box { border: 1px solid rgb(225, 225, 225); display: block; margin: 0px auto; width: 50px; height: 50px; }
.img-list .img-box:hover { border-color: rgb(237, 210, 139); }
#orderinfo .total { padding: 15px 10px 0px; }
#orderinfo .total { overflow: visible; }
#orderinfo .total::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#orderinfo .total { display: inline-table; }
#orderinfo .total { display: block; }
.send-form .item::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#jd-code { width: 120px; height: 224px; background: transparent url('../images/jd-code-bg.png') no-repeat scroll 0% 0%; text-align: center; overflow: hidden; }
#jd-code img { margin-top: 32px; }
#orderinfo dl li { font-family: simsun; }
#ordertrack #im, #ordertrack #im s { background: transparent url('../images/imgservice.png') no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; line-height: 21px; text-decoration: none; color: rgb(255, 255, 255); }
#ordertrack #im { padding-left: 0px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
