<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    我的级别
  </title>
  <link rel="stylesheet" type="text/css" href="__CSS__/grade.css" media="all">
  <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
  <script>
    var $url = "__MODULE__/Common/getMsg";
  </script>
  <script language="JavaScript" src="__JS__/jquery-1.10.2.min.js"></script>
  <script language="JavaScript" src="__JS__/common.js"></script>
</head>
<body myjd="_MYJD_grade">
<!--引进头部-->
<include file="Public:header"/>
<div id="o-header-2013">
  <div id="header-2013" style="display: none;">
  </div>
</div>
<!--引进个人中心导航-->
<include file="Public:nav"/>
<!--container start-->
<div id="container">
  <div class="w">
    <div id="content">
      <div id="sub">
        <div id="menu">
          <dl class="fore1">
            <dt id="_MYJD_setting">
              设置
            </dt>
            <dd class="fore1_1" id="_MYJD_info">
              <a  href="__MODULE__/Member/personal/uid/<{$_SESSION['login_info']['uid']}>" target="_self">个人信息</a>
            </dd>
            <dd class="fore1_3" id="_MYJD_safe">
              <a clstag="homepage|keycount|home2013|Homesafe" href="__MODULE__/Member/safetyCenter/uid/<{$_SESSION['login_info']['uid']}>" target="_self">账户安全</a>
            </dd>
            <dd class="fore1_4 curr" id="_MYJD_grade">
              <a href="__MODULE__/Member/grade/uid/<{$_SESSION['login_info']['uid']}>" target="_self">我的级别</a>
            </dd>
            <dd class="fore1_5" id="_MYJD_comments">
              <a href="__MODULE__/Member/myAddr/uid/<{$_SESSION['login_info']['uid']}>" target="_self">收货地址</a>
            </dd>
          </dl>
        </div>
        <div id="menu-ads">
          <!--广告全部放这里-->
          <div>
            <a href="http://c.nfa.jd.com/adclick?keyStr=z5AXFoIimt1jiDK32+w4mZYsU2J35VXuTltSWhYSnymMImvln2Js0HU3q+mnlAr0LpeSNpALCbss46Fg5S8sQYb7iog8VJRd/DurbeYQwISZI7p/OOlX6LABVlykvJwqJOjcdfYtg4LR/8nWWAGIVoNyWeGqd+Q7wP6xUaN8n11WkEWpXi1QspDG2bIfft81gWM2OrW1TfnD3oIuvOCpB0KHfimMQj3Iw4V9UaLhib1ll/LIATEUbAn/s32Kw4IT+2H9P9ZloUHfxMDj1t98jemO+qRFI51oV5yjVXWSb1Vwmcnz+LjKmIEN7/uZJP43Dti/UNGXO9rUg+5WktSX8KghgkpMFgdFGRP3JZtfl3w=&amp;cv=2.0&amp;url=http://wan.jd.com/yeyou/play.html?gameId=86&amp;gateWayId=s129"
               target="_top">
              <img alt="" app="image:poster" src="__IMAGE__/55399ba2n6c0b842e.gif" height="70"
                   width="90">
            </a>
          </div>
        </div>
      </div>
      <div id="main">
        <div class="mod-main mod-comm lefta-box">
          <div class="mt">
            <ul class="extra-l">
              <li class="fore-1">
                <a href="__MODULE__/Member/personal/uid/<{$_SESSION['login_info']['uid']}>">
                  基本信息
                </a>
              </li>
              <li class="fore-2">
                <a href="__MODULE__/Member/showImg/uid/<{$_SESSION['login_info']['uid']}>">
                  头像照片
                </a>
              </li>
              <li class="fore-3">
                <a href="__MODULE__/Member/more/uid/<{$_SESSION['login_info']['uid']}>">
                  更多个人信息
                </a>
              </li>
              <li class="fore-4">
                <a href="#" class="curr">
                  我的级别
                </a>
              </li>
            </ul>
          </div>
          <div class="mc" id="rankinfo">
            <div class="mc" id="rankinfo">
              <ul>
                  <if condition="$info['points']">
                    <if condition="$points lt 100 ">
                      <li class="rank r2">
                        您的会员级别是：
                        <s>
                        </s>
                        <span class="ftx-04">
                        <a href="#" target="_top">铜牌会员</a>
                        </span>
                        （
                        <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                        查看京东会员介绍
                        </a>
                        ）
                        </li>
                        <!-- <li class="rank r2">您的会员级别是：<s></s><span class="ftx-05">铜牌会员</span>（<a href="http://vip.jd.com/help_memberIntroduction.html" target="_blank" style="color:#005ea7">查看京东会员介绍</a>）</li> -->
                        <li class="tlimit">
                        会员级别有效期：长期有效
                        </li>
                        <!-- 铜牌-->
                        <li>
                        您目前的成长值为
                        <span class="ftx-01">
                        <{$points}>
                        </span>
                        ，再获得
                        <span class="ftx-01">
                        <php>echo intval(500-$points)</php>
                        </span>
                        成长值即可升级到
                        <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                        银牌会员
                        </a>
                      </li>
                      <elseif condition="$points lt 500 "/>
                        <li class="rank r2">
                          您的会员级别是：
                          <s>
                          </s>
                        <span class="ftx-04">
                        <a href="#" target="_top">银牌会员</a>
                        </span>
                          （
                          <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                            查看京东会员介绍
                          </a>
                          ）
                        </li>
                        <!-- <li class="rank r2">您的会员级别是：<s></s><span class="ftx-05">铜牌会员</span>（<a href="http://vip.jd.com/help_memberIntroduction.html" target="_blank" style="color:#005ea7">查看京东会员介绍</a>）</li> -->
                        <li class="tlimit">
                          会员级别有效期：长期有效
                        </li>
                        <!-- 铜牌-->
                        <li>
                          您目前的成长值为
                        <span class="ftx-01">
                        <{$points}>
                        </span>
                          ，再获得
                        <span class="ftx-01">
                        <php>echo intval(1000-$points)</php>
                        </span>
                          成长值即可升级到
                          <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                            金牌会员
                          </a>
                        </li>
                        <elseif condition="$points lt 1000 "/>
                          <li class="rank r2">
                            您的会员级别是：
                            <s>
                            </s>
                        <span class="ftx-04">
                        <a href="#" target="_top">金牌会员</a>
                        </span>
                            （
                            <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                              查看京东会员介绍
                            </a>
                            ）
                          </li>
                          <!-- <li class="rank r2">您的会员级别是：<s></s><span class="ftx-05">铜牌会员</span>（<a href="http://vip.jd.com/help_memberIntroduction.html" target="_blank" style="color:#005ea7">查看京东会员介绍</a>）</li> -->
                          <li class="tlimit">
                            会员级别有效期：长期有效
                          </li>
                          <!-- 铜牌-->
                          <li>
                            您目前的成长值为
                        <span class="ftx-01">
                        <{$points}>
                        </span>
                            ，再获得
                        <span class="ftx-01">
                        <php>echo intval(2000-$points)</php>
                        </span>
                            成长值即可升级到
                            <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                              白金会员
                            </a>
                          </li>
                      <elseif condition="$points lt 2004 "/>
                        <li class="rank r2">
                          您的会员级别是：
                          <s>
                          </s>
                        <span class="ftx-04">
                        <a href="#" target="_top">白金会员</a>
                        </span>
                          （
                          <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                            查看京东会员介绍
                          </a>
                          ）
                        </li>
                        <!-- <li class="rank r2">您的会员级别是：<s></s><span class="ftx-05">铜牌会员</span>（<a href="http://vip.jd.com/help_memberIntroduction.html" target="_blank" style="color:#005ea7">查看京东会员介绍</a>）</li> -->
                        <li class="tlimit">
                          会员级别有效期：长期有效
                        </li>
                        <!-- 铜牌-->
                        <li>
                          您目前的成长值为
                        <span class="ftx-01">
                        <{$points}>
                        </span>
                          ，再获得
                        <span class="ftx-01">
                        <php>echo intval(20000-$points)</php>
                        </span>
                          成长值即可升级到
                          <a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">
                            钻石会员
                          </a>
                        </li>
                    </if>
                  <else/>
                    a href="#" target="_top">灵魂会员
                  </if>
                <!--<li class="rank r2">-->
                  <!--您的会员级别是：-->
                  <!--<s>-->
                  <!--</s>-->
                      <!--<span class="ftx-04">-->
                        <!--<a href="#" target="_top">铜牌会员</a>-->
                      <!--</span>-->
                  <!--（-->
                  <!--<a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">-->
                    <!--查看京东会员介绍-->
                  <!--</a>-->
                  <!--）-->
                <!--</li>-->
                <!--&lt;!&ndash; <li class="rank r2">您的会员级别是：<s></s><span class="ftx-05">铜牌会员</span>（<a href="http://vip.jd.com/help_memberIntroduction.html" target="_blank" style="color:#005ea7">查看京东会员介绍</a>）</li> &ndash;&gt;-->
                <!--<li class="tlimit">-->
                  <!--会员级别有效期：长期有效-->
                <!--</li>-->
                <!--&lt;!&ndash; 铜牌&ndash;&gt;-->
                <!--<li>-->
                  <!--您目前的成长值为-->
                      <!--<span class="ftx-01">-->
                        <!--884-->
                      <!--</span>-->
                  <!--，再获得-->
                      <!--<span class="ftx-01">-->
                        <!--1116-->
                      <!--</span>-->
                  <!--成长值即可升级到-->
                  <!--<a href="http://help.jd.com/user/issue/160-346.html" target="_top" style="color: rgb(0, 94, 167);">-->
                    <!--银牌会员-->
                  <!--</a>-->
                <!--</li>-->
                <li>
                  获得成长值的办法:登录、购物、
                  <a href="http://club.jd.com/mycomments.aspx" target="_top" style="color: rgb(0, 94, 167);">
                    评价
                  </a>
                  、
                  <a href="http://club.jd.com/mycomments.aspx" target="_top" style="color: rgb(0, 94, 167);">
                    晒单
                  </a>
                  。
                  <a href="http://help.jd.com/user/issue/163-368.html" target="_top" style="color: rgb(0, 94, 167);">
                    查看详情
                  </a>
                  <!-- <a href="http://vip.jd.com/help_growthValue.html" target="_blank"
                  style="color:#005ea7">查看详情</a> -->
                </li>
                <!--<li>-->
                  <!--<a href="http://usergrade.jd.com/user/usergrade/userjoy" target="_top"-->
                     <!--style="color: rgb(0, 94, 167);">-->
                    <!--查看我的成长值明细-->
                  <!--</a>-->
                <!--</li>-->
              </ul>
            </div>
          </div>
        </div>
        <!--<div class="mod-main mod-comm" id="rankpref">-->
          <!--<div class="mt">-->
            <!--&lt;!&ndash; 铜牌&ndash;&gt;-->
            <!--<h3>-->
              <!--铜牌会员权利及优惠：-->
            <!--</h3>-->
          <!--</div>-->
          <!--<div class="mc">-->
            <!--&lt;!&ndash; 铜牌&ndash;&gt;-->
            <!--&lt;!&ndash; <h5>铜牌会员权利及优惠：</h5> &ndash;&gt;-->
            <!--<p>-->
              <!--1、享受自营商品（-->
              <!--<a href="http://help.jd.com/user/issue/44-75.html" target="_top" style="color: rgb(0, 94, 167);">-->
                <!--如何区分？-->
              <!--</a>-->
              <!--）满79元免运费服务。具体参考-->
              <!--<a href="http://help.jd.com/user/issue/109-188.html" target="_top" style="color: rgb(0, 94, 167);">-->
                <!--配送服务收费标准-->
              <!--</a>-->
              <!--；-->
              <!--<br>-->
              <!--&lt;!&ndash; 2、可以使用积分兑换10元京券；<br />-->
              <!--&ndash;&gt; 2、享受售后服务（退货、换货、维修）运费优惠（-->
              <!--<a href="http://help.jd.com/user/issue/322-1083.html" target="_top" style="color: rgb(0, 94, 167);">-->
                <!--查看售后服务说明-->
              <!--</a>-->
              <!--）；-->
              <!--<br>-->
              <!--3、享受预约电话服务（-->
              <!--<a href="http://myjd.jd.com/appoint/telebooking.action" target="_top"-->
                 <!--style="color: rgb(0, 94, 167);">-->
                <!--我要预约。-->
              <!--</a>-->
              <!--）。-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="mod-main mod-comm" id="rankcour">-->
          <!--<div class="mt">-->
            <!--<h3>-->
              <!--会员级别变动记录：-->
            <!--</h3>-->
          <!--</div>-->
          <!--<div class="mc">-->
            <!--<p>-->
              <!--2014.06.03&nbsp;&nbsp;&nbsp;&nbsp; 升级为 铜牌会员-->
              <!--<br>-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="mod-main mod-comm" id="rankimg">-->
          <!--<div class="mt">-->
            <!--<h3>-->
              <!--会员级别图示：-->
            <!--</h3>-->
          <!--</div>-->
          <!--<div class="mc">-->
            <!--<div class="ac">-->
              <!--&lt;!&ndash;<img width="600" height="111" alt="会员级别图示" src="http://misc.360buyimg.com/jd2008/img/jibie2013.png">&ndash;&gt;-->
              <!--<img alt="会员级别图示" src="jibie.jpg" height="111" width="600">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div id="left" class="g-3-5 c-0">
      </div>
          <span class="clr">
          </span>
    </div>
  </div>
  <!--container end-->
<include file="Public:foot2"/>
</div>
</body>
</html>