<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>账户信息</title>
  <link rel="stylesheet" type="text/css" href="__CSS__/more.css" media="all">
  <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
  <script language="JavaScript" src="__JS__/jquery-1.10.2.min.js"></script>
  <script language="JavaScript" src="__JS__/common.js"></script>
</head>
<body myjd="_MYJD_info" menuid="set">
  <include file="Public:header"/>
	<div id="o-header-2013">
		<div id="header-2013" style="display: none;"></div>
	</div>
    <!--引进个人中心导航-->
    <include file="Public:nav"/>
	<!--container start-->
	<div id="container">
		<div class="w">
			<div id="content">
				<div id="sub">
					<div id="menu">
						<dl class="fore1">
							<dt id="_MYJD_setting">设置</dt>
							<dd class="fore1_1 curr" id="_MYJD_info">
								<a  href="__MODULE__/Member/personal/uid/<{$_SESSION['login_info']['uid']}>" target="_self">个人信息</a>
							</dd>
							<dd class="fore1_3" id="_MYJD_safe">
								<a clstag="homepage|keycount|home2013|Homesafe" href="__MODULE__/Member/safetyCenter/uid/<{$_SESSION['login_info']['uid']}>" target="_self">账户安全</a>
							</dd>
							<dd class="fore1_4" id="_MYJD_grade">
								<a clstag="homepage|keycount|home2013|Homegrade" href="http://usergrade.jd.com/user/grade" target="_self">我的级别</a>
							</dd>
							<dd class="fore1_5" id="_MYJD_comments">
								<a clstag="homepage|keycount|home2013|homeadd" href="http://easybuy.jd.com/address/getEasyBuyList.action" target="_self">收货地址</a>
							</dd>

						</dl>
					</div>
				</div>
				<div id="main">
					<div class="mod-main">
						<div class="mt">
							<ul class="extra-l">
								<li class="fore-1">
									<a href="__MODULE__/Member/personal/uid/<{$_SESSION['login_info']['uid']}>">基本信息</a>
								</li>
								<li class="fore-2">
									<a href="__MODULE__/Member/showImg/uid/<{$_SESSION['login_info']['uid']}>">头像照片</a>
								</li>
								<li class="fore-3">
									<a class="curr" href="__MODULE__/Member/more/uid/<{$_SESSION['login_info']['uid']}>">更多个人信息</a>
								</li>

							</ul>
						</div>
						<div class="mc">
							<div class="user-set">
								<div class="form">

									<div class="item">
										<span class="label">婚姻状况：</span>
										<div class="fl">
											<input name="maritalStatus" class="jdradio"  value="1" type="radio">
											<label class="mr10">未婚</label>
											<input name="maritalStatus" class="jdradio"  value="2" type="radio">
											<label class="mr10">已婚</label>
											<input name="maritalStatus" class="jdradio" value="3" type="radio">
											<label class="mr10">保密</label>
										</div>
									</div>
									<div class="item">
										<span class="label">月收入：</span>
										<div class="fl" clstag="homepage|keycount|home2013|infomoreIncome">
											<select class="selt" name="monthlyIncome" id="monthlyIncome">
												<option value="0">请选择</option>
												<option value="1" >2000元以下</option>
												<option value="2" >2000-3999元</option>
												<option value="3" >4000-5999元</option>
												<option value="4" >6000-7999元</option>
												<option value="5" >8000元以上</option>
											</select>
										</div>
									</div>
									<div class="item">
										<span class="label">身份证号码：</span>
										<div class="fl" clstag="homepage|keycount|home2013|infomoreadd">
											<div id="cidShowDiv" style="display: none;"> <strong></strong>
												<a class="smod" href="javascript:showCidDiv()">修改</a>
											</div>
											<div id="cidInputDIv" style="">
												<input name="id_card" id="cid" value="<{$info['id_card']}>" maxlength="18" class="itxt" type="text">
												<div class="clr"></div>
												<div class="prompt-06">
													<span id="cid_msg"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<span class="label">教育程度：</span>
										<div class="fl" clstag="homepage|keycount|home2013|infomoreedu">
											<select class="selt" name="education" id="education">
												<option value="0">请选择</option>
												<option value="1">初中</option>
												<option value="2">高中</option>
												<option value="3">中专</option>
												<option value="4">大专</option>
												<option value="5">本科</option>
												<option value="6">硕士</option>
												<option value="7">博士</option>
												<option value="8">其他</option>
											</select>
										</div>
									</div>
									<!--<div class="item">-->
										<!--<span class="label">所在行业：</span>-->
										<!--<div class="fl" clstag="homepage|keycount|home2013|infomoreIndustry">-->
											<!--<select class="selt" name="industryInfo" id="industryInfo">-->
												<!--<option value="0">请选择</option>-->
												<!--<option value="1">计算机硬件及网络设备</option>-->
												<!--<option value="2">计算机软件</option>-->
												<!--<option value="3">IT服务（系统/数据/维护）/多领域经营</option>-->
												<!--<option value="4">互联网/电子商务</option>-->
												<!--<option value="5">网络游戏</option>-->
												<!--<option value="6">通讯（设备/运营/增值服务）</option>-->
												<!--<option value="7">电子技术/半导体/集成电路</option>-->
												<!--<option value="8">仪器仪表及工业自动化</option>-->
												<!--<option value="9">金融/银行/投资/基金/证券</option>-->
												<!--<option value="10">保险</option>-->
												<!--<option value="11">房地产/建筑/建材/工程</option>-->
												<!--<option value="12">家居/室内设计/装饰装潢</option>-->
												<!--<option value="13">物业管理/商业中心</option>-->
												<!--<option value="14">广告/会展/公关/市场推广</option>-->
												<!--<option value="15">媒体/出版/影视/文化/艺术</option>-->
												<!--<option value="17">咨询/管理产业/法律/财会</option>-->
												<!--<option value="16">印刷/包装/造纸</option>-->
												<!--<option value="19">检验/检测/认证</option>-->
												<!--<option value="18">教育/培训</option>-->
												<!--<option value="21">贸易/进出口</option>-->
												<!--<option value="20">中介服务</option>-->
												<!--<option value="23">快速消费品（食品/饮料/烟酒/化妆品</option>-->
												<!--<option value="22">零售/批发</option>-->
												<!--<option value="25">办公用品及设备</option>-->
												<!--<option value="24">耐用消费品（服装服饰/纺织/皮革/家具/家电）</option>-->
												<!--<option value="27">大型设备/机电设备/重工业</option>-->
												<!--<option value="26">礼品/玩具/工艺美术/收藏品</option>-->
												<!--<option value="29">汽车/摩托车（制造/维护/配件/销售/服务）</option>-->
												<!--<option value="28">加工制造（原料加工/模具）</option>-->
												<!--<option value="31">医药/生物工程</option>-->
												<!--<option value="30">交通/运输/物流</option>-->
												<!--<option value="34">酒店/餐饮</option>-->
												<!--<option value="35">娱乐/体育/休闲</option>-->
												<!--<option value="32">医疗/护理/美容/保健</option>-->
												<!--<option value="33">医疗设备/器械</option>-->
												<!--<option value="38">能源/矿产/采掘/冶炼</option>-->
												<!--<option value="39">电气/电力/水利</option>-->
												<!--<option value="36">旅游/度假</option>-->
												<!--<option value="37">石油/石化/化工</option>-->
												<!--<option value="42">政府/公共事业/非盈利机构</option>-->
												<!--<option value="43">环保</option>-->
												<!--<option value="40">航空/航天</option>-->
												<!--<option value="41">学术/科研</option>-->
												<!--<option value="46">其它</option>-->
												<!--<option value="44">农/林/牧/渔</option>-->
												<!--<option value="45">跨领域经营</option>-->
											<!--</select>-->
										<!--</div>-->
									<!--</div>-->

									<div class="item">
										<span class="label">&nbsp;</span>
										<div class="fl">
											<a href="javascript:void(0)" class="btn-5">保存</a>
										</div>
									</div>
								</div>
							</div>
							<div class="clr"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--container end-->

	<!--main-->
	<div id="service-2014">
		<div class="w">
			<dl class="fore1">
				<dt>购物指南</dt>
				<dd>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-29.html">购物流程</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-151.html">会员介绍</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-297.html">生活旅行/团购</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue.html">常见问题</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-136.html">大家电</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/index.html">联系客服</a>
					</div>
				</dd>
			</dl>
			<dl class="fore2">
				<dt>配送方式</dt>
				<dd>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-81-100.html">上门自提</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-81.html">211限时达</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/103-983.html">配送服务查询</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/109-188.html">配送费收取标准</a>
					</div>
					<div>
						<a target="_top" href="http://en.jd.com/chinese.html">海外配送</a>
					</div>
				</dd>
			</dl>
			<dl class="fore3">
				<dt>支付方式</dt>
				<dd>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-172.html">货到付款</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-173.html">在线支付</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-176.html">分期付款</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-174.html">邮局汇款</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-175.html">公司转账</a>
					</div>
				</dd>
			</dl>
			<dl class="fore4">
				<dt>售后服务</dt>
				<dd>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/321-981.html">售后政策</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-132.html">价格保护</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/130-978.html">退款说明</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://myjd.jd.com/repair/repairs.action">返修/退换货</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://help.jd.com/user/issue/list-50.html">取消订单</a>
					</div>
				</dd>
			</dl>
			<dl class="fore5">
				<dt>特色服务</dt>
				<dd>
					<div>
						<a target="_top" href="http://help.jd.com/user/issue/list-133.html">夺宝岛</a>
					</div>
					<div>
						<a target="_top" href="http://help.jd.com/user/issue/list-134.html">DIY装机</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://fuwu.jd.com/">延保服务</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://giftcard.jd.com/market/index.action">京东E卡</a>
					</div>
					<div>
						<a rel="nofollow" target="_top" href="http://mobile.jd.com/">京东通信</a>
					</div>
				</dd>
			</dl>
			<span class="clr"></span>
		</div>
	</div>
	<div class="w">
		<div id="footer-2014">
			<div class="links">
				<a rel="nofollow" target="_top" href="http://www.jd.com/intro/about.aspx">关于我们</a>
				|
				<a rel="nofollow" target="_top" href="http://www.jd.com/contact/">联系我们</a>
				|
				<a rel="nofollow" target="_top" href="http://www.jd.com/contact/joinin.aspx">商家入驻</a>
				|
				<a rel="nofollow" target="_top" href="http://jzt.jd.com/">营销中心</a>
				|
				<a rel="nofollow" target="_top" href="http://app.jd.com/">手机京东</a>
				|
				<a target="_top" href="http://club.jd.com/links.aspx">友情链接</a>
				|
				<a target="_top" href="http://media.jd.com/">销售联盟</a>
				|
				<a href="http://club.jd.com/" target="_top">京东社区</a>
				|
				<a href="http://gongyi.jd.com/" target="_top">京东公益</a>
				|
				<a href="http://en.jd.com/" target="_top">English Site</a>
				|
				<a href="http://help.en.jd.com/help/question-46.html" target="_top">Contact Us</a>
			</div>
			<div class="copyright">
				北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;
				<a target="_top" href="53f16c24n7c04d9e9.jpg">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大120007号
				<br>
				<a rel="nofollow" href="f_music.jpg" target="_top">音像制品经营许可证苏宿批005号</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号
				<br>
				<a href="wlwhjyxkz.jpg" target="_top">网络文化经营许可证京网文[2014]2148-348号</a>
				&nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有
				<br>
				京东旗下网站：
				<a target="_top" href="http://www.360top.com/">360TOP</a>
				&nbsp;&nbsp;
				<a href="http://www.paipai.com/" target="_top">拍拍网</a>
				&nbsp;&nbsp;
				<a href="https://www.wangyin.com/" target="_top">网银在线</a>
			</div>
			<div class="authentication">
				<a rel="nofollow" target="_top" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026">
					<img alt="经营性网站备案中心" src="__IMAGE__/54b8871ena9a7067e.png" class="err-product" height="32" width="103"></a>
				<a rel="nofollow" target="_top" id="urlknet" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005">
					<img onclick="CNNIC_change('urlknet')" oncontextmenu="return false;" name="CNNIC_seal" alt="可信网站" src="__IMAGE__/54b8872dne37a9860.png" class="err-product" border="true" height="32" width="103"></a>
				<a rel="nofollow" target="_top" href="http://www.bj.cyberpolice.cn/index.do">
					<img alt="朝阳网络警察" src="__IMAGE__/54b8874bn694454a5.png" class="err-product" height="32" width="103"></a>
				<a rel="nofollow" target="_top" href="https://search.szfw.org/cert/l/CX20120111001803001836">
					<img src="__IMAGE__/54b8875fnad1e0c4c.png" class="err-product" height="32" width="103"></a>
				<a target="_top" href="http://jubao.china.cn:13225/reportform.do">
					<img src="__IMAGE__/54b8863dn8d2c61ec.png" class="err-product" height="32" width="185"></a>
			</div>
		</div>
	</div>
  <script>
    $(function(){
      //遍历选中数据库默认数据
       var monthlyIncome = <{$info['income']}>;
       var education = <{$info['educate']}>;
       var jdradio = <{$info['marriage']}>;
       var $s_jdradio = null;
      //收入
      $('#monthlyIncome').children('option').each(function(i){
        if($(this).val()==monthlyIncome){
          $(this).attr('selected','selected');
        }else{
          $(this).removeAttr('selected');
        }
      });
      //教育程度
      $('#education').children('option').each(function(i){
        if($(this).val()==education){
          $(this).attr('selected','selected');
        }else{
          $(this).removeAttr('selected');
        }
      });
      //婚否
      $('.jdradio').each(function(i){
        if($(this).val()==jdradio){
          $(this).attr('checked','checked');
        }else{
          $(this).removeAttr('checked');
        }
      });
      //婚否点击获取到所选值
      $('.jdradio').click(function(){
        $s_jdradio = $(this).val();
      });
      $('.btn-5').click(function(){
        var education = $('#education').val(); // 教育
        var monthlyIncome = $('#monthlyIncome').val(); //收入
        var id_card = $('#cid').val(); //身份证
        var jdradio = ''; //婚否
        $('.jdradio').each(function(i){
          if($(this).attr('checked')=='checked'){
            jdradio = $(this).val();
          }
        })
        //获取数据ajax后台保存到数据库
        $.ajax({
          url:'__MODULE__/Member/actionMore',
          type:'post',
          data:{'educate':education,'id_card':id_card,'income':monthlyIncome,'marriage':$s_jdradio,'uid':<{$uid}>},
          success:function($msg){
            if($msg=='1'){
              alert('保存成功');
              window.location.href = "__MODULE__/Member/more/uid/<{$_SESSION['login_info']['uid']}>";
            }
          }
        });
      });
    })
  </script>

</body>
</html>