<div class="w">
  <div id="footer-2013">
    <div class="links">
      <a href="http://www.jd.com/intro/about.aspx" target="_top" rel="nofollow">关于我们</a>
      |
      <a href="http://www.jd.com/contact/" target="_top" rel="nofollow">联系我们</a>
      |
      <a href="http://zhaopin.jd.com/" target="_top" rel="nofollow">人才招聘</a>
      |
      <a href="http://www.jd.com/contact/joinin.aspx" target="_top" rel="nofollow">商家入驻</a>
      |
      <a href="http://sale.jd.com/act/y3surX7qpM.html" target="_top" rel="nofollow">广告服务</a>
      |
      <a href="http://app.jd.com/" target="_top" rel="nofollow">手机京东</a>
      |
      <a href="http://club.jd.com/links.aspx" target="_top">友情链接</a>
      |
      <a href="http://cps.jd.com/" target="_top">销售联盟</a>
      |
      <a target="_top" href="http://club.jd.com/">京东社区</a>
      |
      <a target="_top" href="http://gongyi.jd.com/">京东公益</a>
    </div>
    <div class="copyright">
      北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;互联网药品信息服务资格证编号(京)-非经营性-2011-0034
      <br>
      <a target="_top" href="f_music.jpg" rel="nofollow">音像制品经营许可证苏宿批005号</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号
      <br>
      <a target="_top" href="wlwhjyxkz.jpg">网络文化经营许可证京网文[2011]0168-061号</a>
      &nbsp;&nbsp;Copyright&nbsp;©&nbsp;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有
      <br>
      京东旗下网站：
      <a target="_top" href="http://en.jd.com/">English Site</a>
    </div>
    <div class="authentication">
      <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026" target="_top" rel="nofollow">
        <img class="err-product" src="__IMAGE__/108_40_zzoknl.gif" alt="经营性网站备案中心" height="40" width="108"></a>
      <a href="https://ss.cnnic.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005" tabindex="-1" id="urlknet" target="_top" rel="nofollow">
        <img class="err-product" src="__IMAGE__/rbehafcfc5qiaaaaaaasvqx9rayaacb2whuv1kaabjt760.gif" alt="可信网站" name="CNNIC_seal" oncontextmenu="return false;" onclick="CNNIC_change('urlknet')" border="true" height="40" width="108"></a>
      <a href="http://www.bj.cyberpolice.cn/index.do" target="_top" rel="nofollow">
        <img class="err-product" src="__IMAGE__/rbeide_nzciiaaaaaab30myxo5qaacrhacj22iaahfq378.png" alt="朝阳网络警察" height="40" width="108"></a>
      <a href="https://search.szfw.org/cert/l/CX20120111001803001836" target="_top" rel="nofollow">
        <img class="err-product" src="__IMAGE__/112_40_wvaril.png" height="40" width="112"></a>
    </div>
  </div>
</div>