<div id="footer-2014">
  <div class="links">
    <a rel="nofollow" target="_top" href="http://www.jd.com/intro/about.aspx">关于我们</a>
    |
    <a rel="nofollow" target="_top" href="http://www.jd.com/contact/">联系我们</a>
    |
    <a rel="nofollow" target="_top" href="http://www.jd.com/contact/joinin.aspx">商家入驻</a>
    |
    <a rel="nofollow" target="_top" href="http://jzt.jd.com/">营销中心</a>
    |
    <a rel="nofollow" target="_top" href="http://app.jd.com/">手机京东</a>
    |
    <a target="_top" href="http://club.jd.com/links.aspx">友情链接</a>
    |
    <a target="_top" href="http://media.jd.com/">销售联盟</a>
    |
    <a href="http://club.jd.com/" target="_top">京东社区</a>
    |
    <a href="http://gongyi.jd.com/" target="_top">京东公益</a>
    |
    <a href="http://en.jd.com/" target="_top">English Site</a>
    |
    <a href="http://help.en.jd.com/help/question-46.html" target="_top">Contact Us</a>
  </div>
  <div class="copyright">
    北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;
    <a target="_top" href="53f16c24n7c04d9e9.jpg">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大120007号
    <br>
    <a rel="nofollow" href="f_music.jpg" target="_top">音像制品经营许可证苏宿批005号</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号
    <br>
    <a href="wlwhjyxkz.jpg" target="_top">网络文化经营许可证京网文[2014]2148-348号</a>
    &nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有
    <br>
    京东旗下网站：
    <a target="_top" href="http://www.360top.com/">360TOP</a>
    &nbsp;&nbsp;
    <a href="http://www.paipai.com/" target="_top">拍拍网</a>
    &nbsp;&nbsp;
    <a href="https://www.wangyin.com/" target="_top">网银在线</a>
  </div>
  <div class="authentication">
    <a rel="nofollow" target="_top" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026">
      <img alt="经营性网站备案中心" src="__IMAGE__/54b8871ena9a7067e.png" class="err-product" height="32" width="103"></a>
    <a rel="nofollow" target="_top" id="urlknet" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005">
      <img onclick="CNNIC_change('urlknet')" oncontextmenu="return false;" name="CNNIC_seal" alt="可信网站" src="__IMAGE__/54b8872dne37a9860.png" class="err-product" border="true" height="32" width="103"></a>
    <a rel="nofollow" target="_top" href="http://www.bj.cyberpolice.cn/index.do">
      <img alt="朝阳网络警察" src="__IMAGE__/54b8874bn694454a5.png" class="err-product" height="32" width="103"></a>
    <a rel="nofollow" target="_top" href="https://search.szfw.org/cert/l/CX20120111001803001836">
      <img src="__IMAGE__/54b8875fnad1e0c4c.png" class="err-product" height="32" width="103"></a>
    <a target="_top" href="http://jubao.china.cn:13225/reportform.do">
      <img src="__IMAGE__/54b8863dn8d2c61ec.png" class="err-product" height="32" width="185"></a>
  </div>
</div>