<div id="footBox">
  <div class="items">
    <div class="imgs">
      <img src="__IMAGE__/service_items_1.png" alt=""/>
      <img src="__IMAGE__/service_items_2.png" alt=""/>
      <img src="__IMAGE__/service_items_3.png" alt=""/>
      <img src="__IMAGE__/service_items_4.png" alt=""/>
    </div>
    <div class="buttom">
      <dl class="fore1">
        <dt>购物指南</dt>
        <dd><a href="">购物流程</a></dd>
        <dd><a href="">购物流程</a></dd>
        <dd><a href="">购物流程</a></dd>
        <dd><a href="">购物流程</a></dd>
        <dd><a href="">购物流程</a></dd>
        <dd><a href="">购物流程</a></dd>
      </dl>
      <dl class="fore1">
        <dt>配送方式</dt>
        <dd><a href="">上门自提</a></dd>
        <dd><a href="">上门自提</a></dd>
        <dd><a href="">上门自提</a></dd>
        <dd><a href="">上门自提</a></dd>
        <dd><a href="">上门自提</a></dd>
      </dl>
      <dl class="fore1">
        <dt>支付方式</dt>
        <dd><a href="">货到付款</a></dd>
        <dd><a href="">货到付款</a></dd>
        <dd><a href="">货到付款</a></dd>
        <dd><a href="">货到付款</a></dd>
        <dd><a href="">货到付款</a></dd>
      </dl>
      <dl class="fore1">
        <dt>售后服务</dt>
        <dd><a href="">售后政策</a></dd>
        <dd><a href="">售后政策</a></dd>
        <dd><a href="">售后政策</a></dd>
        <dd><a href="">售后政策</a></dd>
        <dd><a href="">售后政策</a></dd>
      </dl>
      <dl class="fore2">
        <dt>特色服务</dt>
        <dd><a href="">夺宝岛</a></dd>
        <dd><a href="">夺宝岛</a></dd>
        <dd><a href="">夺宝岛</a></dd>
        <dd><a href="">夺宝岛</a></dd>
        <dd><a href="">夺宝岛</a></dd>
      </dl>
      <div class="coverage">
        <div class="dt">
          京东自营覆盖区县
        </div>
        <div class="dd">
          <p>京东已向全国2050个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
          <p class="ar"><a target="_blank" href="http://help.jd.com/user/issue/103-983.html">查看详情 ></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w">
  <div clstag="h|keycount|2015|33a" id="footer-2014">
    <div class="links">
      <a rel="nofollow" target="_blank" href="http://www.jd.com/intro/about.aspx">关于我们</a>|<a rel="nofollow" target="_blank" href="http://www.jd.com/contact/">联系我们</a>|<a rel="nofollow" target="_blank" href="http://www.jd.com/contact/joinin.aspx">商家入驻</a>|<a rel="nofollow" target="_blank" href="http://jzt.jd.com">营销中心</a>|<a rel="nofollow" target="_blank" href="http://app.jd.com/">手机京东</a>|<a target="_blank" href="http://club.jd.com/links.aspx">友情链接</a>|<a target="_blank" href="http://media.jd.com/">销售联盟</a>|<a href="http://club.jd.com/" target="_blank">京东社区</a>|<a href="http://gongyi.jd.com" target="_blank">京东公益</a>|<a href="http://en.jd.com/" target="_blank">English Site</a>|<a href="http://help.en.jd.com/help/question-46.html" target="_blank">Contact Us</a>
    </div>
    <div class="copyright">北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;
      <a target="_blank" href="http://img14.360buyimg.com/da/jfs/t256/349/769670066/270505/3b03e0bb/53f16c24N7c04d9e9.jpg">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>&nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大120007号<br><a rel="nofollow" href="http://misc.360buyimg.com/skin/df/i/com/f_music.jpg" target="_blank">音像制品经营许可证苏宿批005号</a>&nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号<br><a href="http://misc.360buyimg.com/wz/wlwhjyxkz.jpg" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a>&nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有<br>京东旗下网站：<a target="_blank" href="http://www.360top.com/">360TOP</a>&nbsp;&nbsp;<a href="http://www.paipai.com/" target="_blank">拍拍网</a>&nbsp;&nbsp;<a href="https://www.wangyin.com/" target="_blank">网银在线</a>
    </div>
    <div class="authentication">
      <a rel="nofollow" target="_blank" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026">
        <img alt="经营性网站备案中心" src="__IMAGE__/54b8871eNa9a7067e.png" class="err-product" height="32" width="103">
      </a>

      <a rel="nofollow" target="_blank" id="urlknet" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005">
        <img onclick="CNNIC_change('urlknet')" oncontextmenu="return false;" name="CNNIC_seal" alt="可信网站" src="__IMAGE__/54b8872dNe37a9860.png" class="err-product" border="true" height="32" width="103">
      </a>
      <a rel="nofollow" target="_blank" href="http://www.bj.cyberpolice.cn/index.do">
        <img alt="朝阳网络警察" src="__IMAGE__/54b8874bN694454a5.png" class="err-product" height="32" width="103">
      </a>
      <a rel="nofollow" target="_blank" href="https://search.szfw.org/cert/l/CX20120111001803001836">
        <img src="__IMAGE__/54b8875fNad1e0c4c.png" class="err-product" height="32" width="103">
      </a>
      <a target="_blank" href="http://jubao.china.cn:13225/reportform.do">
        <img src="__IMAGE__/54b8863dN8d2c61ec.png" class="err-product" height="32" width="185">
      </a>
    </div>
  </div>
</div>