<div id="nav">
  <div class="w">
    <div class="logo">
      <a href="__MODULE__/Index/index" target="_top" class="fore1"></a>
      <a href="__MODULE__/Member/home/uid/<{$_SESSION['login_info']['uid']}>" target="_self" class="fore2">我的京东</a>
      <a href="__MODULE__/Index/index" target="_top" class="fore3">返回京东首页</a>
    </div>
    <div class="navitems">
      <ul>
        <li class="fore-1">
          <a target="_self" href="__MODULE__/Member/home/uid/<{$_SESSION['login_info']['uid']}>">首页</a>
        </li>
        <li class="fore-2">
          <a href="http://me.jd.com/" target="_top">个人主页</a>
        </li>
        <li class="fore-3">
          <div class="dl">
            <div class="dt">
              <span class="myjd-set">账户设置</span> <b></b>
            </div>
            <div class="dd">
              <a tid="_MYJD_info" href="__MODULE__/Member/personal/uid/<{$_SESSION['login_info']['uid']}>" target="_self">
                <span>个人信息</span>
              </a>
              <a tid="_MYJD_safe"  href="__MODULE__/Member/safetyCenter/uid/<{$_SESSION['login_info']['uid']}>" target="_self">
                <span>账户安全</span>
              </a>
              <!--<a tid="_MYJD_accbinde"  href="http://safe.jd.com/union/index.action" target="_self">-->
              <!--<span>账号绑定</span>-->
              <!--</a>-->
              <a tid="_MYJD_grade"  href="__MODULE__/Member/grade/uid/<{$_SESSION['login_info']['uid']}>" target="_self">
                <span>我的级别</span>
              </a>
              <a tid="_MYJD_comments" href="__MODULE__/Member/grade/uid/<{$_SESSION['login_info']['uid']}>" target="_self">
                <span>收货地址</span>
              </a>
              <!--<a tid="_MYJD_share" href="http://share.jd.com/share/index.html" target="_self">-->
              <!--<span>分享绑定</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_rss" clstag="Homeedm" href="http://edm.jd.com/front/subscribe/index.aspx" target="_self">-->
              <!--<span>邮件订阅</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_recor" clstag="Homeedm" href="http://usergrade.jd.com/user/consume" target="_self">-->
              <!--<span>消费记录</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_app" clstag="Homeedm" href="http://fw.jd.com/home/auth_list.action" target="_top">-->
              <!--<span>应用授权</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_pay" clstag="Homequick" href="https://authpay.jd.com/card/queryBindCard.action" target="_top">-->
              <!--<span>快捷支付</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_zpzz" clstag="Homezpzz" href="http://invoice.jd.com/user/userinfo/zpzz.html" target="_self">-->
              <!--<span>增票资质</span>-->
              <!--</a>-->
            </div>
          </div>
        </li>
        <li class="fore-4">
          <div class="dl myjd-info">
            <div class="dt ">
								<span>
									社区
									<i></i>
								</span> <b></b>
            </div>
            <div class="dd">
              <a tid="_MYJD_joy" href="__MODULE__/Member/historyMsg/uid/<{$_SESSION['login_info']['uid']}>" target="_self">
									<span>
										消息精灵
										<b></b>
									</span>
              </a>
              <!--<a tid="_MYJD_activities" clstag="Homeclub" href="http://luck.jd.com/myjd/myJoinActivity.html" target="_self">-->
              <!--<span>我的活动</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_circle" clstag="Homejoincircle" href="http://group.jd.com/circle/myjoincircle.htm" target="_self">-->
              <!--<span>我的圈子</span>-->
              <!--</a>-->
              <!--<a tid="_MYJD_mycollect" clstag="Homethread" href="http://group.jd.com/thread/mythread.htm" target="_self">-->
              <!--<span>我的帖子</span>-->
              <!--</a>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-r">
      <div id="search-2014">
        <ul id="shelper" class="hide"></ul>
        <!--<div class="form">-->
          <!--<input value="秘密花园" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text" type="text">-->
          <!--<button onclick="search('key');return false;" class="button cw-icon" type="button">-->
            <!--<i></i>-->
            <!--搜索-->
          <!--</button>-->
        <!--</div>-->
      </div>
      <div id="settleup-2014" class="dorpdown">
        <div class="cw-icon">
          <i class="ci-left"></i>
          <i class="ci-right">&gt;</i>
          <i class="ci-count" id="shopping-amount">0</i>
          <a target="_top" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
        </div>
        <div class="dorpdown-layer">
          <div class="spacer"></div>
          <div id="settleup-content">
            <span class="loading"></span>
          </div>
        </div>
      </div>
      <div id="hotwords-2014">
        <a href="http://sale.jd.com/act/SyJi8KHaZYFjwLuq.html" target="_top" class="style-red">优惠券</a>
        <a href="http://list.jd.com/list.html?cat=670%2C716%2C722&amp;delivery=1&amp;page=1&amp;ev=834_56682||101308||13521" target="_top">3D巨幕</a>
        <a href="http://sale.jd.com/act/7RmiNZun1Y.html" target="_top">家电5折</a>
        <a href="http://sale.jd.com/act/JdyF1iDOSU.html" target="_top">200减100</a>
        <a href="http://sale.jd.com/act/WiNblg8JfIhXVHY6.html" target="_top">惊天满减</a>
        <a href="http://sale.jd.com/act/BPdqrCOIc86uZ.html" target="_top">大牌秒杀</a>
        <a href="http://sale.jd.com/act/0CoHdsWgeMjrpt7.html?cpdad=1DLSUE" target="_top">38折封顶</a>
        <a href="http://sale.jd.com/act/W1BULaSyo3.html?from=jdpopser_jr" target="_top">苹果399+</a>
        <a href="http://sale.jd.com/act/zvP8qMJLC7e.html" target="_top">机票20元</a>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>