<div id="nav">
  <div class="w">
    <div class="logo">
      <a href="http://www.jd.com/" target="_top" class="fore1"></a>
      <a href="http://home.jd.com/" target="_self" class="fore2">我的京东</a>
      <a href="http://www.jd.com/" target="_top" class="fore3">返回京东首页</a>
    </div>
    <div class="navitems">
      <ul>
        <li class="fore-1">
          <a target="_self" href="http://home.jd.com/">首页</a>
        </li>
        <li class="fore-2">
          <a href="http://me.jd.com/" target="_top" clstag="click|keycount|myhome|hgr">个人主页</a>
        </li>
        <li class="fore-3">
          <div class="dl" clstag="click|keycount|myhome|hsz">
            <div class="dt">
              <span class="myjd-set">账户设置</span> <b></b>
            </div>
            <div class="dd">
              <a tid="_MYJD_info" clstag="Homeyser" href="http://i.jd.com/user/info" target="_self">
                <span>个人信息</span>
              </a>
              <a tid="_MYJD_safe" clstag="Homesafe" href="http://safe.jd.com/user/paymentpassword/safetyCenter.action" target="_self">
                <span>账户安全</span>
              </a>

              <a tid="_MYJD_grade" clstag="Homegrade" href="http://usergrade.jd.com/user/grade" target="_self">
                <span>我的级别</span>
              </a>
              <a tid="_MYJD_comments" clstag="homeadd" href="http://easybuy.jd.com/address/getEasyBuyList.action" target="_self">
                <span>收货地址</span>
              </a>
              <a tid="_MYJD_share" clstag="Homeshare" href="http://share.jd.com/share/index.html" target="_self">
                <span>分享绑定</span>
              </a>
              <a tid="_MYJD_rss" clstag="Homeedm" href="http://edm.jd.com/front/subscribe/index.aspx" target="_self">
                <span>邮件订阅</span>
              </a>
              <a tid="_MYJD_recor" clstag="Homeedm" href="http://usergrade.jd.com/user/consume" target="_self">
                <span>消费记录</span>
              </a>
              <a tid="_MYJD_app" clstag="Homeedm" href="http://fw.jd.com/home/auth_list.action" target="_top">
                <span>应用授权</span>
              </a>
              <a tid="_MYJD_pay" clstag="Homequick" href="https://authpay.jd.com/card/queryBindCard.action" target="_top">
                <span>快捷支付</span>
              </a>
              <a tid="_MYJD_zpzz" clstag="Homezpzz" href="http://invoice.jd.com/user/userinfo/zpzz.html" target="_self">
                <span>增票资质</span>
              </a>
            </div>
          </div>
        </li>
        <li class="fore-4">
          <div class="dl myjd-info" clstag="click|keycount|myhome|hsq">
            <div class="dt ">
								<span>
									社区
									<i>2</i>
								</span> <b></b>
            </div>
            <div class="dd">
              <a tid="_MYJD_joy" clstag="Homemsg" href="http://joycenter.jd.com/" target="_self">
									<span>
										消息精灵
										<b>(2)</b>
									</span>
              </a>
              <a tid="_MYJD_activities" clstag="Homeclub" href="http://luck.jd.com/myjd/myJoinActivity.html" target="_self">
                <span>我的活动</span>
              </a>
              <a tid="_MYJD_circle" clstag="Homejoincircle" href="http://group.jd.com/circle/myjoincircle.htm" target="_self">
                <span>我的圈子</span>
              </a>
              <a tid="_MYJD_mycollect" clstag="Homethread" href="http://group.jd.com/thread/mythread.htm" target="_self">
                <span>我的帖子</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-r">
      <div id="search-2014">
        <ul id="shelper" class="hide"></ul>
        <!--<div class="form">-->
          <!--<input value="闪购特卖" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text" type="text">-->
          <!--<button onclick="search('key');return false;" class="button cw-icon" type="button">-->
            <!--<i></i>-->
            <!--搜索-->
          <!--</button>-->
        <!--</div>-->
      </div>
      <div id="settleup-2014" class="dorpdown">
        <div class="cw-icon">
          <i class="ci-left"></i>
          <i class="ci-right">&gt;</i>
          <i class="ci-count" id="shopping-amount">0</i>
          <a target="_top" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
        </div>
        <div class="dorpdown-layer">
          <div class="spacer"></div>
          <div id="settleup-content">
            <span class="loading"></span>
          </div>
        </div>
      </div>
      <div id="hotwords-2014">
        <a href="http://sale.jd.com/act/bpdqrcoic86uz.html" target="_top" class="style-red">机不可失</a>
        <a href="http://sale.jd.com/act/1LdMxPk5ZVB.html" target="_top">游戏爆品</a>
        <a href="http://sale.jd.com/act/BRmr0lD1qJjQ.html" target="_top">减减减</a>
        <a href="http://sale.jd.com/act/LJjlYizcMpoxqh.html" target="_top">低至5折</a>
        <a href="http://sale.jd.com/act/WiNblg8JfIhXVHY6.html" target="_top">惊天满减</a>
        <a href="http://sale.jd.com/act/MqVOwgZFE047m.html" target="_top">荣耀4A</a>
        <a href="http://tuan.jd.com/channel/entity-beijing-56-0-0-1-0-0-0-0-1.html" target="_top">暑期阅读</a>
        <a href="http://sale.jd.com/act/KXojGsEAh7Qk8.html?from=jdpopser_jr" target="_top">苹果免息</a>
        <a href="http://sale.jd.com/act/pQukl7nj3hf.html" target="_top">尖货1元</a>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>