<!DOCTYPE html>
<html>
<head lang="en">
  <title>后台管理员</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="__ADMINPUBLIC__/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
  <ol class="breadcrumb">
    <li>
      <a href="#">会员管理</a>
    </li>
    <li class="active">后台管理员</li>
  </ol>
  <nav class="navbar navbar-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  class="navbar-brand">
          <span class="glyphicon glyphicon-th-list"></span>
          &nbsp;&nbsp;管理员列表
          <if condition="$Think.session.role eq 1">
          <button id="add" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span>添加</button>
        </if>
        </a>
        
      </div>
      <div class="collapse navbar-collapse" >
        <form class="navbar-form navbar-right" action="__MODULE__/Member/admin" role="search" method="get">
          <div class="form-group">
            <label for="search" class="control-label">账号:</label>
            <input type="text" id="search" class="form-control" name="search"></div>
          <button type="button" class="btn  btn-primary">搜索</button>
        </form>
      </div>
    </div>
  </nav>

  <table style="text-align:center"  class="table  table-bordered table-hover table-striped" >
    <thead align="center">
      <tr class="info">
        <td> <strong>ID</strong>
        </td>
        <td> <strong>管理员账号</strong>
        </td>
        <td>
          <strong>权限</strong>
        </td>
        <td>
          <strong>状态</strong>
        </td>
        <td>
          <strong>最后登录时间</strong>
        </td>
        <td>
          <strong>操作</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <volist name="admins" id="ad">
        <tr>
          <td scope="row">
            <strong><{$ad['admin_id']}></strong>
            </td>
            <td>
              <{$ad['admin_name']}></td>
              <td>
                <if condition="$ad['role'] eq 1">
                  超级管理员
                  <elseif condition="$ad['role'] eq 2" />
                  管理员
                  <else />
                  网络编辑
                </if>
              </td>
              <td>
                <button class="btn <{$ad['right']}>
                  ">
                  <span class="<{$ad['status']}>"></span>
                </button>
              </td>
              <td>
                <{$ad['login_time']}></td>
                <td>
                  <a href="__MODULE__/Member/edit/id/<{$ad['admin_id']}>
                    " class="btn btn-info ">
                    <span class="glyphicon glyphicon-pencil"></span>
                    资料
                  </a>
                  <if condition="$Think.session.role lt $ad['role']">
                    <span>
                      <a href=""  admin_id="<{$ad['admin_id']}>
                        " class="btn btn-success ">
                        <span>
                          <{$ad['button']}></span>
                        </a>

                      </span>
                    </if>
                    <if condition="$Think.session.role lt $ad['role']">
                      <a href="__MODULE__/Member/editPwd/id/<{$ad['admin_id']}>/name/<{$ad['admin_name']}>" class="btn btn-warning  ">
                        <span>修改密码</span>
                      </a>
                    </if>
                    <if condition="($ad['role'] neq 1) AND ($Think.session.role eq 1)">

                      <a href="__MODULE__/Member/del/id/<{$ad['admin_id']}>" class="btn btn-danger ">删除</a>
                    </if>

                  </td>
                </tr>
               
                
              </volist>
              <tr>
                <td colspan="6" align="right">
                  <{$pageNav}>
                </td>
              </tr>

            </tbody>
          </table>

          <script src="__ADMINPUBLIC__/js/jquery-1.10.2.min.js"></script>
          <!-- jQuery -->
          <script src="__ADMINPUBLIC__/js/bootstrap.min.js"></script>
          <script>
  $(function(){
    $('#add').click(function(){
      location.href = '__CONTROLLER__/add';
    });
    $('tbody span a').click(function(){
      var $admin_id = $(this).attr('admin_id');
      var $status = $(this).children('span').text();
      $.post(
        "<{:U('Member/status')}>",
        {'admin_id':$admin_id,'status':$status},
        function($msg){
          if(!$msg){
            alert('操作失败');
          }
        }
        );
     
    });
  
  })
  </script>
</body>
        </html>