<!DOCTYPE html>
<html>
<head lang="en">
  <title>后台管理员</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="__ADMINPUBLIC__/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
 <input type="text" value="<{$file}>" id="pic" name="a">
 
     <script src="__ADMINPUBLIC__/js/jquery-1.10.2.min.js"></script>
          <!-- jQuery -->
          <script src="__ADMINPUBLIC__/js/bootstrap.min.js"></script>
         
  <script>
 
  </script>
</body>
</html>