<!DOCTYPE html>
<html>
<head lang="en">
  <title>后台管理员</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="__ADMINPUBLIC__/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
  <ol class="breadcrumb">
    <li>
      <a href="#">会员管理</a>
    </li>
    <li ><a href="#">前台商家</a></li>
    <li ><a href="#"><{$name}></a></li>
    <li class="active">密码修改</li>
  </ol>
  <nav class="navbar navbar-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  class="navbar-brand">
          <span class="glyphicon glyphicon-pencil"></span>
          &nbsp;&nbsp;填写密码
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <form id="forms" action="__CONTROLLER__/doEditPwd" class="form-horizontal" method="post">
        <div class="form-group">
          <label for="pwd" class="control-label col-sm-2 col-sm-offset-2">新密码:</label>
          <div class="col-sm-3">
            <input type="password" name="pwd" class="form-control" id="pwd">
          </div>
        </div>
        <div class="form-group">
          <label for="repwd" class="control-label col-sm-2 col-sm-offset-2">确认密码:</label>
          <div class="col-sm-3">
            <input type="password" name="repwd" class="form-control" id="repwd">
          </div>
          <label id="tips" for="repwd" class="sr-only"><strong class="lead text-danger">两次密码不一致</strong></label>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
          <a class="btn btn-success  btn-lg" id="submit">提交</a>
          <a class="btn btn-danger btn-lg" href="__CONTROLLER__/index">取消</a>
        </div>
        </div>
        <input type="hidden" name="id" value="<{$id}>">
      </form>
  </div>
     <script src="__ADMINPUBLIC__/js/jquery-1.10.2.min.js"></script>
          <!-- jQuery -->
          <script src="__ADMINPUBLIC__/js/bootstrap.min.js"></script>
  <script>
  $(function(){
    $('input').focus(function(){
      $('#tips').addClass('sr-only');
      $('.form-group').removeClass('has-error');
    });
    window.onkeydown = function(event){
      var e = event || window.event;
      if(e.keyCode == 13){
        $('#submit').trigger('click');
      }
    }
    $('#submit').click(function(){
      var $pwd = $('#pwd').val();
      var $repwd = $('#repwd').val();
      if($pwd == '' || $repwd == ''){
        alert('密码不能为空');
        return false;
      }
      if($pwd != $repwd){
        $('#tips').removeClass('sr-only');
        $('.form-group').addClass('has-error');
      }else{
        $('#forms').submit();
      }
    })
      
  })
  </script>
</body>
</html>