<!DOCTYPE html>
<html>
<head lang="en">
  <title>后台管理员</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="__ADMINPUBLIC__/css/bootstrap.min.css" rel="stylesheet"></head>

<body>
  <ol class="breadcrumb">
    <li>
      <a href="#">地址管理</a>
    </li>
    <li class="active">添加地区</li>
  </ol>

  <div class="container-fluid">
    <div class="panel">
      <div class="panel-heading panel-default">
        <nav class="navbar navbar-primary">
          <div class="container-fluid">
            <div class="navbar-header">
              <a  class="navbar-brand">
                <span class="glyphicon glyphicon-pencil"></span>
                &nbsp;&nbsp;填写地区分类信息
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="panel-body ">
        <form id="forms" action="__CONTROLLER__/doAdd" class="form-horizontal" method="post"  onsubmit='return false'>
          <div id="bor" class="form-group">
            <label for="name" class="control-label col-sm-2 col-sm-offset-2">地区名称:</label>
            <div class="col-sm-3">
              <input type="text" id="name" name="name" class="form-control" value=""></div>
          </div>
          <div class="form-group">
            <label for="pa" class="control-label col-sm-2 col-sm-offset-2">商品分类:</label>
            <div class="col-sm-3">
              <select name="p" id="pa" class="form-control">
                <option value="0">顶级分类</option>
                <volist name="cate" id="c">
                  <option value="<{$c['path']}><{$c['cat_id']}>" <{$c['is_show']}>>
                      <{$c['cat_name']}></option>
                    </volist>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label  class="control-label col-sm-2 col-sm-offset-2">地区类型:</label>
              <div class="col-sm-3">
                <input type="text" readonly name="type" class="form-control" value="省"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                  <button class="btn btn-success btn-lg" id="submit">添加</button>
                  <a href="__CONTROLLER__/index" class="btn btn-danger btn-lg">返回</a>
                </div>
              </div>
            </div>

          </div>

        </div>
        <script src="__ADMINPUBLIC__/js/jquery-1.10.2.min.js"></script>
        <!-- jQuery -->
        <script src="__ADMINPUBLIC__/js/bootstrap.min.js"></script>
        <script>
    $(function(){
      $('input').focus(function(){
        $(this).parent('div').parent('div').removeClass('has-error');
      });
      $('#submit').click(function(){
        var $name = $('#name').val();
        if($name == ''){
          $('#name').parent('div').parent('div').addClass('has-error');
          return false;
        }
        $('#forms').removeAttr('onsubmit');
        

      });
    })
    </script>

</body>
      </html>